[2021-07-06 14:30] lauren-herbine commented on #328
Hi @Cashe93-

#326 is a discussion about segmentation, and I would love your input/observations/frustrations to be noted after you've been working with the current VBET segmentation. We don't actually have a VBET project with segments talked about at the end of #108. Is the issue that the network type changes (i.e. from perennial to "connector" or ephemeral or something of the like) without a corr

[2021-07-06 14:39] lauren-herbine commented on #327
Just putting my two cents in- I do use HAND in the RS context projects a lot. Would love to see them/an updated version of them stay!

[2021-07-06 14:50] lauren-herbine commented on #328
@Cashe93 Additionally, would you mind making your "Calculation Methods" document a vignette? It will be easy for you to update and link to a vignette hosted as a gist, and will be awesome for us to have this documentation in the same format as other things. @joewheaton lays out how to write a vignette using markdown [here](http://etal.joewheaton.org/vignettes.html). Most of what you've already wri

[2021-07-06 16:21] philipbaileynar commented on #327
My vote is to do a perennial only hand run of our own instead of downloading from that commodore 64.

If we structure it to take a list of list of fcodes, we could expand it down the road to produce multiple hand rasters for different combinations of fcodes.

[2021-07-06 20:11] joewheaton commented on #320
So, @KellyMWhitehead can you give us an update on where you did this? I want the new inputs to VBET to be simplified to exactly what we did for business logic for HAND. Namely, there is a "Drainage" or channel input, and a "Topography" input:
![image](https://user-images.githubusercontent.com/9723905/124660289-42df6f80-de63-11eb-88ff-4ca8a6e95d2d.png)

The inputs for either can be a polyline, but

[2021-07-06 20:12] joewheaton opened #330 "Create a new Riverscapes Project type of Channel Area to house both this data type and optional tool"
Project Type: Channel Area

All this is a riverscapes project for a polygon that represents a channel area.  Someone could manually digitize and make this (e.g. @nick4rivers in QRiS). Someone could get it from some other source (e.g. a hydraulic model output). It could be for just a riverscape reach or multiple reaches, or could be an entire drainage network.
- [x] Define project type
- [x] Curate

[2021-07-06 20:17] joewheaton opened #331 "Add a Network Channel Area Tool"
## Network Channel Area Tool
This is a specific production grade tool that we will run with
Inputs:
- Flow Network (typically the NHD+HR) with drainage area and precipitation attribute
- Flow Area (typically NHD Flow Areas and/or Water Bodies)
- Bankfull Width Equation (typically f(precip, drainage area)

Output:
- Channel Area across entire network, where:
  -  in network line areas it uses the b

[2021-07-06 21:55] joewheaton commented on #310
We got 2790 in there as of 7/6/21. This is ready for @KellyMWhitehead to extract from. We put #329 for issues that arose.

[2021-07-06 21:56] joewheaton commented on #310
Forgot... this is the parameterization of the transform functions... So we're not done yet.

[2021-07-06 21:58] joewheaton commented on #310
@philipbaileynar do you to add Distance From Drainage Cell (x 3 for drainage area) and TWI (just one)?

[2021-07-06 22:01] philipbaileynar commented on #310
Add whatever you need to get the job done.

Kelly is going to extract two values.

[2021-07-06 22:12] lauren-herbine opened #332 "Errors in NHD+ HR"
If we're finding errors in the NHD+ HR (ex: major rivers mapped as both perennial and intermittent), is there someone we should contact at the National Map to log these?

[2021-07-06 22:13] joewheaton commented on #310
What do you mean he is extracting two values? Isn't he extracting values for every single line of evidence?
- Slope
- HAND
- Distance from Drainage
- TWI

[2021-07-06 22:14] philipbaileynar commented on #332
I have had positive results reporting problems to:

Annalisa Stasey
NHD Partner Support
U.S. Geological Survey
National Geospatial Technical Operations Center
1400 Independence Rd
Rolla, MO 65401
(573) 308-3671
astasey@usgs.gov

[2021-07-06 22:17] lauren-herbine commented on #332
Great, thanks @philipbaileynar !
Tagging @shelbysawyer and @joewheaton

[2021-07-06 22:19] philipbaileynar commented on #310
typo... I meant TWI (was on my phone)

[2021-07-07 16:55] joewheaton commented on #332
Thanks both on this. We got what we needed. @lauren-herbine and/or @shelbysawyer please reach out to Annalisa and share with her some of the issues you are finding (screen shots or a little video will do). Let her know that we're going to be spending a lot of time as a group engaging with 75% of the NHD+ HR network. With our eyes on it, ask if a) they would like us to report certain types of issue

[2021-07-07 16:59] joewheaton commented on #327
I think that running our own HAND or own as part of a TauDEM project could have huge value. However, I don't think it belongs in RS_Context. That breaks Philip's cardinal rule for inclusion there.

Sorry Pip, having spent a lot more time looking at NHD across the US, I don't think running it for only perrenial is a good idea. We can discuss further.

Tarboton's HAND is done and has a lot of value

[2021-07-07 22:25] joewheaton commented on #319
That's all @shelbysawyer... Nothing actionable for you on this. @MattReimer has it in [Riverscapes/QRAVEPlugin/issues/31](https://github.com/Riverscapes/QRAVEPlugin/issues/31)

[2021-07-07 22:25] #319 closed

[2021-07-09 18:18] MattReimer opened #337 "TauDEM: VBET Failed dinfflowdir on HUC 07080105"
This looks like some weird segfault problem. Needs to be debugged using Docker to simulate a cloud machine

[FAILED-07080105.log](https://github.com/Riverscapes/riverscapes-tools/files/6793238/FAILED-07080105.log)

[code]

[2021-07-09 18:21] MattReimer opened #338 "VBET Failed for Huc 16010202 (int argument is coming in None)"
[FAILED-16010202.log](https://github.com/Riverscapes/riverscapes-tools/files/6793249/FAILED-16010202.log)

[code]

[2021-07-09 20:30] Cashe93 commented on #328
Thanks for the response @lauren-herbine!  As @tyler1218hatch and myself understand it, there should be a valley bottom proportion calculated for each network type (ephemeral, intermittent, perennial, etc.). The issue I am running into is that the VBET output is not segmented so, there is no straightforward way to select portions of the valley bottom that are intersected by each network type. [Here

[2021-07-09 21:48] MattReimer opened #339 "update_brat_parameters failing for some users"
@tyler1218hatch is trying to run `scripts/update_brat_parameters.py` using the `brat_data_steward`

but he gets:

![unnamed](https://user-images.githubusercontent.com/1063391/125138910-5d645380-e0c4-11eb-97bc-7799c67cbe0e.png)

Seems like maybe a permissions problem?

[2021-07-10 00:04] KellyMWhitehead commented on #310
[Here](https://drive.google.com/file/d/1Lzt6vCvEwRjBrXzrUkTkghX5mg-rc6pk/view?usp=sharing) is the csv with extracted vbet evidence values. There are a three watersheds that HAND was unable to be generated - we are working on getting this fixed. Otherwise let me know if there are questions or concerns.

[2021-07-10 11:47] shelbysawyer commented on #310
Thanks @KellyMWhitehead!

@joewheaton My latest R script can be found [here](https://github.com/shelbysawyer/vbet_validation). Still working on that last part of breaking things out by user, but it's almost there.

[2021-07-12 01:40] Cashe93 commented on #328
Update: I have some other tasks that I need to complete this week and likely won't have much time to work on this.  @shelbysawyer, would you be able to tackle some of these metrics?

[2021-07-12 03:27] shelbysawyer commented on #328
Absolutely! Tomorrow is rig day for me and then I'm launching for my Grand Canyon trip. I'll be back Tuesday the 20th and can pick back up on tasks then. Thanks!

[2021-07-12 03:29] Cashe93 commented on #328
Right on! Happy floatin!

[2021-07-12 17:24] philipbaileynar commented on #331
Additional comments:

1. Additional inputs:
    - Attribute filter field (.e.g. `FCODE`)
    - list of filter attribute values to **retain** (i.e. the list of perennial, intermittent. This also helps avoid buffering canals and pipes etc).
1. An intersect is going to be needed before combining the network polygons and flow area polygons. These polygons are going to overlap where tribs meet large ri

[2021-07-12 17:35] philipbaileynar opened #340 "tauDEM riverscapes tool"
This is a new riverscapes tool that explicitly produces tauDEM datasets needed by our tools. For now we will limit the tool to just the datasets we need immediately. It can easily grow over time. I don't want to expend lots of effort learning complex tauDEM workflows for things that don't immediately plug into our existing tools.

Immediate tauDEM outputs:

- Inputs
    - DEM
    - Channel Area Ve

[2021-07-13 20:22] lauren-herbine opened #341 "Manual curation of riverscapes for first run of RS tool"
I will be

- [ ] manually curating a dataset of ~50-100 riverscapes across a couple of HUC 8s (see [vignette](https://gist.github.com/lauren-herbine/a6d3b8d0ee23e07e702d522762127ed7) on how these were chosen) to provide a dataset for tool validation
- [ ] developing a set of "rules" that provide thresholds for metrics that will be used to discriminate the riverstyles found in these HUCs
- [ ] nami

[2021-07-13 20:32] lauren-herbine commented on #341
@philipbaileynar and @KellyMWhitehead I have my first 16 Riverscapes "styled" in the Cheat River watershed:
![image](https://user-images.githubusercontent.com/73319684/125520186-6ad6a823-8a15-401c-982a-60125b7e16d7.png)

Though definitely not a final draft, here are the 7 "riverscape styles" I have identified and the means by which I have been discriminating them.
![RSTesting trees](https://user-i

[2021-07-14 15:42] MattReimer opened #342 "GDAL 3.3 Causes break in ExportToWkb"
This should be a pretty straightforward fix.

[2021-07-14 21:35] joewheaton commented on #310
Thanks @KellyMWhitehead. A few questions:
1. Do you have the look up table for what CategoryID corresponds to what?
2. Why didn't the UserID come through (or for that matter date fields)? We sort of need those.

[2021-07-14 21:38] joewheaton commented on #310
Excellent @shelbysawyer. It looks like you got pretty far. The sort by user is all for not until we get that field fixed.... (also less important at this stage). @philipbaileynar and @KellyMWhitehead did you guys try the R script?

[2021-07-14 21:46] philipbaileynar commented on #310
I have not tried the r script. Relying on you fine folks for that.

[2021-07-15 21:00] KellyMWhitehead commented on #310
@joewheaton , @shelbysawyer

Here is a new version of the csv with the category name added. For reference, the lookup table can also be found in the postgis database (vbetcategories). I also included the other fields that were missing.

[vbet_evidence_02.csv](https://github.com/Riverscapes/riverscapes-tools/files/6826194/vbet_evidence_02.csv)
[categorylookup.csv](https://github.com/Riverscapes/riv

[2021-07-15 21:44] lauren-herbine commented on #310
@shelbysawyer (I know you're in the middle of the Grand right now, just dropping a note for when you're back)- I was able to get pieces of your script to work correctly. The main issues are/were:

- some basic capitalization/spelling/naming issues that I've corrected
- creating the "evidence" table. I'm not sure why this didn't work, but I could not get the csv to load into this. It worked for the

[2021-07-16 22:14] MattReimer commented on #263
This is done I think. Closing.

[2021-07-16 22:14] #263 closed

[2021-07-16 22:16] MattReimer commented on #331
This is merged. closing

[2021-07-16 22:16] #331 closed

[2021-07-19 16:12] MattReimer commented on #330
Added the ChannelArea type to the RiverscapesXML repo and added it to the Anabranch program
https://github.com/Riverscapes/RiverscapesXML/pull/150

[2021-07-19 17:13] MattReimer opened #344 "Remove usage of `eval` in Brat"
Brat scripts use `eval()` to evaluate equations. That is not a good idea and we should remove these usages wherever possible.

`rscommons` now has a `math` module with an equation parser and good errors so let's use that.

[2021-07-19 17:14] MattReimer commented on #332
Not sure if this is still open. @lauren-herbine could you confirm and close this issue if it's resolved?

[2021-07-19 17:16] MattReimer commented on #342
This is fixed. We'll see this in the next release.

[2021-07-19 17:23] #328 closed

[2021-07-19 17:30] lauren-herbine commented on #332
Yes, sorry, resolved with Philip's answer

[2021-07-19 17:30] #332 closed

[2021-07-20 00:36] tyler1218hatch commented on #339
@philipbaileynar Any updates on this? If there's a quick workaround for this, let me know. I just need the watershed parameters updated for this one run.

[2021-07-20 00:45] philipbaileynar commented on #339
Sorry @tyler1218hatch

I just set a reminder to do this at 9am. Should be quick.

[2021-07-20 00:47] tyler1218hatch commented on #339
Thanks!

On Mon, Jul 19, 2021 at 7:45 PM Philip Bailey ***@***.***>
wrote:

[2021-07-20 17:56] lauren-herbine opened #347 "Decide inputs to Channel Area tool for purposes of MRB VBET and RS"
Standard inputs to the ChannelArea tool from #330 are now:

- Flow Network (typically the NHD+HR) with drainage area and precipitation attribute
- Flow Area (typically NHD Flow Areas and/or Water Bodies)
- Bankfull Width Equation (typically f(precip, drainage area)

With projects looking something like this:

We need to...
- [x] Decide which FCodes should we include as input to Channel Area tool f

[2021-07-20 18:57] philipbaileynar commented on #339
@tyler1218hatch I do not get this error. And I have confirmed that `brat_data_steward` can indeed read from the watersheds table.

What credentials do you have in your .env file in your Python environment. DON'T POST THEM HERE. Perhaps give me a ping on Google Chat or BaseCamp to discuss.

[2021-07-20 19:05] philipbaileynar commented on #339
I have tweaked my setup so that I am now running update parameters using the `brat_data_steward` postgres account. I get past the error that @tyler1218hatch was having but then it fails for me when it is trying to determine the primary keys of tables by reading from the postgres `information_schema.table_constraints` table:

https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/bra

[2021-07-20 21:56] philipbaileynar commented on #347
@tyler1218hatch did some nice research on [waterbody FCodes](https://github.com/Riverscapes/riverscapes-tools/issues/119)

[2021-07-21 00:22] joewheaton commented on #331
Spot on @philipbaileynar! Lets keep it entirely vector.  Operations to go to raster should be in tauDEM (#340) and/or VBET.

Yes, we will want FCode if present for waterbodies, flow areas and drainage networks.

Exactly!

[2021-07-21 00:38] joewheaton opened #348 "Update ChannelArea tool inputs to include waterbodies"
Please include waterbodies as an additional input. They should keep their FCODEs and they should get priority over network lines just like flow area polygons. They will get combined with other flow area and buffered network lines of evidence (minus FCODE filtering in #347) to make a channel area polygon. Please retain their in-built segmentation if possible.

[2021-07-21 01:15] joewheaton commented on #347
@lauren-herbine  I am laying this out here so you will have markdown for website documentation of deliverables:

## Task 1 Decide which FCodes should we include as input to Channel Area tool for Mississippi Basin (this will dictate what is used for TauDEM, VBET & River Styles)?

### For Flowlines (polyline network)
Include all the streamline (46000  feature type only: no attributes; 46003 intermit

[2021-07-21 16:08] joewheaton opened #349 "Develop QA/QC workflow for ChannelArea project outputs"

[2021-07-21 16:08] joewheaton opened #350 "Request NAR to produce Mississippi Channel Area Polygons for initial 20 HUC 8s for testing"

[2021-07-21 16:08] joewheaton opened #351 "Apply QA/QC workflow to initial 20 HUC 8s for ChannelArea"
Once #349 and #350 are done, please complete this. We'll discuss with @MattReimer how to gobble up results/bread crumbs of Data QA/QC workflow into projects.

[2021-07-22 17:27] shelbysawyer commented on #325
@joewheaton I have a question about TWI related to the updated csv that @KellyMWhitehead provided. I'm noticing a lot of -1 values, which I didn't experience when I queried the layer in Arc / Q. Is the -1 a true TWI output or is there something odd happening somewhere along the way?

[2021-07-22 18:45] shelbysawyer commented on #310
@KellyMWhitehead I'm working with the updated csv that you provided above and I'm not seeing the associated drainage area information. Can you please send another csv my way that includes that information?

[2021-07-22 19:52] joewheaton commented on #310
@shelbysawyer I just checked in with @philipbaileynar who was pinging with @KellyMWhitehead. He is re-running right now to get those drainage size categories, and it should come by end of day.  He's going to give you drainage area (sq. km), stream order and input zones.

Yes it will be small, medium and high. Currently, the "inputZones" are:

- 0 (Low): Stream Order 0, 1 & 2
- 1 (Med): Stream Orde

[2021-07-22 19:55] philipbaileynar commented on #310
Here's the [NHD Plus HR documentation](https://github.com/Riverscapes/riverscapes-tools/files/6864897/ofr20191096.pdf) on stream order. Page 39.

<img width="469" alt="Screen Shot 2021-07-22 at 12 53 22 PM" src="https://user-images.githubusercontent.com/8645379/126701328-915d38d8-ed66-4706-a464-89951cadc66a.png">

[2021-07-22 23:12] KellyMWhitehead commented on #310
@shelbysawyer New version of evidence csv: [vbet_evidence_03.csv](https://github.com/Riverscapes/riverscapes-tools/files/6865685/vbet_evidence_03.csv)

Now includes:
* NHD Stream Order
* NHD Total Drainage Area for reach catchment (sqkm)
* Input Zone (based on stream order Low (0,1), Medium (2,3) and Large (4 and greater). This can be modified, but this is what vbet is currently using.

[2021-07-23 16:08] MattReimer commented on #342
This has been patched in `dev`. We should be ok moving forward

[2021-07-23 16:08] #342 closed

[2021-07-23 16:51] shelbysawyer commented on #310
Thank you @KellyMWhitehead!

[2021-07-23 16:52] philipbaileynar commented on #119
Issue #347 has superseded this issue now. Thanks for the early research.

[2021-07-23 16:52] #119 closed

[2021-07-23 17:48] MattReimer commented on #337
Noticed when running HAND through the new TauDEM tool:

[code]

[2021-07-23 18:15] joewheaton opened #355 "Understand why TWI producing NoData and -1 outputs, and decide strategy for VBET"
In #325 we saw some weird outputs for the topographic wetness index that @KellyMWhitehead implemented.  There were a number of places with NoData within the DEM raster grid, and that didn't make sense. There were also areas with -1 as answer, which is also odd.

Anyhow, we need to get to the bottom of this as this is now an input in VBET and one of the many outputs of TauDEM. As such, maybe we can

[2021-07-23 18:16] joewheaton commented on #355
@philipbaileynar you may have some insights or thoughts on this (and especially coping strategy 3).

[2021-07-23 18:16] joewheaton opened #356 "4. How do we interpret range of values produced in TWI?"
@shelbysawyer, after you're done with transform curves, please investigate this (you will likely need to read TauDEM documentation, do some spreadsheet games and read some papers.

[2021-07-23 18:17] joewheaton commented on #325
See #355.

[2021-07-23 18:17] #325 closed

[2021-07-23 21:53] joewheaton commented on #310
## Decide what we want Likelihoods to Mean
Lets use this for specifying our break points on y-axis (assuming lines of evidence will be combined by averaging values for each from 0 to 1):

| CategoryID | Likelihood | Label in Legend | Notes/Rationale |
|---|---|---|---|
|NA | 1.0 | Definitely Valley Bottom | Mythical Upper limit to be used (i.e. 100% probability). |
| 1 | 1.0 to 0.99 | Estimated Ac

[2021-07-23 21:54] KellyMWhitehead commented on #348
Code updated in b01589996a46cf6cf404a79e4d06a0f33a781f42

[2021-07-23 22:00] shelbysawyer opened #357 "Null / Missing Values in VBET Evidence CSV"
We've noticed from null or missing values in the csv, and I'm curious about what's causing that. It seems to be occurring for every line or evidence apart from slope.

[2021-07-23 23:11] shelbysawyer commented on #356
Here is what we're seeing with TWI for points that are not valley bottoms. There is not much difference between small, medium, and large. Ignore the red plot.
![image](https://user-images.githubusercontent.com/73311751/126849271-2f430151-2b07-4c22-a269-adffd3e11e32.png)

[2021-07-23 23:22] joewheaton commented on #310
Okay @KellyMWhitehead and @philipbaileynar. @shelbysawyer and I are done with first pass on [spreadsheet](https://docs.google.com/spreadsheets/d/1rClE5BCK8nBXZBwH7cRRa3MJseE1Vj5xhYutxeHNotE/edit#gid=0).

[2021-07-23 23:22] #310 closed

[2021-07-23 23:52] KellyMWhitehead commented on #294
This issue has been resolved by the following tool enhancements:
1) channel area project incorporates waterbodies into the channel area
2) Rasterization of channel area is done by each tool that has channel area as an input (vbet, taudem, hand).

[2021-07-23 23:52] #294 closed

[2021-07-26 18:39] lauren-herbine commented on #349
[Here](https://github.com/Riverscapes/RiverscapesData/issues/new/choose) is the template
@joewheaton let me know if you think I'm missing anything major! I might do some edits as I start to QA/QC the first few CA project outputs

[2021-07-27 16:59] lauren-herbine commented on #347
Cleaning up the table a bit to include only the ones @joewheaton highlighted above. So far in the watersheds I've been flying around to I agree with these. It seems like dammed systems are treated slightly differently in different places, so it is important that we include the artificial paths, connectors, and ephemeral network. Potentially treat them all the same in most contexts? Example: the ma

[2021-07-27 17:31] joewheaton commented on #349
This is great for a start. You might want to edit the instructions as comments:
``

[2021-07-29 15:25] #348 closed

[2021-07-29 15:31] joewheaton commented on #340
Thank you @KellyMWhitehead for this [first draft project](https://data.riverscapes.xyz/#/Anabranch/448e792e-4873-4467-bdea-dd8ea5c57803)

[2021-07-29 15:48] joewheaton opened #358 "Incorporate most all LANDFIRE into RSContext"
@Tanmanfalcon, following up on conversation you, @wally-mac, @Cashe93 and I had yesterday, please add to this ticket to answer specifically from [LANDFIRE](https://www.landfire.gov) website which layers to add to RS Context we talked about. Below are some links form an old scoping discussion with @lauren-herbine. When done, please reassign to @philipbaileynar and then he will assign accordingly in

[2021-07-29 17:24] joewheaton commented on #357
@shelbysawyer can you please take a little screen shot or insert a table here showing @KellyMWhitehead exactly what you're talking about and for what fields from the CSV.

[2021-07-29 17:32] joewheaton opened #359 "Bring in National Wetlands Inventory Data to RAVE or RS Context"
As per email with @wally-mac, @tyler1218hatch please work with @philipbaileynar as necessary to bring in the [National Wetlands Inventory Data](https://www.fws.gov/wetlands/data/web-map-services.html) into either Riverscapes Context project, or if the web mapping service is reliable, as a default layer in the Basemaps (preferred):
![image](https://user-images.githubusercontent.com/9723905/11389855

[2021-07-29 17:54] shelbysawyer commented on #357
@KellyMWhitehead Specifically, I noticed that the HAND, ChannelDist, and TWI fields are missing for some of the points.

The pattern that I have noticed is that when a feature is missing information from these fields, it is either missing both HAND and TWI _or_ all three fields. I don't believe there are any that are only missing one field.

[Here](https://youtu.be/UYSMmZivBUc) is a video showing

[2021-07-30 22:09] joewheaton opened #360 "Would be nice to add Stream Gages to RS Context"
![image](https://user-images.githubusercontent.com/9723905/93632164-17f65e80-f9aa-11ea-8e5b-e1f0f1261ffd.png)

[2021-08-02 00:01] joewheaton opened #361 "Fix missing carriage returns for `<Warehouse>` versus `<MetaData>` section in top branches of RS Context"
## The Problem
This is really minor, but it does mean when you open the XML it is less readable. If we are going to have a short period of minor manual editing of `project.rs.xml` to add QA QC tags or do manual curation, I guess it would be nice. I have noticed in just about every `project.rs.xml` the  `<Warehouse>` tag and all the children's content is on one line with the   `<MetaData>` start ta

[2021-08-02 01:01] MattReimer commented on #361
This is because the xml library I'm using to do this work doesn't do formatting.

I get that the xml doesn't read very well but this is going to be some effort to fix and without a good formatter any fix will likely be a bit hack-y

Happy to have the ticket around though as a reminder to check in from time to time.

[2021-08-02 02:26] joewheaton commented on #361
No big deal.... just thought I would flag it in case it is easy. Even if it is just a known issue, that's fine too. Thanks.

[2021-08-03 18:02] joewheaton opened #362 "Update output VBET polygons, to new likelihood values"
In #310 we updated the transform functions to correspond to a new calibration/definition of what the categories were:

| CategoryID | Likelihood | Label in Legend | Notes/Rationale |
|---|---|---|---|
|NA | 1.0 | Definitely Valley Bottom | Mythical Upper limit to be used (i.e. 100% probability). |
| 1 | 1.0 to 0.99 | Estimated Active Channel | Mapped as and what we assign from Distance = 0 of Chan

[2021-08-04 00:55] shelbysawyer commented on #325
@joewheaton For TauDEM and VBET curation purposes.. checking to see if any specific symbology was favored for TWI?

[2021-08-04 17:47] philipbaileynar opened #363 "Make BRAT work with new multi-feature VBET"
The goal of this ticket is to update BRAT so that it works with the latest version of VBET that produces multiple polygons, instead of one big unioned valley bottom polygon.

# Background

BRAT is a two step process:

1. BRAT Build - performs all the geospatial calculates all the attributes needed for BRAT.
2. BRAT Run - uses FIS to calculate the BRAT capacity outputs and then run conservation cal

[2021-08-04 18:23] joewheaton opened #364 "2. Update business logic to go from six to four see below)"

[2021-08-04 19:11] joewheaton opened #365 "Channel Area Evidence Tweaks"

[2021-08-05 01:41] joewheaton commented on #325
No... I didn't find anything. Probably just blues or greens in VBs and warm colors up the slope?

[2021-08-05 16:47] philipbaileynar opened #367 "tauDEM Project XML Errors"
The tauDEM project XML uses backslashes instead of forward slashes for folder paths. This is preventing tauDEM projects from working in QRAVE.

[code]

<img width="412" alt="Screen Shot 2021-08-05 at 9 46 41 AM" src="https://user-images.githubusercontent.com/8645379/128389036-8245b503-7be1-4707-b790-dabb5adbe198.png">

[2021-08-05 17:48] philipbaileynar commented on #367
@MattReimer tells me that this is a problem with QRAVE and that the project XML can continue using windows folder paths. QRAVE needs to be able to handle both forward and backslashes.

[2021-08-05 18:59] joewheaton opened #368 "Derive and Add Hillshade to TauDEM projects"
Looking at [TauDEM 17070106](https://data.riverscapes.xyz/#/Anabranch/f713e68d-82d9-4e85-8daa-43ab896e8ad0).  We noticed there is no hillshade in the project. We need to:

- [x] Always derive and store in inputs the hillshade from DEM
- [x] Expose it in Business logic
- [x] Also, make sure the dateCreated field is taken care of (our's still reads as Jul 23 and I know you did this more recently).

[2021-08-05 23:37] MattReimer commented on #367
Just for completeness here's the issue in QRAVE
https://github.com/Riverscapes/QRAVEPlugin/issues/30

This is not just a problem with QRAVE. It's a problem with all RAVE products. Here's the rules:

1. All tools that read project rs xml files should be able to handle windows paths but...
2. All tools that create project files should, as a best practice, use linux paths by default if they can.

[2021-08-06 00:09] philipbaileynar commented on #367
Closing this issue based on Matt's feedback. The solution is to fix RAVE.

[2021-08-06 00:09] #367 closed

[2021-08-06 15:08] #365 closed

[2021-08-06 16:09] joewheaton opened #369 "VBET Tweaks and Refinements - 8/5/2021"
On 8/5/2021, @philipbaileynar, @KellyMWhitehead and @joewheaton dug into the latest VBET iteration on 10190005.  A number of concerns were raised, model behaviors realized and some decisions on changes made. Overall, @KellyMWhitehead is making excellent progress and VBET behavior is making sense. We are also happy with changes @KellyMWhitehead made towards #362.  Once @joewheaton saw the behavior

[2021-08-06 16:11] joewheaton opened #370 "G. Calculate GDAL D8 Slope from DEM as part of TauDEM project and pass as input back to VBET as the Slope input derived from same DEM"
In current TauDEM we are calculating `Output_D-Infinity_Slope_Grid` as part of [DInfinityFlowDir](https://hydrology.usu.edu/taudem/taudem5/help53/DInfinityFlowDirections.html). We do not **yet** understand exactly what the units and range of this calculation are nor its sensitivity to cell resolution (e.g. 10 m NED vs. 1 m LiDAR). As such, we will continue to include it TauDEM projects, but we wil

[2021-08-10 16:20] MattReimer opened #374 "Science Base NTD Query broken for Idaho"
Seems like the NTD query for Idaho is breaking on science base. Originally we thought this was related to the outage sciencebase was experiencing but it appears it's a legitimate issue where the record is either missing or moved.

As a result none of the Idaho RSContext projects will be able to complete until we solve this.

[2021-08-10 16:30] #374 closed

[2021-08-11 16:11] MattReimer commented on #340
I'm calling this done. Let's open enhancement issues and bug issues if we need to change it.

[2021-08-11 16:11] #340 closed

[2021-08-11 19:44] joewheaton commented on #369
Sounds good @shelbysawyer

[2021-08-11 20:41] joewheaton opened #376 "Where is TauDEM and Channel Area documentation for website?"
Hey @MattReimer. @shelbysawyer and @lauren-herbine are going to start working on documentation for TauDEM and ChannelArea projects. I know for VBET, there is a `VBET/docs` folder in [`packages/`](https://github.com/Riverscapes/riverscapes-tools/tree/master/packages) corresponding to the https://tools.riverscapes.xyz/vbet/ Jekyll pages. However, in the `packages/`](https://github.com/Riverscapes/ri

[2021-08-11 20:52] MattReimer commented on #376
It's all on the `dev` branch @joewheaton. please write any docs there and it will all merge to master with the tools at the same time.

[2021-08-11 20:58] joewheaton opened #377 "TauDEM Documentation Version 1"
In #340 @philipbaileynar said:

@shelbysawyer I would like you to start building out some basic documentation pages (see what @MattReimer says on #376 for where to do this).  I will post some guidelines on what minimally to include.

[2021-08-11 21:06] joewheaton opened #378 "Fix loose-ends on TauDEM - Is this documentation that is tool specific or project specific?"
As part of original #340 request for TauDEM, @philipbaileynar asked for:

@MattReimer closed #340 and asked for us to split out remaining stuff on new enahncements.

Where does the information @philipbaileynar  asked for really belong?

- [ ] Provide verbose acknowledgement of tauDEM tool and developers in TauDEM tool documentation (#377)
- [ ] What is TauDEM web site URL
- [ ] What is citation to

[2021-08-11 21:08] joewheaton commented on #378
Re:

I think that this information really is appropriately placed in the TauDEM tool documentation site (see #377 and #376).  I don't think it is "project specific" and therefore does NOT belong in `project.rs.xml` as project-specific meta data. It is tool specific (see discussions at https://github.com/Riverscapes/RiverscapesData/discussions on some of this too!) @MattReimer and @philipbaileynar

[2021-08-11 21:12] joewheaton commented on #378
Re:

https://hydrology.usu.edu/taudem/taudem5/ for actual, but we should put ours that links to that in https://tools.riverscapes.xyz/taudem

Re:

On https://hydrology.usu.edu/taudem/taudem5/publications.html, David lists:

The most relevant if we had to choose one is:

[2021-08-11 21:12] joewheaton commented on #340
Fair enough. This from @philipbaileynar above was definitely not done.

The standard thing will be for each projectXML to be associated with the tool documentation and we funnel people off there (see #376). However, to make sure this is done, I'm making a new enhancement issue and assigning it to @philipbaileynar for him to delegate as he sees fix.  See #378

[2021-08-11 21:25] joewheaton commented on #377
@shelbysawyer you make your edits here: https://github.com/Riverscapes/riverscapes-tools/tree/dev/packages/taudem by putting a docs folder in there for website.

[2021-08-11 22:40] joewheaton commented on #376
Okay. Just spelling out as reminder for @joewheaton and @shelbysawyer :
- In general, the changes should be in the branch where that "tool" is getting developed (e.g. for TauDEM in a TauDEM branch)
- In this instance, that tool has been merged into the Development branch, so that's where it is
- It is important that the documentation goes along with the version of the tool
- The *.yml is a little

[2021-08-11 23:59] MattReimer commented on #376
Probably the best thing to do is make a branch called `docs` based on where `dev` is right now and then everyone make your changes there. We can merge it all when I get back in town

[2021-08-13 16:25] KellyMWhitehead commented on #370
@joewheaton,

Here is a [new project](https://data.riverscapes.xyz/#/Anabranch/5c9a3651-7d37-4813-a3ab-86a90697bf0c) with the changes, let me know if any other changes or adjustments are needed.

[2021-08-13 16:26] KellyMWhitehead commented on #369
@joewheaton

[VBET project](https://data.riverscapes.xyz/#/Anabranch/787ed25d-117d-49a9-a3eb-c14a3a22c564) with the latest changes.

[2021-08-15 22:23] joewheaton commented on #369
Thanks @KellyMWhitehead. Can you or @philipbaileynar please clarify if this "latest changes" includes Tasks A, C, E , F and G or only B and D (if it does, please check off tasks accordingly or explain why not and when).

- [ ] @lauren-herbine, now that you have nice new business logic, please have a look at the Channel Area feeding this project (RiverscapesData/issues/18](https://github.com/Rivers

[2021-08-15 23:00] joewheaton commented on #356
@shelbysawyer new [TWI symbology](https://github.com/Riverscapes/RiverscapesXML/blob/cdee7a89616d738148f331ac188e256427b7ac8d/Symbology/qgis/Shared/twi.qml) makes it a lot easier to interpret TWI:
![image](https://user-images.githubusercontent.com/9723905/129495183-5b30f937-c541-404b-bddd-1692741d3bd6.png)

[2021-08-15 23:04] joewheaton commented on #355
@shelbysawyer, I still think we should come up with some rough answers to 1 & 2 (tasks above) just for our documentation (#377 ). However, the real side step to this is that when we average lines of evidence, we just don't use it.

@KellyMWhitehead and @philipbaileynar can you confirm that:

The current version of TauDEM simply lets these be NoData or - 1 and VBET does not use them for averaging i

[2021-08-15 23:09] joewheaton opened #379 "Add GeoPackage as element name to TauDEM XSD?"
@KellyMWhitehead  in the latest [TauDEM Project](https://data.riverscapes.xyz/#/Anabranch/5c9a3651-7d37-4813-a3ab-86a90697bf0c), we tried [testing](https://github.com/Riverscapes/RiverscapesData/issues/20) @shelbysawyer new [Business Logic](https://github.com/Riverscapes/RiverscapesXML/pull/216) and got an error loading the ChannelArea from the GeoPackage.

![image](https://user-images.githubuserc

[2021-08-15 23:17] joewheaton commented on #370
@shelbysawyer has done a lot of these in her pull request and I think @KellyMWhitehead has addressed all these in what I can tell in my initial [QC review of this project](https://github.com/Riverscapes/RiverscapesData/issues/20).

[2021-08-15 23:17] #370 closed

[2021-08-16 20:36] lauren-herbine commented on #316
@joewheaton do you think we can close this issue?

[2021-08-16 20:43] #316 closed

[2021-08-16 21:11] lauren-herbine commented on #347
### Updated FCode list (proposal)
After looking through the first ChannelArea project output, it is obvious we need to update our FCode list. Here is what I propose based off of my look through the [10190005 output](https://github.com/Riverscapes/RiverscapesData/issues/18).

**Flowlines/Waterbodies:**

|       Feature Type       | FCode |                                             Description

[2021-08-16 21:14] lauren-herbine opened #380 "Look into some "special" FCodes and how they will affect ChannelArea Projects"
**Answer these (or similar) questions for the following FCodes:**
Where do these occur?
How will they affect a ChannelArea Project?
How often do they occur?
Should we keep them in the filtered lists of FCodes or not?

- [ ] Wash: 48400
- [ ] Submerged Stream: 46100
- [ ] Estuary: 49300
- [ ] Swamp/Marsh: 46600-46602
- [ ] Area of complex channels: 53700

[2021-08-16 21:22] joewheaton commented on #380
At first glance, they all sounds like things worth keeping @lauren-herbine

[2021-08-17 00:25] joewheaton commented on #312
This is superseded by current version of VBET

[2021-08-17 00:25] #312 closed

[2021-08-17 00:26] joewheaton commented on #320
This is all addressed in #347 and new channel area projects.

[2021-08-17 00:26] #320 closed

[2021-08-17 00:30] #369 closed

[2021-08-17 00:44] joewheaton opened #381 "VBET Tweaks and Refinements - 8/16/2021"
On 8/16/21 @philipbaileynar, @shelbysawyer, @lauren-herbine and @joewheaton discussed latest version of VBET. This feedback was based on progress in https://github.com/Riverscapes/RiverscapesData/issues/19 and from #369.

- [X] @philipbaileynar please edit this ticket to get the five next steps we talked about queued up and tracked.

My recollection was there were five things you wrote down  (plea

[2021-08-17 00:45] joewheaton commented on #377
Clarification.... @MattReimer said to make a branch from `dev` for `docs_taudem`

[2021-08-17 16:42] joewheaton commented on #347
I agree @lauren-herbine. @philipbaileynar and @KellyMWhitehead this is ready to run with. Please

- [ ] Make Lauren's selection your default for running Channel Areas for purposes of VBET & RStyles default runs
- [ ] Get started on https://github.com/Riverscapes/RiverscapesData/issues/4 now please

[2021-08-17 17:38] joewheaton commented on #381
Thanks a ton @philipbaileynar for the clarifications and fixes above. Perfect.

Understood and happy with that.

[2021-08-17 20:24] philipbaileynar commented on #347
@lauren-herbine can you please revise the new list of FCodes. We need this as three separate lists for:

* flow lines
* flow areas
* waterbodies

Each list should be a simple comma separated list of FCode integers. So something like:

## Flow lines

55800,33400 etc

## Flow Areas

49300,48400 etc

## Waterbodies

39009, 39011 etc

[2021-08-17 20:48] lauren-herbine commented on #347
Hi @philipbaileynar - is markdown right here ok? Or do you need this in .csv or something?

### Flowlines

55800, 33400, 4600, 46003, 46006, 46007

### Areas

53700, 46100, 48400, **31800**, **34300, 34305, 34306, 4600, 46003, 46006, 46007**

### Waterbodies

49300, 3900, 39001, 39004, 39005, 39006, 39009, 39010, 39011, 39012, 43600, 43601, 43603, 43604, 43605, 43606, 43607, 43608, 43609, 43610, 4

[2021-08-18 01:57] philipbaileynar commented on #347
This is perfect @lauren-herbine. @KellyMWhitehead can just copy/paste the list of values into the channel area configuration file!

Reassigned to @KellyMWhitehead to implement. Kelly, please close this ticket once you have implemented the new FCode command line arguments into your local and cybercastor processes.

[2021-08-20 00:04] KellyMWhitehead commented on #381
All changes were made except for adding the centerline. The rasterized edges of the new polygons are throwing off the centerline method (the increased number of vertices is adding several hours to the processing time and the jagged edges are producing bad results). Will investigate...

[2021-08-20 01:53] philipbaileynar commented on #381
I approve of the decision to put centerlines on hold for now. Kelly, please close this issue and proceed to run the MHFD HUC for review by @joewheaton @lauren-herbine and @shelbysawyer

[2021-08-20 15:25] joewheaton commented on #381
Thanks for updates guys. @philipbaileynar lets discuss a strategy for the centerlines. I will start a new ticket to explore this.

[2021-08-20 15:30] joewheaton opened #382 "Decide and Implement new Centerline Strategy"
In #381 we tried to bring back centerlines, but with decisions to leave rasterized edges, we have way more vertices and this was blowing up the centerline tool. Six steps forward one step back ;). @philipbaileynar, @KellyMWhitehead and @joewheaton need a new strategy.

- [ ] @KellyMWhitehead since you're seeing what's going on here, please share your ideas for a strategy that might work.

Once we

[2021-08-20 15:36] joewheaton commented on #382
A few ideas... Assuming that what is breaking our centerline method right now is the number of vertices and using Theisen polygons, I'm wondering if we try something staying in Raster first. Feel free to shoot this down... what if:

1. We produced a binary raster where 1 is outside the 0.68 thresholded valley bottom and 0 (false) is inside.
2. We calculated a Euclidian distance from 1's (outside),

[2021-08-20 15:37] joewheaton commented on #382
@lauren-herbine and @shelbysawyer feel free to make suggestions if you have them. Otherwise mentioning you for FYI

[2021-08-20 18:10] joewheaton commented on #379
@philipbaileynar this was breaking TauDEM, but now seems to be breaking on VBET. I can't even open the latest[ VBET project](https://data.riverscapes.xyz/#/Anabranch/e2277228-9c37-442d-8ea5-d12b5c830c6d) from https://github.com/Riverscapes/RiverscapesData/issues/21#issuecomment-902828705

Here's the error message from QRAVE:
[code]

See [video ](https://youtu.be/aGLVxVibd68) @philipbaileynar
[![](

[2021-08-21 00:17] philipbaileynar commented on #379
@joewheaton is this still a problem given the recent BL and symbology changes?

[2021-08-21 03:15] joewheaton commented on #379
I think it's been sorted...

[2021-08-21 03:15] #379 closed

[2021-08-23 18:52] KellyMWhitehead opened #383 "NHDPlusFlowlineVAA table not present for huc10, huc12"
Table is present for huc8 projects but not huc10 or 12. This table is needed for running vbet.

`hydrology/nhd_data.sqlite/NHDPlusFlowlineVAA`

[2021-08-24 01:11] MattReimer commented on #383
Note to self: switch from exact huc match to "starts-with" match. That should fix it.

[2021-08-24 19:02] philipbaileynar commented on #363
the key thing to look for... the valley bottom is used to filter roads and railroads in the valley bottom and then measure the euclidean distance from those features.

You should be able to look at the output BRAT feature class (`ReachAttributes`) and look at the `iPC_RailVB` and `iPC_RoadVB` values. These should be the distance to the nearest rail and road in the valley bottom from each reach. Do

[2021-08-24 21:03] philipbaileynar opened #384 "Get riverscapes parameters CLI working for Cashe"
@MattReimer can you please get @Cashe93  up and running with the "riverscapes parameters CLI" script that I wrote a while back. For background, this is the simple command line interface I wrote for managing the BRAT parameters in postgres.

The script is at `scripts/riverscapes_parameter_cli.py` on the `rs_params_cli` branch that I just rebased onto dev. He will need a .env file with the database

[2021-08-27 18:21] KellyMWhitehead opened #386 "BRAT slowdown calculating admin agency"
@MattReimer This [step](https://github.com/Riverscapes/riverscapes-tools/blob/4be68879dffbbced6eee1f775532ab04c30c85ad/packages/brat/sqlbrat/utils/conflict_attributes.py#L165) slows to a crawl, and is taking brat hours to run on some larger hucs.  Any ideas on a good way to speed this up?

[2021-08-27 19:01] KellyMWhitehead opened #387 "Custom BRAT run notes"
Summary of the main issues I ran into running brat (and upstream tools) for custom flowlines. Some are notes, some need tickets.

1. *HUC 12*: one watershed was a non-huc8.
- [ ] rscli/warehouse: I was able to upload, however got a warning about missing metadata (huc8).
- [ ] BRAT:  reach geometry table references the watershed table by HUC_id, which is Huc8 in the brat database, but huc12 in the

[2021-08-28 01:15] MattReimer commented on #387
This is a really thorough summary of issues. Sounds like a bit of a slog to get through it. Thanks @KellyMWhitehead and sorry this wasn't easier.

@philipbaileynar some of this is immediately actionable without discussion but some will need a little chat beforehand. Look forward to getting into it on Monday.

[2021-08-30 17:45] joewheaton commented on #386
@KellyMWhitehead and @MattReimer and @philipbaileynar, this is something we should chat about before going too far. There are a ton of things BRAT is calculating (admin agency is one of them) under the banner of "Management", very little of which is only of utility for looking at Beaver. Just like we stripped ChannelArea out of VBET, we should look at stripping out some of this Anthropogenic stuff

[2021-08-30 20:43] MattReimer commented on #384
We decided to go with QGIS PostGIS table editor instead of the script because then we don't need to install a full python3 environment just to run one script

[2021-08-30 20:43] #384 closed

[2021-08-31 17:56] MattReimer commented on #376
This task is a little ambiguous. I'm closing it for now. Re-open if you think it's not complete

[2021-08-31 17:56] #376 closed

[2021-08-31 18:52] joewheaton opened #389 "UI Spec on Commercial Grade VBET - V 1.0 (2021)"
- [ ] Wire frames
- [ ] Metric table (dashboard)
- [ ] How will this be delivered

[2021-08-31 18:53] joewheaton opened #390 "UI Spec on Riverscapes Studio v 1.0 - This includes VBET v 2.0 (2022)"
Related to #389

[2021-08-31 19:04] joewheaton opened #391 "UI Spec for Data Warehouse"
- [ ] How do we do map discovery/searching?
- [ ] How do we do tabular discovery/filtering?
- [ ] How do we do accepting credit cards/web store?
- [ ] How do we do security and permissions?

## Old Issues & Related Discussions

- [ ] [Riverscapes/rs-web-monorepo Citeable Riverscapes Projects and DOIs](https://github.com/Riverscapes/rs-web-monorepo/issues/59)
- [ ] This is the BIG one: [We need to

[2021-08-31 19:08] joewheaton opened #392 "UI Spec for Network Attribute Tools v 1.0"
- Finish the metric display on left
- How does Network Attributes integrate into Riverscapes Studio (web)?

[2021-08-31 19:13] joewheaton opened #393 "UI Spec for "Citizen Beaver" or "Beaver Monitoring Capability" from Riverscape Studio"
In [SOW](https://docs.google.com/document/d/12EbWC87powLnhv9_ZXfvDh2nCW_chn2NorMRkkU0TdI/edit?usp=sharing) we stated:

- [ ] What does v 0.X Beta in QRiS for Year 1 of NASA look like?
- [ ] What does v 1.0 in QRiS for Year 2 of NASA (i.e. FY23) look like?
- [ ] What does v 2.0 in RiS for Year 3 of NASA (i.e. FY24) look like?

[2021-08-31 19:14] joewheaton opened #394 "Update Strategy for MorPhoto"

[2021-08-31 19:15] joewheaton commented on #394
In our SOW for NASA, we said:

[2021-08-31 19:21] joewheaton opened #395 "Specify the VBET Segment Metric Calculation"
Do this by modifying attribute table of VBET output (`vbet_68`)  defining attribute field names, type, and showing example of how to calculate, or spelling it out.

Do not digress into the segmentation. Assume:

- Segment exists
- We have a CL through it
- We know its upstream and downstream end
- It intersects some channel area

Show example calculations for at least 30 segments spanning full ran

[2021-08-31 19:25] joewheaton opened #396 "Figure out Algorithm for deriving polygon segment (channel area or valley bottom) Centerlines"
Related to #395, given a channel area segment or valley bottom segment, we need to derive centerlines. How do we do it?

[2021-08-31 19:28] joewheaton commented on #396
This was redundant with #382

[2021-08-31 19:28] #396 closed

[2021-08-31 19:41] joewheaton opened #397 "UI Spec for Commercial Grade BRAT Feature inside Web Riverscapes Studio"
In our [NASA SOW](https://docs.google.com/document/d/12EbWC87powLnhv9_ZXfvDh2nCW_chn2NorMRkkU0TdI/edit?usp=sharing) we stated:

[2021-08-31 23:17] joewheaton commented on #376
It was really just a question. And you answered us and gave us direction.

[2021-09-01 16:11] MattReimer opened #398 "Add logs to the project xml"
The task here is to add the Logfiles for the project XML for all our tools so that RAVE and the business logic can find and show it.

----------
_**NB: This ticket needs to wait for the accompanying one in  RiverscapesXML to be solved before the work can happen**_

These two should be completed so that we can validate our XML

- [ ] https://github.com/Riverscapes/RiverscapesXML/issues/235
- [ ] ht

[2021-09-01 17:09] MattReimer opened #399 "Fall 2021 Tool output QA"
@KellyMWhitehead we're going to be collapsing the branches on `riverscapes-tools` soon and we need to know what state this is in.

## Now

1. [x] @KellyMWhitehead Can you please prepare a cybercastor JSON file with the Mississsippi HUCS pointing at the NAR program (feel free to attach it to this ticket so we have it for next time.

Don't kick it off until we merge everything down

[code]

--------

[2021-09-01 18:07] joewheaton commented on #399
@MattReimer re:

I'm getting this queued up and system in place to do just that (see also #34). My goal is that for every CyberCastor project that gets produced, at least 5-10 minutes of QC is performed and logged.

[2021-09-01 18:27] MattReimer commented on #399
@joewheaton that's awesome. This is more of a QA tasks and so we need to move fast and iterate and re-run so we need to be a little careful about sucking up too much time.

Mississippi QA set has `28 HUCS x 3 Tools x 10 minutes = 14 Hours`. Then if there are fixes we run it all again and that's another 14 hours so.... maybe not.

I think we should make our distinctions between QA and QC here.

* *

[2021-09-01 21:03] joewheaton opened #404 "Change Log where it lists lots of "Errors" in what should be "Warnings" for TauDEM"
See QC report, where we point this out: https://github.com/Riverscapes/RiverscapesData/issues/36

These don't seem like "ERRORS"
[code]

Shouldn't they be changed to "WARNING"

[2021-09-01 21:47] MattReimer commented on #404
They're not but we have no control over this. TauDEM is using STDErr instead of StdOut for these so they will always show up as errors.

Unfortunately the solution here is for people to know this isn't an error.

[2021-09-01 21:47] #404 closed

[2021-09-01 22:25] MattReimer opened #406 "Quick: Rename hand.html to taudem.html"
The report is getting the wrong filename.

[2021-09-02 16:27] philipbaileynar opened #408 "Get Confinement Working With Latest VBET and Channel Area Outputs"
Now that VBET is stable it's time to revisit confinement.

- [x] Refactor confinement to take the channel area tool output layer (instead of buffering polylines inside confinement itself)
- [x] Refactor confinement to take VBET68 layer (and works with multiple VBET polygons)
- [x] Confirm or implement the buffering of the channel area layer. This should be 1.5x the raster cell resolution, but give

[2021-09-02 23:37] #406 closed

[2021-09-02 23:38] MattReimer commented on #315
This is initially implemented. @KellyMWhitehead watch out for windows problems.

[2021-09-02 23:38] #315 closed

[2021-09-02 23:39] #398 closed

[2021-09-02 23:39] MattReimer commented on #398
This is implemented. We'll see it in the fall release.

[2021-09-03 14:51] MattReimer opened #409 "Rebase of `vbet_aug_updates --> dev` not able to run on"
Yesterday I collapsed all the relevant branches of `riverscapes-tools` back onto `dev`

I cannot get vbet to run for the simple HUC (17060304) but that may be because:

* @KellyMWhitehead has been running everything in windows
* Something else in the stack destabilized it
* Some other problem I can't think of.

The following PR were stacked:

* #400 <-- these are python changes only so I don't sus

[2021-09-03 17:49] #409 closed

[2021-09-03 17:50] MattReimer commented on #383
2769d05 fixes this.

[2021-09-03 17:50] #383 closed

[2021-09-03 21:35] KellyMWhitehead opened #410 "RS Context: Error Downloading DEM"
Error downloading file (dem?) from s3 for a handful of huc8's:

[FAILED-11040005.log](https://github.com/Riverscapes/riverscapes-tools/files/7108574/FAILED-11040005.log)
[FAILED-11110103.log](https://github.com/Riverscapes/riverscapes-tools/files/7108583/FAILED-11110103.log)

[2021-09-03 21:43] MattReimer commented on #410
The errors here are something like:

[code]

Which could mean a typo in the path name on the part of USGS or those records just don't exist.

Regardless this is a data error and doesn't affect QA for Fall 2021 release #401

[2021-09-03 22:23] KellyMWhitehead opened #411 "Fargate automation script hardcoded to huc8"
Error when trying to run channel area tool for 170900070102:

2021-09-03 22:13:34:: RSCli Download: Fri Sep 03 2021 22:13:34 GMT+0000 (Coordinated Universal Time)
2021-09-03 22:13:34:: ------------------------------------------------------------------------------
2021-09-03 22:13:34:: Authenticating without input
2021-09-03 22:13:35:: Logged in successfully
2021-09-03 22:13:35:: No local project f

[2021-09-03 22:31] MattReimer commented on #411
This smells like a cybercastor or rscli issue. All good to know

[2021-09-03 22:45] MattReimer commented on #411
@KellyMWhitehead  Think I found the problem:

https://github.com/Riverscapes/riverscapes-tools/blob/dev/scripts/automation/FargateChannel.sh#L51

See where it says `--meta "huc8=$HUC" ` ? Try `huc8=>huc`

of course, this is going to apply likely to all our automation scripts

[2021-09-03 23:21] #411 closed

[2021-09-04 23:15] joewheaton opened #412 "Add metadata to Channel Area Project Inputs and Outputs"
@philipbaileynar you may want to move this to someone else (or you may say it is done). We need to make sure that:
- NHD Inputs of Flow Areas, flow lines, and water bodies, all clearly trace back to Riverscapes Context and NHD+HR
- Custom inputs have space for custom tags on who provided (e.g. "Manually Digitized Channel Centerline from @nick4rivers")
- Bankfull buffers have adequate information o

[2021-09-04 23:16] joewheaton commented on #330
There are two sub-tickets still being worked on here, but they are tracked in [QRiS](https://github.com/Riverscapes/riverscapes-tools/issues/github.com/Riverscapes/QRiS/issues/36) and #412. The main tasks here are done.

[2021-09-04 23:16] #330 closed

[2021-09-05 00:53] joewheaton commented on #252
Hey gents. I figured out this and it is an easy fix. We simply need to make a `hillshade.lyr` and `hillshade.qml` that force the stretching over the full range of 0 to 256. Those where this darkening is happening are simply those that have truncated ranges. I am closing this because it is not a Riverscapes Tool problem. It is a symbology problem:
https://github.com/Riverscapes/RiverscapesXML/issue

[2021-09-05 00:53] #252 closed

[2021-09-05 00:59] joewheaton commented on #389
These are discussed in #8 and #6 for reference.

[2021-09-05 01:41] joewheaton commented on #382
Just found this old post from Duncan, that is quite helpful for our CL strategy discussions: https://github.com/Riverscapes/ConfinementTool/issues/39

[2021-09-05 15:49] MattReimer commented on #412
Whoever takes this on keep in mind that we have metadata types now. git in touch if you need to know more.

[2021-09-05 21:54] joewheaton commented on #135
@MattReimer I came across this unassigned issue while trying to propose and explore a solution to our looming segmentation issues.  I am not sure but it seems like this is decided and could be closed?

It seems like we might have already made these decisions? Just in case, I'll provide *my* naive answers below. @philipbaileynar can chime in and we can decide and move on.

For Cyber-Castor producti

[2021-09-05 21:56] joewheaton commented on #381
The two outstanding tasks here are already queued up in:
https://github.com/Riverscapes/RiverscapesData/issues/24

Therefore I am closing this.

[2021-09-05 21:56] #381 closed

[2021-09-05 22:03] joewheaton commented on #17
This issue has no specific actions proposed so has not been happening. I am selling this for parts to discussion in #414 and to #389 so we can get over the discussion hump and propose more specific actionable development tickets.

[2021-09-05 22:03] #17 closed

[2021-09-05 22:12] joewheaton commented on #389
Part of the UI Spec for Commercial Grade VBET (which really now means a web-interface feature for VBET inside Riverscapes Studio) includes how people interact with "their" riverscape. This is really about how to take a default (provided segmentation) and potentially tweak the upstream and downstream boundaries of those segments so that the USER gets to define the "segment(s)" they care about.

In

[2021-09-05 22:30] joewheaton commented on #382
@philipbaileynar can you ask @KellyMWhitehead to try the Euclidian Distance thing and see where that gets us? I believe that because step 1 will be to  produce a binary raster that is outside all valley bottoms, it should overcome some of the lateral partitioning of valley bottoms that are getting split apart in bigger valley bottoms when they should be lumped together.

[2021-09-05 22:30] MattReimer commented on #135
I think we can accomplish this now but I also see it as a small priority compared to the other issues in the fall release. Let's make sure everything else gets fixed first and we can do this last I'd there's time

[2021-09-05 22:35] joewheaton commented on #270
So this is a duplicate of #270, but a great alternative strategy that @philipbaileynar suggests, but we never got around to trying.

- [ ] @KellyMWhitehead can you comment on whether you tried using the [RiverTools Centerline](https://github.com/RBTDevelopmentGroup/rivertools#centerline) or not?
- [ ] @philipbaileynar it looks like it requires a thalweg as an input to work. Is this mainly to get o

[2021-09-05 22:40] joewheaton commented on #16
This discussion stalled out despite the initial enthusiasm from April :)

I am closing this as it is really subsumed in master discussion #414 and #338.

[2021-09-05 22:40] #16 closed

[2021-09-05 22:48] joewheaton commented on #395
See #9 and #385.

[2021-09-05 22:52] joewheaton commented on #13
@MattReimer, @KellyMWhitehead and @philipbaileynar will be pleased to see this go away.  This is now done and dusted (see #10).

[2021-09-05 22:52] #13 closed

[2021-09-05 22:55] joewheaton commented on #14
So the "interactive" part of this has now morphed into Riverscapes Studio (#389, #390) QRiS (https://github.com/Riverscapes/QRiS/issues/18), but with #10 the likelihood surface is now nailed nicely. So this is done or superseded by more recent tickets and tasks.

[2021-09-05 22:55] #14 closed

[2021-09-05 22:57] joewheaton commented on #390
#15 has some useful discussion of someday adding other lines of evidence in, but now that we have settled on the 3 topographic inputs (slope, TWI and HAND) and channel area in #10, I don't know that we want to go there soon. Just referencing here for completeness.

[2021-09-05 23:03] joewheaton commented on #146
@philipbaileynar can we please revisit this issue now in the context of #414? I want to start exploring as one possibility the idea of using a simplified 1:100K to help us with the segmentation of larger valley bottoms in higher stream order settings. Can you please have @KellyMWhitehead prioritize this update to Riverscapes Context, so we can explore this one? Feel free to assign @shelbysawyer to

[2021-09-05 23:20] joewheaton opened #415 "Expose Threshold between Estimated Active & Inactive Valley Bottom as Parameter and Change Default"
We are displaying in "Estimated Valley Bottom" Geomorphic Units Active as likelihood 0.99 to 0.8 and inactive 0.8 to 0.68. From what I've seen, this is not a good estimate.  I am speculating that 0.9 will be better as a rough-cut of active vs. inactive. As such, @philipbaileynar  can we change VBET to:

- [ ] Expose this threshold between these two polygons as a parameter for CyberCastor CLI in VB

[2021-09-05 23:20] joewheaton commented on #245
@lauren-herbine this issue sort of went dormant, but is essentially now part of VBET.

@shelbysawyer we are displaying in "Estimated Valley Bottom" Geomorphic Units Active as likelihood 0.99 to 0.8 and inactive 0.8 to 0.68. From what I've seen, this is not a good estimate.  I am speculating that 0.9 will be better as a rough-cut of active vs. inactive. As such I have requested @KellyMWhitehead to

[2021-09-05 23:44] joewheaton commented on #135
@MattReimer I was asking if there was anything left to do? It seems like this is already done and can be closed. But it sounds like there is some stuff to do? If so, I agree it is a low priority.

[2021-09-06 02:45] joewheaton commented on #271
@philipbaileynar it seems like this is no longer relevant with how the latest (August) VBET has shaped up? I am closing for now (re-open if you disagree or think we still need this).

[2021-09-06 02:45] #271 closed

[2021-09-06 02:49] joewheaton commented on #395
In #414 we identified the metric discussions:

[2021-09-06 02:52] joewheaton commented on #356
This is now sorted out from our #310 and #369 work.

[2021-09-06 02:52] #356 closed

[2021-09-06 02:54] joewheaton commented on #184
@MattReimer this is now superseded by #10 and #369. Closing.

[2021-09-06 02:54] #184 closed

[2021-09-06 02:55] joewheaton commented on #357
@shelbysawyer this has been solved with #369.

[2021-09-06 02:55] #357 closed

[2021-09-06 02:56] joewheaton commented on #337
@MattReimer, feel free to re-open if you think this is still a problem. However, it seems that we have now put TauDEM (and HAND) through a lot of paces in August and this issue has not seemed to come back.

[2021-09-06 02:57] joewheaton commented on #338
@MattReimer this seems like it is no longer relevant? Am I wrong?

[2021-09-06 03:00] joewheaton opened #416 "3. Explore topological enforcement of shared boundaries between active channel and active floodplain, and active floodplain and inactive floodplain, and the plausible valley bottom extent and all of these (potentially)."

[2021-09-06 03:01] joewheaton commented on #362
@philipbaileynar it seems that @KellyMWhitehead has completed 1 & 2 in #369. However, 3 is still in need of some attention so I will close this and put that in a new issue.

@shelbysawyer you will want to refer to this ticket when you are doing VBET documentation.

Note in #415 we are proposing change this specification slightly.

[2021-09-06 03:01] #362 closed

[2021-09-06 03:04] joewheaton commented on #395
In #362 @joewheaton identified following metrics for "Estimated Geomorphic Units":

[2021-09-06 03:06] joewheaton commented on #2
This is superseded by #395

[2021-09-06 03:06] #2 closed

[2021-09-06 03:41] joewheaton commented on #245
This is answered.

[2021-09-06 03:41] #245 closed

[2021-09-06 04:23] joewheaton commented on #390
In #11 we articulated the most common uses of VBET in April:

By June, Some of this was out-of-date with where we are going with QRiS, but I put it here to track how our thinking has evolved:

[2021-09-06 04:41] MattReimer commented on #338
Yeah. Vbet is so different now I'll close this since the line of code it pertains to is long gone

[2021-09-06 04:41] #338 closed

[2021-09-06 04:44] MattReimer commented on #337
I'm reopening this one so we don't lose it. Taudem hasn't changed enough for this to be solved

[2021-09-06 04:49] joewheaton opened #417 "Explore RAP API Integration for Riverscapes Studio"
In #259 I asked the following question of @philipbaileynar and @MattReimer. Can one of you answer over there or here?

This would be part of Riverscape Studio 2.0 (i.e. 2022) so this is a low priority. But this is part of #390.

[2021-09-06 04:52] MattReimer commented on #135
Yes, There are still a whole bunch of shapefiles in RSContext. Mostly NHD products. We do have one geopackage I used to do segmentation but this ticket was more about using geopackages for all the NHD data etc.

[2021-09-06 04:54] MattReimer commented on #417
We should be able to add WMTS layers we should be able to integrate that into QRAVE.

[2021-09-06 05:07] joewheaton commented on #389
## 3. How this will be delivered this year (2021)?

@philipbaileynar, we currently have what could be considered an Alpha version of VBET portal at https://maps.riverscapes.xyz/#/VBET (not currently running). What do you think about meeting this year's milestone commitment in one of the following:
1. Commercial Grade 1.0 being provided there in maps.riverscapes for the Montana-Dakotas
2. Commercia

[2021-09-06 05:21] joewheaton commented on #135
Oh... got it. Seems like a low priority to change up Riverscapes Context. I'd vote to just leave these alone (we convert them to geopackages upon ingestion into our actual tools.

[2021-09-06 05:23] joewheaton commented on #338
Now that's just cool. Will make QC reading log files that much more enjoyable. Nice one @MattReimer.

[2021-09-06 05:36] MattReimer commented on #338
That's just a cybercastor log. There's no ASCII art in our project logs. Gotta keep those classy. 😜

[2021-09-06 17:16] joewheaton opened #418 "Collect Documentation for Riverscapes Context"
We need to author the Riverscapes Context documentation pages: https://tools.riverscapes.xyz/rscontext/

![image](https://user-images.githubusercontent.com/9723905/132248242-73f40409-146f-4167-8693-f777f71ed142.png)

[2021-09-07 15:27] shelbysawyer commented on #415
@joewheaton Makes sense.. I noticed that the `active` was a little generous when cruising around through VBET. If 90% ends up being too generous for `inactive` would you be happy with that, is that necessarily a bad thing? Or would we work the numbers again?

[2021-09-08 18:15] MattReimer opened #420 "[Minor] Better human times"
Totally minor but easily fixable so...

[code]

[2021-09-08 18:26] KellyMWhitehead commented on #337
Three more [log files](https://github.com/Riverscapes/riverscapes-tools/files/7131051/TauDEM_for_RSTools_Ticket__399_logs.zip) with this error.

[2021-09-08 18:27] KellyMWhitehead opened #421 "Taudem SlopeAveDown Failure"
Huc 7050002

[code]

[2021-09-08 18:28] KellyMWhitehead commented on #421
Similar to #337

[2021-09-08 18:31] KellyMWhitehead commented on #421
[FAILED-07050002.log](https://github.com/Riverscapes/riverscapes-tools/files/7131090/FAILED-07050002.log)

[2021-09-09 15:13] #420 closed

[2021-09-09 15:13] MattReimer commented on #399
As of yesterday this is done

[2021-09-09 15:13] #399 closed

[2021-09-10 03:07] philipbaileynar commented on #417
I believe ArcGIS can handle WMS and WMTS but not xyz map tiles. Arc Pro can handle map tiles.

[2021-09-10 03:07] #417 closed

[2021-09-10 03:26] philipbaileynar commented on #412
@KellyMWhitehead can you please cut and paste the inputs XML from a channel area project file that was run since the September release and that was run with NHD data. I want to see whether the riverscapes context project metadata are flowing into channel area projects correctly.

@MattReimer this automated inclusion of upstream metadata should be automatic, correct?

[2021-09-10 03:48] philipbaileynar commented on #146
As I mentioned in the original ticket, NHDPlus 1:100K cannot be pulled from Science Base. It is available as a manual download from the web site of the consultants who produced the data.

Therefore I'm reassigning to @shelbysawyer to go grab a sample of the data for a HUC in which she wants to research the relevance of 1:100k data for the purposes of generating centerlines.

There's not point inve

[2021-09-10 04:11] philipbaileynar commented on #389
Following on from your suggestion, how about defining the 2021 "Commercial Grade VBET" deliverable as:

1. VBET for all of Montana and the dakotas accessible in WebRAVE (and obviously QRAVE and ArcRAVE)
2. Extending VBET alpha web map with the following features:
   3. Ability to select a HUC2, 4, 6, 8, 10 and report the following metrics:
       1. Total Area
       2. Area active channel

[2021-09-10 04:15] shelbysawyer commented on #146
@philipbaileynar @joewheaton I will dive into this likely on Monday and will be looking for some guidance to make sure I'm understanding the task here.

[2021-09-10 04:35] philipbaileynar commented on #415
@shelbysawyer can you please take the VBET project for 10190005 and threshold the combined evidence raster at 0.9 and then paste a screenshot here (with your best attempt to match Joe's symbology if possible).

In other words, lets avoid making time consuming and expensive changes to software merely on speculation. Let's do the cheap and easy task of producing one example manually and proving to o

[2021-09-10 04:37] philipbaileynar commented on #416
See my response on #414

[2021-09-10 04:46] philipbaileynar commented on #418
Note that the latest version of RSC now has metadata for every layer that consists of two things:

1. Brief, plain English summary that draws from this [JSON file](https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/rscontext/rscontext/layer_descriptions.json) during the RSC run.
2. a URL that links to a section on [this page](https://tools.riverscapes.xyz/rscontext/data.html). Q

[2021-09-10 04:50] philipbaileynar commented on #270
This ticket is old. Deassigning Kelly until we have a coherent strategy to move forward.

- Kelly recently tried centerlines with the new jagged VBET and the tool just crashed because of the vast number of vertices.
- See my response to #414

[2021-09-10 04:52] philipbaileynar commented on #382
Someone should experiment with Euclidean distance by hand before we write any code. Could even be model builder.

[2021-09-10 16:23] MattReimer commented on #412
This is not quite so simple. We're going from a shp file to a geopackage so I'm not sure the augmenter can handle that.

I don't expect this is going to be a big amount of work

This file is what you need to run (there should be a VSCode launch item for it and if there isn't just copy it from RSContext)
https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/channel/channel/channel_r

[2021-09-10 16:26] MattReimer commented on #415
Might I suggest @philipbaileynar & @shelbysawyer let's wait for `VBET 0.4.0` before we do this work so we can be sure we're using all the latest changes

[2021-09-10 16:31] shelbysawyer commented on #415
@MattReimer Okay. I'm happy to play with this if it would a helpful visual, even if based on the outdated tool. Just let me know.

[2021-09-10 16:33] MattReimer commented on #415
Sure. It's just my job to make sure everyone knows what version things are at 😄

I've updated the release notes with versions so we know we're using the current stuff
https://github.com/Riverscapes/riverscapes-tools/releases/tag/Sep2021_release

[2021-09-10 19:39] KellyMWhitehead opened #424 "Channel Area fails on Cybercastor"
All channel area runs are failing on cybercastor with this message:

[code]

Full Log example: [FAILED-16040102.log](https://github.com/Riverscapes/riverscapes-tools/files/7145973/FAILED-16040102.log)

Our test watershed runs fine locally, so I am assuming this is a cybercastor issue.

[2021-09-10 20:05] philipbaileynar commented on #415
Further supporting the decision to rush in and change thresholds without first proving their value... remember that we use the vbet_80 and vbet_68 as layer names. Changing one or more of these breaks business logic and creates a ton of work. Better to confirm first that the change is of value.

Perhaps this also suggests that baking the threshold into the layer name is a bad idea...

[2021-09-10 20:43] MattReimer commented on #415
Kelly and I just discussed this. Places where this exists:

- The python tool py file (for vbet)
- The python metadata augmentor scripts (for brat,confinement, rvd etc)
- All relevant Cybercastor automation scripts (because we pass it in as a filename)
- Businesslogic XMLs

I'm open to any suggestions how we can do this in a generic way but I can't think of one because the layers need names and ea

[2021-09-10 20:45] philipbaileynar commented on #415
Don't like this. Makes it really hard for downstream tools to use subset of features.

[2021-09-12 16:59] MattReimer commented on #337
I tried upping the RAM and doubling the CPU and that has increased performance on HUCs that were already working but the ones that are failing still seem to fail. The quick fix didn't work so now I need to dig into it and try to reproduce the issue on local docker so I can see what the problem is.

[2021-09-13 16:04] MattReimer commented on #337
Another failure on the weekend.

Annoyingly I couldn't reproduce this on a local docker box, even with CPU and RAM constraints.

As a sort of "hail Mary" I'll try doubling the RAM again to 16Gb. This will triple the cost of a run from what we had before but the specs are almost exactly what TauDEM uses to do its estimates so... fingers crossed.

[2021-09-13 16:06] MattReimer commented on #424
This is fixed by rebuilding the cybercastor container with a new requirements.txt file

[2021-09-13 16:06] #424 closed

[2021-09-14 03:06] joewheaton commented on #415
@philipbaileynar let me know if you want to update this (I recall you jotting down notes on naming convention we agreed upon).

[2021-09-15 21:33] philipbaileynar opened #426 "VBET Area Attributes"
Please add attribute to fields to the five output VBET feature classes that contains the area of each polygon feature. In all cases, the column name should be called `area_ha` and contain the area in hectares, to 5 decimal places:

- Outputs\vbet.gpkg
    - active_floodplain
    - inactive_floodplain
    - vbet_68
    - vbet_80
    - vbet_channel_area

As discussed, the geometries are in WGS84 so

[2021-09-15 22:19] philipbaileynar opened #427 "VBET Output Feature Class Names"
It's been at least 45 minutes since we renamed VBET feature classes and so it's time to break everything again!

We are about to change the threshold of the active floodplain from 80 to 90 (separate ticket). This won't be the last time we do this (because we love pain) and so let's preemptively rename VBET outputs to omit the threshold value.

|Existing Feature Class Name|Proposed Name|Description

[2021-09-15 22:33] philipbaileynar opened #428 "VBET Threshold Change from 80 to 90"
Please change the active floodplain threshold from 80 to 90.

In addition please write both thresholds to the project metadata as below. Note the user of the new [metadata types](https://github.com/Riverscapes/RiverscapesXML/blob/master/Projects/XSD/V1/RiverscapesProject.xsd#L65-L80).

[code]

See separate ticket for the renaming of the output features classes #427

[2021-09-15 23:12] philipbaileynar commented on #415
Closing this issue in favour of #428

#427 is also relevant.

[2021-09-15 23:12] #415 closed

[2021-09-15 23:40] joewheaton commented on #427
I made two minor changes to above table and I approve of these. Thanks!

[2021-09-15 23:57] KellyMWhitehead commented on #426
Step 1 - add area to features, is complete.
![image](https://user-images.githubusercontent.com/10746997/133528144-7b2ea388-3780-40d8-be4c-decc5b82df4f.png)

[2021-09-16 04:28] joewheaton commented on #415
What about exposing this as parameter @philipbaileynar ?

[2021-09-16 16:41] philipbaileynar commented on #427
@joewheaton remind me what "ia" stands for in `vbet_ia` again please?

[2021-09-16 16:50] KellyMWhitehead opened #429 "Merge Feature Class bug"
[Merge feature class in vector ops ](https://github.com/Riverscapes/riverscapes-tools/blob/3e55bb9d74b8321f8a1b7fbc30b35876e0292d19/lib/commons/rscommons/vector_ops.py#L236) crashed due to modifying the layer definition when looping through the layer inputs.

Modified the script to loop through and add all fields to output layer definition before looping through layers and adding features.

[2021-09-16 16:50] KellyMWhitehead commented on #429
Bug fixed.

[2021-09-16 16:50] #429 closed

[2021-09-16 16:59] KellyMWhitehead commented on #368
- Hillshade is now generated with every taudem project and present in the project xml
- Hillshade is now in business logic and loads in qrave and arcrave.
- Time stamp verified in latest version of taudem project file metadata. If it is still not correct, this might be a warehouse issue.

@joewheaton Please check and close if this ticket is complete. Thanks!

[2021-09-16 17:52] philipbaileynar commented on #368
I just downloaded a tauDEM project that was just run this week.

The hillshade raster is getting created in the correct location on disk.

`/inputs/dem_hillshade.tif`

And the project XML lists this DEM hillshade correctly in the inputs of the project:

[code]

and the latest tauDEM business logic correctly refers to the Hillshade using the correct XPath

[code]

Finally, I can also confirm that Q

[2021-09-16 17:52] #368 closed

[2021-09-16 19:36] KellyMWhitehead commented on #428
Please review [this project](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/418b1e7b-8897-4773-9f75-b23a9ff9825a) for the threshold and layer name changes.

Note that the business logic will need to be updated with the new layer names.

[2021-09-16 19:36] KellyMWhitehead commented on #427
Please review [this project](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/418b1e7b-8897-4773-9f75-b23a9ff9825a) for the threshold and layer name changes.

Note that the business logic will need to be updated with the new layer names.

[2021-09-16 19:43] KellyMWhitehead commented on #415
Move the threshold values to a [vbet parameter](https://github.com/Riverscapes/riverscapes-tools/blob/1a9ad9a14213abf754657fc7d93f3a588560975e/packages/vbet/vbet/vbet.py#L112). Next steps will be to add this to launch and automation scripts.

Defaults to 68% (Full vbet) and 90% (IA vbet)

[2021-09-16 19:43] joewheaton commented on #427
It is just meant to stand for boundary between **I**nactive and **A**ctive floodplains.

[2021-09-16 20:52] philipbaileynar opened #430 "Total Valley Bottom Feature Class Metrics"
The following metrics should be calculated and stored on the `vbet_full` feature class.

The ID column below is purely for communication. It's not meant to be stored in the feature class etc.

|ID|Attribute Column Name|Units|Method|
|---|---|---|---|
|A|valley_bottom_ha|hectares|The sum of areas for all `vbet_full` features that have the same levelPath|
|B|active_valley_bottom_ha|hectares|The sum

[2021-09-16 21:04] philipbaileynar opened #431 "VBET Metrics for inactive_floodplain Feature Class"
These metrics are for the `inactive_floodplain` feature class (in addition to the raw `area_ha` that is already being calculated).

|Attribute Column|Units|Description|
|---|---|---|
|prop_valley_bottom_pc|percent|area of this feature divided by the sum of areas from `vbet_full` that have the same levelPath, multiple by 100|
|prop_inactive_pc|percent|area of this feature divided by the sum of all

[2021-09-16 21:07] philipbaileynar opened #432 "VBET Metrics for active_floodplain feature class"
These metrics are for the `active_floodplain` feature class (in addition to the raw `area_ha` that is already being calculated).

|Attribute Column|Units|Description|
|---|---|---|
|prop_valley_bottom_pc|percent|area of this feature divided by the sum of areas from `vbet_full` that have the same levelPath, multiple by 100|
|prop_active_pc|percent|area of this feature divided by the sum of all feat

[2021-09-16 21:47] philipbaileynar commented on #427
I downloaded the project and review the layers. Nailed it (until next time!)

[2021-09-16 21:47] #427 closed

[2021-09-16 21:53] philipbaileynar commented on #428
metadata looks good.

<img width="580" alt="Screen Shot 2021-09-16 at 2 48 37 PM" src="https://user-images.githubusercontent.com/8645379/133690411-6872bdf4-dc61-493a-9535-dddb1b6e7255.png">

and I have created this QC issue for @shelbysawyer  to review.

https://github.com/Riverscapes/RiverscapesData/issues/80

[2021-09-16 21:53] #428 closed

[2021-09-16 23:53] joewheaton commented on #430
@philipbaileynar this is really cool. I read each method for A - I and can confirm those appear correct. Can't wait to check it out. Thanks! @lauren-herbine and @shelbysawyer FYI... this relates to #395 and #108.

[2021-09-16 23:54] joewheaton commented on #431
@philipbaileynar these look good.

@lauren-herbine and @shelbysawyer FYI... this relates to #395 and #108, and of course #430.

[2021-09-16 23:55] joewheaton commented on #432
@philipbaileynar these look good.

@lauren-herbine and @shelbysawyer FYI... this relates to #395 and #108, and of course #430.

[2021-09-17 00:00] joewheaton commented on #430
@philipbaileynar we also discussed counting the number of `inactive_floodplain` polygons/features in the same levelPath, and counting the number of `active_floodplain` polygons/features and adding those as metrics to the `vbet_full` attribute table. Is that still possible?

If so, is this the spec?

ID | Attribute Column Name | Units | Method
-- | -- | -- | --
J | cnt_active_fp_units | count (int)

[2021-09-17 16:08] joewheaton opened #433 "Fix YML to updated Website Menu for Tool Sites"
I just noticed while exploring https://tools.riverscapes.xyz/brat/ that the menus are wrong.

![image](https://user-images.githubusercontent.com/9723905/133819585-ca61f9c5-c315-408a-82f8-a56fec14f329.png)

Should be:
[code]

[2021-09-17 16:13] #433 closed

[2021-09-17 18:54] MattReimer commented on #337
16Gb of ram seems to be the sweet spot. Seems like a lot but if it helps....

I'm calling this closed.

[2021-09-17 18:54] #337 closed

[2021-09-17 18:55] MattReimer commented on #421
Same as #337 we increased the RAM to 16Gb and it seems to fix things.

[2021-09-17 18:55] #421 closed

[2021-09-17 23:12] KellyMWhitehead opened #435 "[RS Context] Cutline transformation failed"
Error Message:
[code]

[2021-09-17 23:16] KellyMWhitehead opened #436 "RS Context Error: [Verify Areas] Raster Area covers only 45.24% of the shapefile"
Error Message:
[code]

[2021-09-17 23:21] KellyMWhitehead opened #437 "RS Context: Union Features IndexError"
Error Message:
[code]
Huc(s): 09040002

Log(s): [FAILED-09040002.log](https://github.com/Riverscapes/riverscapes-tools/files/7188804/FAILED-09040002.log)

[2021-09-20 21:33] philipbaileynar commented on #427
@joewheaton discovered that @KellyMWhitehead shipped the demo project with custom BL.

[2021-09-20 22:13] MattReimer commented on #427
This is all great. Having the hardcoded thresholds in layer and path names was giving me reflux.

[2021-09-21 17:02] philipbaileynar opened #438 "Stop removing donuts"
The channel area tool is currently removing interior rings (donuts) from NHD flow areas. This made some sense for small islands, but the way big rivers are digitized means that the spaces between anabranches are also donuts.

In the example below the two anabranches in the first image are actually represented using an exterior and interior ring. The second image shows the channel area tool output

[2021-09-21 22:23] KellyMWhitehead commented on #430
@philipbaileynar, @joewheaton

Please review [this project](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/a221138b-668b-4d65-b15d-f4bf1679374b) for the new vbet area metrics.

[2021-09-21 22:54] KellyMWhitehead commented on #438
@philipbaileynar do you happen to have the huc for this? I updated the code, but I can also run a quick test to make sure this particular site is fixed.

[2021-09-21 23:06] joewheaton commented on #438
Yes, this is in the Upper Humboldt: https://data.riverscapes.xyz/#/Anabranch/6512c178-985a-4255-bdb8-ede2dbdc742d

[2021-09-21 23:08] MattReimer commented on #438
![](https://c.tenor.com/TRjZAIXAxL8AAAAC/donut-simpson.gif)

[2021-09-21 23:09] joewheaton opened #439 "Can we add the Watershed name as a metadata tag in all projects downstream projects of RS_Context?"
I've noticed most of our new projects no longer have the HUC Name (the most obvious thing to most people) as a tag.

[2021-09-21 23:17] MattReimer commented on #439
In general we never used the HUC as a tag.

Here's the staging server (because that's what's coming)

<img width="875" alt="Screen Shot 2021-09-21 at 4 14 23 PM" src="https://user-images.githubusercontent.com/1063391/134259942-c6cbe226-d151-4327-880e-49612d0e78d8.png">

Do you mean we should include the HUC name in project titles?

[2021-09-21 23:36] joewheaton commented on #430
Awesome @KellyMWhitehead. This is really cool. Just taking a look here:

https://youtu.be/SC3dN4xU3d8
[![Video Link](http://img.youtube.com/vi/SC3dN4xU3d8/0.jpg)](http://www.youtube.com/watch?v=SC3dN4xU3d8 "")

- [ ] For all the hectare fields only keep 5 significant figures past the decimal
- [ ] For the percentage fields only keep 2 significant figures.
- [ ] Why is there a `area_ha` and a `vall

[2021-09-21 23:45] joewheaton commented on #439
Sorry, I should have been clearer @MattReimer  (though thanks for updates on staging server because those are big improvements). Let me show you what I mean:
https://youtu.be/6XxKSauWPDY
[![Video https://youtu.be/6XxKSauWPDY](http://img.youtube.com/vi/6XxKSauWPDY/0.jpg)](http://www.youtube.com/watch?v=6XxKSauWPDY "")

What I should have asked for is if we can bring the `Watershed` label/tag across

[2021-09-21 23:51] joewheaton commented on #427
Yes, that was a short-sided on the fly decision originally... my bad. I never liked it.

[2021-09-21 23:57] MattReimer commented on #439
I think it's already happening. Take a look at some metadata I pulled from a channel area project

[code]

Also I know it's carrying through because when I open up WebRAVE it's in the metadata there too:
<img width="240" alt="Screen Shot 2021-09-21 at 4 56 22 PM" src="https://user-images.githubusercontent.com/1063391/134262729-06061f0a-a1dc-4e73-b09c-77d641693da3.png">

Unless I'm still not unders

[2021-09-22 00:19] joewheaton commented on #439
Oh, that's awesome. All the better. Than some follow ups:
1. Is this a case of this is happening on new projects in past week or so and I am just not seeing it ones on disk? or Are these only revealed in Staging Warehouse and not live warehouse?
2. Is it a matter of just exposing these at same level up high so they show up in the "primary" project metadata and are searchable/quearable?
![image](ht

[2021-09-23 19:39] joewheaton commented on #389
@philipbaileynar sorry I missed this one. As we agreed yesterday we are going to keep our focus on getting VBET dialed and consider commercial grade VBET 1.0 (2021) just:

I will migrate the good ideas above to a new ticket.

[2021-09-23 19:39] #389 closed

[2021-09-23 19:43] joewheaton opened #440 "UI Spec for "Regional VBET Views" in Commercial Grade VBET"
From #389 we simplified our VBET 2021 Deliverables. However, there were some good ideas from @philipbaileynar and we still need:
- [ ] Metrics Defined
- [ ] Dashboard and what Metrics
- [ ] Wireframe

Some of @philipbaileynar suggestion for a "Regional VBET tool" included:

I don't want to focus on web development for something that isn't going to have a real audience. I *do* want some of these th

[2021-09-26 00:11] joewheaton opened #441 "Change TauDEM report from legacy `hand.html` to `taudem.html`"
In https://github.com/Riverscapes/RiverscapesData/issues/89 I noticed that the TauDEM projects are still recording the report as`hand.html` . This should be changed to `taudem.html`.

![image](https://user-images.githubusercontent.com/9723905/134788918-0667df55-a768-4034-badd-ed398af341eb.png)

@philipbaileynar, I don't know that this is big enough to "re-run" all those projects (I don't think so)

[2021-09-26 00:14] philipbaileynar commented on #441
I think we have to rerun them again anyway because the channel area needs the donuts removed.

[2021-09-26 00:52] joewheaton commented on #441
Good to know. Thanks. I'll try and find some of these dumb little things before we do too many.

[2021-09-27 16:08] MattReimer commented on #441
This is a regression of #406. It was fixed but a subsequent merge put the line back.

@KellyMWhitehead can you handle this one? Should be easy.

[2021-09-27 16:13] MattReimer commented on #439
I think this is happening because only layer metadata flows downward right now. If we want project-level metadata to flow down the chain we need to think carefully about this because layer metadata usually only derives from one parent layer whereas proeject metadata may have two or more parents (i.e. BRAT takes RSContext, ChannelArea, VBET etc)

How we merge this metadata is going to take a bit of

[2021-09-27 16:46] joewheaton commented on #439
@MattReimer thanks for info. This is sort of funny. The layer level metadata is far less common and useful than the project level metadata that layer was associated with. Anyhow, happy to set aside for moment and talk about. I will point out that your instantly thinking about how to automate these hand-offs. I appreciate that. I am literally just asking for @KellyMWhitehead and @philipbaileynar to

[2021-09-27 17:02] MattReimer commented on #439
I think maybe I didn't answer your question or maybe there's still some confusion... which I get because it's got some nuance and semantics to it.

Take a look at this NHD flowline layer from a ChannelArea project:

[code]

The layer metadata contains the project AND the warehouse AND the layer metadata of the project it came from. This has been standard behaviour for a while and helps tell the st

[2021-09-27 23:11] joewheaton commented on #439
That's super-helpful. I think you are right @MattReimer, you do have the information buried in the NHD layer in that `_RS_PRJ_Watershed` metadata. So I think we (I) want something like the following for our RS_Context projects:
1. Check to see if `NHD Flowlines` layer exists, and if it does grab the `_RS_PRJ_Watershed` and set a Project Metadata tag of something like '<Meta name="Watershed">' to t

[2021-09-28 21:44] joewheaton commented on #146
I am NOT thinking that we want this just to support generation of centerlines. We want this because it is a useful and common contextual layer.

Not true. This is a RS_Context request (that you made BTW). We want this in RS Context, so I am assigning this to you to figure out how to get it into RS Context.

If you want to create a separate ticket for @Cashe93 or his delegate to download the entire

[2021-09-28 21:46] joewheaton commented on #147
@philipbaileynar and @KellyMWhitehead did  you guys ever have a further play with this. I just had a poke around and it does look really useful. @philipbaileynar this seems particularly relevant to conversations you and I had this week about APIs for some of our metric generation.

[2021-09-28 21:50] joewheaton commented on #147
Pretty cool cross section functionality too: https://hyriver.readthedocs.io/en/latest/notebooks/cross_section.html
We could use this to pull some valley bottom cross sections for folks in Riverscapes Studio...

[2021-09-29 17:42] KellyMWhitehead commented on #432
Added in 597479469a489092db3016b37514282e963ee714

[2021-09-29 17:43] KellyMWhitehead commented on #431
Added in 597479469a489092db3016b37514282e963ee714

[2021-09-29 18:41] KellyMWhitehead commented on #430
1. I found a way to round the metric values. I will apply this in future vbet runs.
2.  `area_ha` is the area of the *feature* in hectares, `valley_bottom_ha` is the total area of the valley bottom grouped by `vbet_level_path`.
3. Alias names: I tried a few things within the geopackage, but haven't found anything that works yet. I think a better way is to look into saving the field alias in the .l

[2021-09-29 20:49] KellyMWhitehead commented on #426
Added to 0d088e9b558c565085955ff051c1b2570a8ad02e

[2021-09-29 20:49] #426 closed

[2021-09-29 21:00] KellyMWhitehead opened #443 "Geopackage Field Alias"
Research topic of adding Field Aliases to Geopackage layers.

1. Is this a property that can be stored in the geopackage? (tried using optional `gpkg_data_columns`, but didn't seem to have an effect in arc or qgis)
2. layer files? (.lyr or .qml)
3. Other?

If we find a method, then apply to #430

[2021-09-29 21:07] #431 closed

[2021-09-29 21:07] #432 closed

[2021-09-29 21:08] KellyMWhitehead commented on #438
Changed in f3b23cfffe3fdd0d2adb7471541685af15738800

[2021-09-29 21:08] #438 closed

[2021-09-29 21:44] KellyMWhitehead commented on #412
I have checked the xml augmenter for channel is working for NHD/shapefile inputs. Some earlier local runs might have missed this step, but should not be a problem with any cybercastor runs.

This can be done by manually adding tags for now, [example](https://github.com/Riverscapes/RiverscapesData/issues/85)

The bankfull equation and parameters are recorded in the project metadata in the upcoming

[2021-09-29 21:49] #412 closed

[2021-09-29 22:59] philipbaileynar opened #445 "BRAT Parameter Errors"
These are the errors I now get pull your latest BRAT parameter changes. It should be fairly self explanatory... but here's a summary in plain English:

- HUCs 10050004, 10100005 and 17010103 are missing a watershed hydro parameter value for parameter ACWIDTH.
- HUC 10050004 is missing a watershed hydro param for  ELEV.

----

## Hydrologic equation Error
[code]

## Hydrologic equation Error
[code]

[2021-09-29 23:50] MattReimer commented on #430
This should be completed. reopen if we get a regression

[2021-09-29 23:50] #430 closed

[2021-09-30 18:19] sshahverdian opened #446 "Drainage Area raster without values"
When using the Identify tool in ArcGIS to learn a drainage area value, the pixel value comes up 0.000, for all pixels. The symbology appears to know the values of each pixel (it changes along the drainage network) but the identify tool isn't picking it up.
![drainage area - no value](https://user-images.githubusercontent.com/21205131/135509603-62555c30-d0f1-4a79-bfd1-d03a6a5b6423.png)

[2021-09-30 19:21] philipbaileynar commented on #446
The best way to get drain areas in riverscapes context is to use the NHD flow lines and use the TotDA_sqkm attribute field. Do not rely on the rasters.

[2021-09-30 19:33] sshahverdian commented on #446
Good to know. Thanks.

[2021-09-30 19:57] Cashe93 commented on #445
@philipbaileynar, after speaking with @leallysmith I think we are on the right track but have a couple of questions before we can continue. ACWIDTH is a new parameter and we are unsure how to proceed; is this something that can be automated on a reach-by-reach basis, or do we just need to figure out a way to calculate the average width per HUC?

[2021-09-30 20:08] philipbaileynar commented on #445
First, it's OK if you need new parameters that aren't already defined. The new parameter must be added to the `hydro_params` table before you attempt to store any values in the `watershed_hydro_params` table. So if you truly need `ACWIDTH` then add it to `hydro_params` and note down the new `param_id` for use when you add watershed values.

Second, I know Tyler would disregard certain equations be

[2021-09-30 22:54] KellyMWhitehead opened #447 "LiDAR channel delineation using TauDEM"
One of the inputs for generating the HAND raster using taudem is the delineated channel network/area that is used as the detrending elevation. For standard 10m dems, the NHD flowline and flow areas work fine. For higher resolution dems (i.e. lidar) this line network is too coarse to be useful in generating HAND (see #299 ). Other options include hand digitizing the line network (or channel area po

[2021-09-30 22:59] KellyMWhitehead commented on #447
Here are the initial results for Ferry Canyon:
[lidarsrc.zip](https://github.com/Riverscapes/riverscapes-tools/files/7262922/lidarsrc.zip)
![image](https://user-images.githubusercontent.com/10746997/135540644-cf788bd6-9244-4e56-b79e-9fccb22abadf.png)
![image](https://user-images.githubusercontent.com/10746997/135540672-129f3f91-15bf-4ad0-a16f-aa6e89704c4d.png)
![image](https://user-images.githubus

[2021-10-01 00:01] Cashe93 commented on #445
Thanks, @philipbaileynar! That does help. Slowly but surely making progress. I'll try to have a handful of test runs for you by midday tomorrow.

[2021-10-01 00:12] KellyMWhitehead commented on #447
@philipbaileynar @joewheaton @nick4rivers

Went a step further and ran it through taudem to see what would happen: [project link](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/4620e08b-cbe0-4a72-929f-8b877f6fdbfd)

looking good so far...

[2021-10-01 00:32] #446 closed

[2021-10-01 17:11] Cashe93 commented on #445
@philipbaileynar, within the hydro params, is the column named 'data_units' the units that BRAT uses? So, if we had an equation with a parameter that uses feet per mile, would the 'data_units' be meters per kilometer? And the conversion in this case be 0.189394?

[2021-10-01 17:29] philipbaileynar commented on #445
- `data_units` refers to the units of the values in the `watershed_hydro_params` table.
- `equation_units` are the units of the variable (parameter) in the hydrological equation.
- `conversion` is the multiplier that is applied to the value in `watershed_hydro_params` table prior to applying the parameter value to the equation. This allows you to store a parameter value that has different units th

[2021-10-01 17:43] Cashe93 commented on #445
That does make sense, but for clarity:

I have a parameter that multiplies relief by stream density and the equation expects this to be feet per mile. So if I'm using a 10 meter DEM to derive the relief value, would I need to convert feet per mile to meters per km?

[2021-10-01 17:49] philipbaileynar commented on #445
You can store the parameter value as feet per km and use a conversion factor to ensure that the parameter value is converted for use in the equation.

[2021-10-01 19:19] philipbaileynar commented on #445
@Cashe93 I don't think you need to manually calculate any parameters. You should be able to get them from streamstats.

Use streamstats to calculate discharge for any stream in a HUC and the output should show you the parameter values for that hydrological region.

It should be quick per HUC. Don't spend time calculating params.

Let me know if that doesn't make sense.

[2021-10-01 19:22] Cashe93 commented on #445
@philipbaileynar, I've never used streamstats so I'm not sure how that is done. I've been able to locate documentation through stream stats, but not specific parameter values.

[2021-10-01 19:32] Cashe93 commented on #445
Scratch that, I figured it out. However, for the Dakotas there are no low flow equations listed, so you can't use streamstats to find those parameters. I'm not sure of another way to do this other than manually. Please advise if there is a way.

[2021-10-01 20:33] philipbaileynar commented on #445
I have seen this "missing low flow equation" problem before. My advice would be to find another "arid" area and copy the low flow equation for this HUC and use it anywhere there are no low flow equation. Then put something meaningful in the notes fields for the watershed so that we can go back and identify these places later.

Maybe look at HUCs in the NE of Idaho and see if there is a common equa

[2021-10-01 20:56] Cashe93 commented on #445
I found one from NE Minnesota. We'll see how that works. There should now be three North Dakota HUCS ready for testing:

- 10060007
- 09020315
- 09020201

If these work, the rest of North Dakota should go pretty smoothly. I'll be out of town next week but will pick back up on this when I get back into the lab.

[2021-10-01 21:35] philipbaileynar commented on #445
@Cashe93 I think you are missing a closing brace on the end of the equation for 10060007:

## Hydrologic equation Error
[code]

[2021-10-02 00:14] KellyMWhitehead commented on #347
The new fcodes have been used since august 20 (1cdf99207f6027214e2232342266b6864e1eb3a0) and on cybercastor (85b8449c91ef5dea5ade9b8828edc918c75ecada)

[2021-10-02 00:14] #347 closed

[2021-10-11 21:53] nick4rivers commented on #447
@KellyMWhitehead - rasterized channel is looking good? Went through the TauDEM project, but doesn't seem like you did run the LiDAR DEM? I could be missing something, but if not what do we need to get the detrended LiDAR DEM?

Thanks @KellyMWhitehead

[2021-10-14 18:31] KellyMWhitehead opened #449 "GDAL Topology error: Non-Noded Intersection"
[code]

Hucs: 10140102, 10190002, 09020107, 10020002, others

[FAILED-10020002.log](https://github.com/Riverscapes/riverscapes-tools/files/7348512/FAILED-10020002.log)

[2021-10-14 18:33] KellyMWhitehead opened #450 "Missing Field (index error)"
[code]
Hucs: 17010104, others
[FAILED-17010104.log](https://github.com/Riverscapes/riverscapes-tools/files/7348528/FAILED-17010104.log)

[2021-10-14 18:37] KellyMWhitehead opened #451 "Vbet Disk space error"
[code]

Hucs: 10040104, 10100004, 10110101
[FAILED-10040104.log](https://github.com/Riverscapes/riverscapes-tools/files/7348541/FAILED-10040104.log)
[FAILED-10100004.log](https://github.com/Riverscapes/riverscapes-tools/files/7348547/FAILED-10100004.log)
[FAILED-10110101.log](https://github.com/Riverscapes/riverscapes-tools/files/7348549/FAILED-10110101.log)

[2021-10-14 18:39] MattReimer commented on #451
This is a tricky one. There is no way to increase disk size on fargate instances. Any chance you can clean something up to make room?

[2021-10-14 18:42] KellyMWhitehead opened #452 "Confinement Union process killed"
[code]
Hucs: 05020004, 06010202,
[FAILED-05020004.log](https://github.com/Riverscapes/riverscapes-tools/files/7348563/FAILED-05020004.log)
,

[2021-10-14 22:44] philipbaileynar commented on #445
@leallysmith I am seeing a lot of hydrology equation errors. Many involve a mistmatch in opening and closing braces. Like the following 7 open braces and 6 closing braces:

[code]

This occurs in the following HUCs:

| watershed\_id |
| :--- |
| 09020307 |
| 09020308 |
| 09020109 |
| 09020105 |
| 09020316 |
| 09020310 |
| 09020315 |
| 09020104 |
| 09020301 |
| 09020303 |
| 09020311 |
| 09020306 |

[2021-10-15 16:55] KellyMWhitehead opened #453 "BRAT: local variable 'count' referenced before assignment"
[code]

Huc 17050101, 17110021

[FAILED-17050101.log](https://github.com/Riverscapes/riverscapes-tools/files/7354821/FAILED-17050101.log)
[FAILED-17110021.log](https://github.com/Riverscapes/riverscapes-tools/files/7354825/FAILED-17110021.log)

[2021-10-15 16:56] KellyMWhitehead opened #454 "BRAT: Errors were found inserting records into the database"
There were 100 or so "Integrity Error when inserting records" log messages before the following error:
[code]

Hucs: 17010215,
[FAILED-17010216.log](https://github.com/Riverscapes/riverscapes-tools/files/7354810/FAILED-17010216.log)

[2021-10-16 21:49] philipbaileynar commented on #454
This suggests the veg rasters have nodata in them. I think we should filter these values out and not store them in the geopackage. I wonder if doing so will skew the veg statistics? Might be worth eyeballing where these -9999 values occur in the veg rasters.

[2021-10-18 16:25] lauren-herbine commented on #408
@KellyMWhitehead I am noticing that not all flowlines have confinement calculated for them (specifically mainstem Mississippi). Do you have any ideas as to why this might be happening? I looked at [08010100](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/5aa2a4f8-59c8-4fd2-9f70-92e65cb28732)

See video:
[![Alt-text](https://img.youtube.com/vi/4U4ChRbtwhM/0.jpg)](https://w

[2021-10-18 19:14] philipbaileynar opened #455 "Research Viability of Riverscapes Context Running to Completion for border-spanning HUCs"
For a long time, we have struggled with HUCs that span the border with Canada. We have several initiatives that make it a priority to figure out how we can overcome this obstacle:

- @chris3jordan is asking for the CRB
- We have a lot of trans-border HUCs for BLM in Montana and North Dakota for @AldenShallcross
- VBET in the west project

The starting point is obviously riverscapes context. So the

[2021-10-19 15:51] #450 closed, assigned to KellyMWhitehead

[2021-10-19 18:00] joewheaton opened #456 "VBET: Bring in FCODEs to all Intermediate and Output Feature Classes"
Related to https://github.com/Riverscapes/RaveAddIn/issues/171#issuecomment-946964728, we need to be able to apply definition queries so we can produce one output for the "entire" network, but filter our analyses and default display. @philipbaileynar and I discussed.

We will have the situation where polygons and centerlines we want to do this for are part of riverscapes that have multiple NHD pol

[2021-10-19 18:32] joewheaton opened #457 "BRAT: Fix `IsPerennial` to be full list of perennials"
This is the default:
![image](https://user-images.githubusercontent.com/9723905/137966042-fe769035-8ff9-4ce6-a49a-b7d783bd2360.png)

But, when you apply `"IsPeren"=1` feature filter query, it is too restrictive.

![image](https://user-images.githubusercontent.com/9723905/137969072-58849c8c-8e28-4e32-abf8-f533292f2a88.png)
So if you use `"ReachCode"=46006  or "ReachCode"=55800 or "ReachCode"=33400`

[2021-10-19 18:32] joewheaton commented on #457
@philipbaileynar FYI

[2021-10-20 21:08] philipbaileynar opened #459 "ESA World Imagery Integration"
There is a new exciting suite of data from the European Space Agency that provides 10m global data from Sentinel 1 and 2. There is a land cover classification (11 categories) that might prove really useful for RCAT and floodplain connectivity. But there are also more than a dozen derived layers, including NDVI.

The data are available as a web mapping service that we have already incorporated into

[2021-10-26 00:10] joewheaton opened #462 "Fill out RS Report Card for each production grade tool"
Download [this file](https://github.com/Riverscapes/pyBRAT/blob/master/docs/Documentation/Status/Tool_ReportCard_3-1-00.md) and put it in your `tools\docs\documentation\Status\` and edit accordingly...
## VBET
- [x] Change the md name to reflect the version (make a release please).
- [x] Fill out report card to best of your ability, then I and other RC folks will review it.
- [x] Ask Joe to add to

[2021-10-26 00:14] joewheaton opened #463 "Author basic tool documentation for production grade tools"
All of our production-grade tools need a [basic level of documentation](https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/). This is a parent ticket for:

- [x] #474
- [x] #493
- [ ] Basic tool documentation for GNAT
- [ ] Basic tool documentation for HAND
- [x] #494
- [ ] Basic tool documentation for RVD
- [x] #495
- [x] #496

[2021-10-27 18:42] #454 closed, assigned to KellyMWhitehead

[2021-10-27 21:41] lauren-herbine opened #466 "Mismatch of project xml to actual gpkg layers"
**_EDIT:_** Hey @KellyMWhitehead

Seems like when this line gets triggered
https://github.com/Riverscapes/riverscapes-tools/blob/dev/packages/channel/channel/channel.py#L225

All the layers defined at the top get added, even the ones that no longer exist
https://github.com/Riverscapes/riverscapes-tools/blob/dev/packages/channel/channel/channel.py#L46-L54

------------------------------------

## Q

[2021-10-27 22:09] #466 closed, assigned to KellyMWhitehead

[2021-10-29 15:44] MattReimer opened #468 "VBET Output bloat due to needless points"
You can see here that this river segment has a perfectly round end with WAY too many points

From this project: <https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/99e6030d-203c-4fef-8d0d-c98606d1e2bd>

<img width="845" alt="Screen Shot 2021-10-28 at 3 32 52 PM" src="https://user-images.githubusercontent.com/1063391/139463743-663d260d-4ed3-4313-ad5e-b475d3cd5406.png">

<img w

[2021-10-29 16:22] joewheaton opened #469 "Remove BRAT Waterbodies from high capacity predictions and definition query"
In the [video](https://youtu.be/drAqjcCcMws) below I explain both the veg parameterization problem of open water (listed as 4, should maybe be 1) and the bigger issue of Artificial Paths not being differentiated between waterbodies and flow areas.

[![Video Link](http://img.youtube.com/vi/drAqjcCcMws/0.jpg)](http://www.youtube.com/watch?v=drAqjcCcMws "")

@wally-mac and @Cashe93 will be interested

[2021-10-29 18:12] wally-mac commented on #469
@joewheaton I like your idea of using the FCODE approach to differentiate artificial paths in waterbodies.  As a reminder in PyBRAT starting with the Utah run we had developed the following approach to differentiate artificial paths in large waterbodies and keep artificial paths in small waterbodies which could actually be beaver dams:
NHD networks flow virtually through lakes, ponds and reservoir

[2021-10-29 22:01] wally-mac commented on #469
@joewheaton I dug into old email chains and the Utah BRAT report how we have scored Open Water in BRAT in the past and found the following:

In BRAT we score vegetation for its suitability as a dam building material. So, by that logic, 0 for Open Water makes some sense. However, LANDFIRE classifies some riparian corridors as open water which tends to include both active stream channels as well as

[2021-10-29 22:25] philipbaileynar commented on #469
FYI sqlBRAT supports @wally-mac comment regarding spatially variable suitability. Should you wish you can provide a "vegetation suitability override" for open water on a HUC by HUC basis. This would replicate the north/south approach that USU took in Utah.

[2021-10-29 23:32] wally-mac commented on #469
@joewheaton and @philipbaileynar another idea regarding how to improve the way we "score" the Open Water category would be to use the NHD polygons that delineate large rivers as an "analysis mask" where within the polygon the open water class would be scored as a 0 or 1 whereas outside of large river polygon the open water class would be scored as a 3 or 4.

[2021-10-29 23:58] philipbaileynar opened #470 "Research that BRAT waterbody threshold parameter is set correctly?"
sqlBRAT has a [commandline parameter for specifying the max waterbody size](https://github.com/Riverscapes/riverscapes-tools/blob/4d2f3f6af82fa94bdfcc7c9f062550e9ab153fa4/packages/brat/.vscode/launch.json#L53). Artificial paths in waterbodys larger than this value should be filtered out of the BRAT feature class.

This feature originated in pyBRAT. @wally-mac can you remind me what value was used

[2021-10-30 00:51] wally-mac commented on #470
@philipbaileynar in 2014 during the Utah statewide run of BRAT we established a water body threshold size of 500 square meters (a conceivably large beaver pond).

[2021-11-08 19:46] wally-mac commented on #445
@philipbaileynar can this now be closed?

[2021-11-08 20:04] #445 closed

[2021-11-08 23:57] joewheaton opened #472 "Update Acknowledgements to Include BLM"
Update the [Acknowledgements](packages/brat/docs/acknowledgements.md) to include sqlBRAT funding.

| Sponsor   | | Geography   | Year(s)   | Status      |
| ---------------------------------------- | - | -------------------- | -------------- | ------------- |
| NOAA  | - | Columbia River Basin | Ask Pip (2020)?  | Provisional |
| BLM- Montana-Dakotas | - | Montana, North Dakota & South Dakota | 20

[2021-11-09 00:01] jtgilbert opened #473 "Update BRAT pubs/references"

[2021-11-09 00:06] jtgilbert commented on #473
Graham, H. A., Puttock, A., Macfarlane, W. W., Wheaton, J. M., Gilbert, J. T., Campbell-Palmer, R., ... & Brazier, R. E. (2020). Modelling Eurasian beaver foraging habitat and dam suitability, for predicting the location and number of dams throughout catchments in Great Britain. European Journal of Wildlife Research, 66(3), 1-18.

[2021-11-09 02:00] joewheaton commented on #473
Always provide DOIs and URLs when you start editing these. See: https://riverscapes.xyz/Tools/Technical_Reference/Documentation_Standards/WebSites/Common.html#toc-include-citations

[2021-11-09 02:04] wally-mac commented on #472
Add US Fish and Wildlife Service, Upper Klamath Watershed, Oregon. 2021

[2021-11-09 16:01] joewheaton commented on #472
@wally-mac should we include the Bonneville Environmental Foundation stuff too?

[2021-11-09 16:24] wally-mac commented on #472
Yes, good call.  @jtgilbert please add Luckiamute Watershed Council, Mid Willamette Basin, Oregon, 2021-2022, in progress

[2021-11-09 16:32] joewheaton commented on #291
This was a good catch @philipbaileynar. Sorry I missed it. See #469 and #470.

[2021-11-09 16:33] joewheaton commented on #463
@jtgilbert here is a parent issue for all those tools.

[2021-11-09 16:33] joewheaton opened #474 "Basic tool documentation for BRAT"

[2021-11-09 20:04] KellyMWhitehead commented on #470
The value in cybercastor is set to `--max_waterbody 0.001`

[2021-11-09 20:17] philipbaileynar commented on #470
and @KellyMWhitehead are waterbodies with an area larger than this value having their capacity set to 0?

In other words:

1. The property is actually getting used
2. The proprty is being converted to the correct units during comparison with the actual data

[2021-11-09 20:32] KellyMWhitehead commented on #470
1) After reviewing the [brat code](https://github.com/Riverscapes/riverscapes-tools/blob/4d2f3f6af82fa94bdfcc7c9f062550e9ab153fa4/packages/brat/sqlbrat/brat_build.py#L173), it appears that max waterbodies is not currently being used.
2) The max waterbodies parameter eventually gets used [here ](https://github.com/Riverscapes/riverscapes-tools/blob/4d2f3f6af82fa94bdfcc7c9f062550e9ab153fa4/lib/commo

[2021-11-09 20:42] philipbaileynar commented on #470
The usage you refer to in point 2 above is the same behaviour as pyBRAT.

In preparing the BRAT network, it should only include artifical paths that occur in "small waterbodies", i.e. waterbodies with an area less than the parameter threshold.  This appears to be the logic in the line that you linked to.

So why are artifical paths for big waterbodies being retained? Here's an egregious example fo

[2021-11-09 20:48] KellyMWhitehead commented on #470
Lines 90-97 are not getting run because waterbody_max_size is None here. waterbody_max_size is not getting passed to build_network.

[2021-11-09 23:16] philipbaileynar commented on #470
Is the solution as easy as ensuring that the command line argument is sent to the build_network function? Once that is plumbed the lines of code you linked to should be activated and start doing their job?

[2021-11-09 23:57] KellyMWhitehead commented on #470
I think its just adding max_waterbodies to line 173 of brat_build. It looks like its plumbed in everywhere else. This really is just an attribute filter for the AreaSqKm field in nhd waterbodies. No geometry calculations involved.

Strange that the vs launch files use a value of `100`, those will need to be changed as well for running locally (but doesn't affect cybercastor).

[2021-11-10 04:52] philipbaileynar commented on #470
Yes, this is a problem with default parameters for function arguments; they are easily overlooked.

Please:

1. fix the issue by passing `max_waterbody` parameter into brat_build.
2. Make sure that both cybercaster your local runs have the correct value for max_waterbody.
3. Do a test run and spot check that waterbodies above that threshold do not have any features in the output BRAT geopackage.
4

[2021-11-11 23:13] shelbysawyer opened #476 "Next Steps for VBET: Master Issue"
I'm using this issue to serve as the master issue for next steps with VBET. I'm really just trying to get some things down on "paper" here, so feel free to edit as you see fit! Based on a recent conversation with @joewheaton, my understanding is that these are my next to-dos:

- [ ] #477

- Currently, the transform curves have been specified, but not calibrated. Calibration will help VBET output a

[2021-11-11 23:14] shelbysawyer opened #477 "1. Calibrate VBET transform curves"
Currently, the transform curves have been specified, but not calibrated. Calibration will help VBET output a better prediction of valley bottom extent in all settings.

We want to partition our specification/calibration points so that we can use the same dataset to both calibrate and validate it.
- We could break it up-- random sample, 10% from each ecoregion?

@shelbysawyer I am adding here so th

[2021-11-11 23:16] shelbysawyer opened #478 "2. Develop a method for improving VBET performance in areas of low slope"
Right now, VBET is overpredicting in areas of low slope. One idea to address this issue is to change the weighting of normalized evidence (TWI, HAND, and Slope) for areas under a given slope threshold.

- [ ] Slope Task 1 - Look at Slope Analyses using the thresholds we are proposing using.
Currently, the slope symbology is pretty broad on the classes 0-5, 5-10, 10-20, 20-30, 30:
![image](https://

[2021-11-15 22:49] #472 closed

[2021-11-15 22:50] #473 closed

[2021-11-17 18:46] KellyMWhitehead opened #480 "Brat project did not validate (cybercastor)"
[code]
Huc: 10040202
[FAILED-10040202.log](https://github.com/Riverscapes/riverscapes-tools/files/7557186/FAILED-10040202.log)

[2021-11-17 19:31] MattReimer commented on #480
There's some evidence this seems to have been caused by a momentary network outage trying to reach the validation xsd.

Try rerunning

[2021-11-19 18:41] joewheaton commented on #477
## The old spreadsheet and Slopes first
https://docs.google.com/spreadsheets/d/1rClE5BCK8nBXZBwH7cRRa3MJseE1Vj5xhYutxeHNotE/edit?usp=sharing

We need to play with our slopes that are being too inclusive right now:
![image](https://user-images.githubusercontent.com/9723905/142674001-5e17abc0-4ac8-4b26-8752-7c3e03d20dc5.png)

It seems like what we're using at 0.68 is way too high in each case. It al

[2021-11-19 18:44] lauren-herbine commented on #476
Hey @shelbysawyer it would be awesome if you used the Two Medicine (10030201) watershed as one of your "testing the tweaks in" HUCs. I am using this as a main example watershed, and we already have a lot of our tools run for here (mainly why I chose it).

[RSContext](https://data.riverscapes.xyz/#/BLM/98113441-eae3-4ee4-b6b3-c13445901454)
[VBET](https://data.riverscapes.xyz/#/BLM/871f96ef-ec4f-4ea

[2021-11-19 18:49] joewheaton commented on #478
@KellyMWhitehead and @philipbaileynar can you confirm that this is where in the VBET code you combine evidence:
https://github.com/Riverscapes/riverscapes-tools/blob/fc62981f6e4a0b8432c37ca9ce76f94caa4e2a23/packages/vbet/vbet/vbet.py#L257-L279

I guess it is really here where the combination happens?
https://github.com/Riverscapes/riverscapes-tools/blob/fc62981f6e4a0b8432c37ca9ce76f94caa4e2a23/pac

[2021-11-20 15:36] joewheaton opened #481 "Add metadata tag of cell resolution for every raster from every cyber-castor tool"
Ideally we would calculate and store in the riverscapes project a metadata tag for cell resolution for every raster in every project. To start, lets at least start doing that for all our cybercastor tools.

[2021-11-20 15:43] joewheaton commented on #481
This was prompted by looking at VBET project in WebRAVE and not being able to figure out if it was 10 m or 1 m cell resolution:

[![Video Link https://youtu.be/sdzUiUfI2FU](http://img.youtube.com/vi/sdzUiUfI2FU/0.jpg)](http://www.youtube.com/watch?v=sdzUiUfI2FU "")

[2021-11-20 16:05] joewheaton opened #482 "Implement complete and thorough cross project referencing for all inputs/intermedaites from other Cyber Castor tools"
We are not always doing what we purport to on cross-project referencing (i.e. when an input or intermediate in one model is sourced directly from another project). We have incomplete and partial implementation of this in some of our models. For example, in this TauDEM project below, the Layer information for the DEM helpfully:
![image](https://user-images.githubusercontent.com/9723905/142732635-5f

[2021-11-20 16:06] joewheaton commented on #482
@MattReimer and @philipbaileynar I know this some of these may get pushed over to WebRAVE, but this felt more like a project.rs.xml issue at runtime of tools so I put it here.

[2021-11-20 16:06] joewheaton opened #483 "Project Referencing 1 - Inventory every CyberCastor tools inputs and intermediates that come from another CyberCastor project and make a table of which one's correctly reference, and which do not."

[2021-11-20 16:10] joewheaton commented on #447
@KellyMWhitehead what is the status of this?

[2021-11-20 16:12] joewheaton opened #484 "Document Custom TauDEM Channel Delineation"
@jtgilbert we need to document how custom-derived from topography channel delineation works in custom project runs for TauDEM (typically from high-res topo like LiDAR). See #447.   We'll need to figure out how we want to note and document these custom "store" runs.

[2021-11-20 16:34] joewheaton opened #485 "Wish List for Warehouse/WebRaVE features for how we "share data" by learning from HydroShare & Logan River Observatory"
### Discussed in https://github.com/Riverscapes/riverscapes-tools/discussions/268

<div type='discussions-op-text'>

<sup>Originally posted by **joewheaton** April  7, 2021</sup>
@philipbaileynar here at USU we have Jeff Horsbough, Bethany Nielson and David Tarbotton, all of whom are the architects behind [CUASHI's Hydroshare](https://www.hydroshare.org/) and the local [Logan River Observatory](ht

[2021-11-20 17:24] joewheaton opened #486 "Have we ever run VBET successfully off a LiDAR input?"
@philipbaileynar and @KellyMWhitehead, I know we have been talking for ages about getting VBET to run off of LiDAR. I had heard a rumor that maybe you successfully did this for @coloradomurph a while back, but I never saw the project.

I heard other rumors from @MattReimer that the VBET LiDAR might not work in webRAVE and from @philipbaileynar that things were crashing out. I know we have a handfu

[2021-11-20 17:53] joewheaton opened #487 "Please update sqlBRAT tool to add metadata tags to inputs to trace for sqlBRAT what project valley bottom, roads and rails came from."
This is from parent project: https://github.com/Riverscapes/RiverscapesXML/issues/384.

This is also related to: https://github.com/Riverscapes/riverscapes-tools/issues/482

[2021-11-20 17:53] joewheaton opened #488 "Please update sqlBRAT tool to write the buffer polygons to the intermediates.gpkg"
This is from parent project: https://github.com/Riverscapes/RiverscapesXML/issues/384.

This is also related to: https://github.com/Riverscapes/riverscapes-tools/issues/482

[2021-11-20 20:04] joewheaton commented on #486
See: https://github.com/Riverscapes/riverscapes-tools/discussions/491

[2021-11-20 20:10] joewheaton opened #492 "FIx drainage Area raster without values in RS Context"
This issue comes from:

### Discussed in https://github.com/Riverscapes/riverscapes-tools/discussions/448

<div type='discussions-op-text'>

<sup>Originally posted by **sshahverdian** September 30, 2021</sup>
When using the Identify tool in ArcGIS to learn a drainage area value, the pixel value comes up 0.000, for all pixels. The symbology appears to know the values of each pixel (it changes along

[2021-11-20 20:11] joewheaton commented on #492
@philipbaileynar we did not adequately answer this issue from @sshahverdian. We need to flag it up as a bug and fix it.

[2021-11-20 20:12] joewheaton commented on #492
@jtgilbert notice how we go from a discussion item to an issue. It allows the discussion to remain as that, but creates an actionable issue off of it.

[2021-11-21 03:11] philipbaileynar commented on #486
We have generated dozens of projects for Anabranch. They are all available to Anabranch through the warehouse.

@joewheaton can you resassign this to an Anabranch employee or specify a budget for performing this audit.

To be brief, the latest [VBET run from LiDAR is for the Asotin](https://github.com/Riverscapes/RiverscapesData/issues/103)

[2021-11-21 03:20] joewheaton commented on #486
You and I can discuss it. I think I know what is going on, but I don't want to waste your time or Kelly's running something that is not what we need. This is an easy fix and opportunity to improve our processes. We just need to go a little slower and be clearer about what is what. As per normal the Project indicates what to bill to.

[2021-11-21 03:27] joewheaton commented on #486
And it is very difficult to discern what is what for me (and I have a good handle on what is going on). Our folks cannot make sense of them.

What do you mean? Who would know what to do?

Budget is Anabranch R&D.

What I am asking is how many LiDar VBET we have run. I know this is one, but  I wasn't notified about it and was not sure if it was our first.

[2021-11-22 18:34] KellyMWhitehead commented on #449
This is a challenging error - GDAL throws an exception if a non-noded intersection is found when differencing two geometries. I was unable to find a way to test for this before calling Difference, so I am just catching the exception here and moving on. This error has occurred on only a handful of geometries so far.

Fix applied in e3804429c6d16148223ee14dfdbc2755831e54da

[2021-11-22 18:43] joewheaton commented on #462
Lets do RSContext, VBET, BRAT, TauDEM and Channel Area for Riversapes Webinar. The rest can come after.

[2021-11-22 18:44] joewheaton opened #493 "Basic tool documentation for ChannelArea"
Just get a first cut:

- [ ] Explanatory text and figure on landing page
- [ ] Outputs - Basic video for now
- [ ] Inputs & Intermediates - Basic video for new
- [ ] Report Card

[2021-11-22 18:44] joewheaton opened #494 "Basic tool documentation for RS_Context"
Just get a first cut:

- [ ] Explanatory text and figure on landing page
- [ ] Outputs - Basic video for now
- [ ] Inputs & Intermediates - Basic video for new
- [ ] Report Card

[2021-11-22 18:44] joewheaton opened #495 "Basic tool documentation for TauDEM"
Just get a first cut:

- [ ] Explanatory text and figure on landing page
- [ ] Outputs - Basic video for now
- [ ] Inputs & Intermediates - Basic video for new
- [ ] Report Card

[2021-11-22 18:44] joewheaton opened #496 "Basic tool documentation for VBET"
Just get a first cut:

- [ ] Explanatory text and figure on landing page
- [ ] Outputs - Basic video for now
- [ ] Inputs & Intermediates - Basic video for new
- [ ] Report Card

[2021-11-22 18:53] joewheaton commented on #463
The ones for the tasks without issues are mid-Dec. The ones with issues have their own milestones (i.e. BLM Webinar)

[2021-11-23 04:30] philipbaileynar commented on #449
What does non-noded intersection mean? Surely most intersections are non-noded?

[2021-11-24 20:09] jtgilbert opened #497 "Document actual TauDEM Version in cybercaster"
The version of tauDEM in our scripts is actually the version of the cybercaster utilization of tauDEM. We should include the actual tauDEM version (currently 5?)  for clarity.

[2021-11-25 17:19] MattReimer commented on #497
Hey @jtgilbert we do actually track that version (although there's a spelling error I see now. I'll get that fixed)

<img width="958" alt="Screen Shot 2021-11-25 at 9 16 59 AM" src="https://user-images.githubusercontent.com/1063391/143481747-b99f4fad-0617-494c-9df8-0b5019c60349.png">

We do need both versions because if I make an improvement to how we _use_ Taudem then I want that tracked.

I'm no

[2021-11-25 17:21] MattReimer commented on #497
Just confirmed that the metadata tag now reads `TauDEM_SoftwareVersion` so that should be fixed going forward.

[2021-11-26 17:28] MattReimer commented on #497
I'm closing this because I think it's been answered. Re-open if you disagree

[2021-11-26 17:28] #497 closed

[2021-11-29 03:27] wally-mac commented on #477
@shelbysawyer please let me know how I can help with generation of the calibration points.

[2021-11-29 18:01] #380 closed

[2021-11-29 22:21] philipbaileynar commented on #457
Updated summary of tasks:

1. Change `ReachCode` column name on BRAT Attributes table to `FlowType`.
    - Need to search code for any uses. I think there might be some either in in the conservation model or the report.
1. Change `IsPeren` to use the following definition:

[code]

@joewheaton you're sure this is the final ruleset for `IsPeren`? This is just using "reach" FCodes and not using water

[2021-11-30 01:44] KellyMWhitehead opened #498 "Add Land Ownership Layer to Brat Inputs.gpkg"
Tracking changes in RS Tools for [adding brat land ownership layers](https://github.com/Riverscapes/RiverscapesXML/issues/392)

- [x] Copy ownership layer to inputs.gpkg
- [x] Add to project file

[2021-11-30 16:25] jtgilbert commented on #474
Closing this as basic documentation was done for webinar. Will keep refining in the future.

[2021-11-30 16:25] #474 closed

[2021-11-30 18:02] jtgilbert commented on #483
# WebRAVE

| Tool         | Data layer                                 | Type         | linked  | correctly | linked to           |                                                                      |
|--------------|--------------------------------------------|--------------|---------|-----------|---------------------|----------------------------------------------------------------------|
| Tau

[2021-11-30 18:32] joewheaton commented on #483
Thanks @jtgilbert. @philipbaileynar can you and/or @MattReimer figure out how to task out getting the ones not linked linking, and the one's linking in correctly linked?

[2021-11-30 18:42] jtgilbert commented on #483
@joewheaton @MattReimer  BTW the table there is just WebRAVE, I'll add one for Arc and Q as well.

[2021-11-30 18:45] MattReimer commented on #483
@jtgilbert the information that informs these is the same in WebRAVE as it is in Arc and Q so we might be able to save you some effort here.

If the project xml has the necessary metadata then all the RAVEs will show it.

[code]

[2021-11-30 18:47] #494 closed

[2021-11-30 18:47] #495 closed

[2021-11-30 18:47] #496 closed

[2021-11-30 18:47] #493 closed

[2021-11-30 18:48] jtgilbert commented on #483
@MattReimer I see! FYI I'm getting an error trying to open the links from QRAVE...

[2021-11-30 18:50] MattReimer commented on #483
Would you mind posting a quick issue on https://github.com/Riverscapes/QRAVEPlugin

with a screenshot if possible and the error message? I don't want to lose track of that.

[2021-11-30 18:53] joewheaton commented on #493
@jtgilbert this is a great start. Thanks!

[2021-11-30 20:00] KellyMWhitehead commented on #488
Added to d509f3bacc4c965fc1de7d2a9c72e3fba353daf7

[2021-11-30 20:00] #488 closed

[2021-11-30 20:01] KellyMWhitehead commented on #457
IsPeren added to cff978a4b35a965737a92cc0dd84fbd6f304fce9

FlowType added to be7fd8e5d8341421b78abcc82e797deb6c90b88d

[2021-11-30 20:01] #457 closed

[2021-11-30 20:01] KellyMWhitehead commented on #498
Added to c85f158f88531772ca5ff5a29b8b97c97c646153

[2021-11-30 20:01] #498 closed

[2021-11-30 20:43] KellyMWhitehead commented on #470
max waterbody param reinstated in a33e6814723a5ef7bf71bcea61ba261f04862592

I had to remove the 58000 fcode filter in the flowlines, since this was including all artificial reaches (overriding the water body max size filter). All artificial reaches included are either 1) inside a flow area polygon or 2) in a water body polygon smaller than the max size. (76727e2405476d9bc9ee845223dba0dcb27cef4d)

[2021-11-30 20:43] #470 closed

[2021-11-30 21:33] jtgilbert opened #500 "Fill out developer intent for RS Context Report Card"
Update The "Developer Intent" section at the end of:
https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/rscontext/docs/Status/ReportCard_1.2.2.md

[2021-11-30 21:36] jtgilbert opened #501 "Fill out developer intent for TauDEM report card"
fill out developer intent section at the bottom of:
https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/taudem/docs/Status/ReportCard_1.0.2.md

[2021-11-30 21:39] jtgilbert opened #502 "Fill out developer intent for VBET report card"
fill out developer intent section at the bottom of:
https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/vbet/docs/Status/ReportCard.md

@joewheaton it looks like file name of this one didn't get changed to reflect the tool version like the others.

[2021-12-01 19:14] jtgilbert opened #505 "Update MT BRAT Q2 hydrologic equations"
Issue noticed as part of QC (https://github.com/Riverscapes/RiverscapesData/issues/99)
The equations being used were actually Q50. Please update to Q2:

| Region                             | Q2                                                          |
|------------------------------------|-------------------------------------------------------------|
| West                               | 12.2 *

[2021-12-01 21:00] philipbaileynar commented on #505
Remember @Cashe93 to verify that any watersheds where you are updating equations also have any new parameters required by the equations...

[2021-12-01 21:03] jtgilbert commented on #505
@philipbaileynar  good point, but all the params should be there, the equations use the same ones, just have different coefficients and exponents.

[2021-12-01 21:28] Cashe93 commented on #505
Thanks for compiling these, @jtgilbert. I'll be assigning this to @leallysmith.

[2021-12-02 18:45] leallysmith commented on #505
All the Q2 equations have been updated to what you have listed @jtgilbert

The east central plains region does not have the slop30_30m parameter only the slop50_30m parameter, I will retrieve the slop30_30m values and update here once they're in.

[2021-12-02 19:07] joewheaton opened #506 "Add Geology to Riverscapes Context Projects"
### Discussed in https://github.com/Riverscapes/riverscapes-website/discussions/29

<div type='discussions-op-text'>

<sup>Originally posted by **stephen-bennett** November 30, 2021</sup>
I'd like to request that a geology layer be added to riverscapes projects as it is a fundamental driver of riverscape form and function </div>

[2021-12-02 19:19] joewheaton commented on #506
@philipbaileynar after you scope this, we'll decide when and how to prioritize it. No rush.

[2021-12-02 19:51] philipbaileynar commented on #505
I am showing @jtgilbert how to take ownership of the BRAT parameters postgres database later today. He will be able to export these equations ready for use in sqlBRAT.

[2021-12-02 20:02] leallysmith commented on #505
All HUCs in the east central plains region have values for the slop30_30m parameter.

[2021-12-02 20:12] lauren-herbine opened #507 "Confinement ratios off when downloaded"
Confinement ratio looks good in WebRave (0-1), but when downloaded and looked at in Q, the ratio goes from 1-2. Putting this here to address in future. See video:

https://youtu.be/6ssSMrshGOI

Looking at [10030201](https://data.riverscapes.xyz/#/NRCS_CEAP/c1862e19-cf4c-406f-a292-db1ce6f335ce)

Additionally, not all reaches have confinement calculated for them. I found some headwater reaches along

[2021-12-02 20:28] philipbaileynar commented on #507
@lauren-herbine note the [FCodes used to run confinement](https://github.com/Riverscapes/riverscapes-tools/blob/cfce0044a829b5b6efd5ddf9ce7f29cb9bb7c604/packages/gnat/.vscode/launch.json#L69). Might answer your question?

[2021-12-02 21:04] lauren-herbine commented on #507
Huh, the Two Medicine is listed as a 55800 (artificial path), so the code should cover that...

[2021-12-02 22:04] jtgilbert opened #508 "BRAT Hydro equation error"
## Hydrologic equation Error
[code]

[2021-12-02 22:16] jtgilbert commented on #508
@leallysmith you missed one * between the slop_30 and etr params, ie, it should be )*( instead of )(

[2021-12-02 22:36] leallysmith commented on #508
@jtgilbert just added that missing * in

[2021-12-03 19:37] MattReimer opened #511 "Science Base URL Error"
Science base has the wrong URLS so we're getting missions data in our patchwork DEMs that we build for RSContext

Sometimes this fails in Cybercastor and sometimes it just produces blank data

<img width="988" alt="Screen Shot 2021-12-03 at 11 33 40 AM" src="https://user-images.githubusercontent.com/1063391/144662727-0a6fd072-f0ba-4126-bae6-124891a77ee4.png">

1. [x] Implement a fix where we use a

[2021-12-03 19:56] MattReimer opened #512 "Adding Errors and Warnings from logfile to the report"
As previously mentioned, we can't read the log file at the time of report generation. What we could do is add the logfile as a parameter to the XML augmenter script that runs after the tool, scrape the logfile and report all the errors we find to the XML. This could be done in the same way for every tool.

[2021-12-03 22:39] #449 closed

[2021-12-03 23:13] shelbysawyer opened #514 "Where has VBET been run?"
Hi @philipbaileynar,

I'm making up a map for my AGU poster to show where VBET has been run and where it will be run in the future. @joewheaton  suggested that I reach out to you to get a table of the HUCs where VBET has been run to do this.

My original thought was to grab the relevant HUC 2 shapefiles for the Mississippi, BLM Montana / Dakotas, and CRB for the "has been run" but I'm not sure exa

[2021-12-04 00:10] joewheaton commented on #514
@philipbaileynar I was thinking you could just provide from Warehouse database either the list of HUC 8 that have a VBET run or query she can use to select from WBD shapefile. We know where it is planned from HUC 2s.

[2021-12-04 00:15] KellyMWhitehead opened #515 "RS Context Downloading multiple DEM's"
Issue:
Science base spatial query returns all versions of the dems that intersect the huc polygon.
See https://github.com/Riverscapes/riverscapes-tools/issues/511

Note this does not impact the data quality or processing, only downloading and storing extra data.

Resolution:
- [ ] Need to select one version of each dem to download from science base (newest?)

[2021-12-04 00:15] KellyMWhitehead commented on #511
Summary/context:
1) DEM's are stored in s3 folders that are indexed spatially by lat/long.
2) USGS periodically updates the dems and **adds** them to the folder. They appear in the S3 buckets with the date appended in the filename. Several versions of the dem can appear in the folder.
3) When we spatial query Science base for the intersecting huc dems,  we are getting **every** DEM, which includes

[2021-12-04 00:37] philipbaileynar commented on #515
Newest makes sense. Can we tell that from S3 or do we need Science Base?

[2021-12-04 00:42] KellyMWhitehead commented on #515
In theory we can get it from either, since science base is sending along all urls.

[2021-12-04 00:55] philipbaileynar commented on #514
Here's a CSV of every VBET in the warehouse.

[2021_12_03_vbet_projects.csv](https://github.com/Riverscapes/riverscapes-tools/files/7653042/2021_12_03_vbet_projects.csv)

Future Runs:

- Mississippi two digit HUCs 05, 06, 07, 08, 10, 11
- CEAP will be: 12, 13, 14, 15, 16, 17, 18

My recommendation is to get hold of the national watershed boundary dataset and use attribute queries to make the map.

[2021-12-04 18:53] shelbysawyer commented on #514
Great. Thank you!

[2021-12-04 21:51] shelbysawyer commented on #514
@Cashe93 Do you know an easy way to do this in ArcMap? I've got a CSV of the HUC8 codes and a HUC8 shapefile for the US. I know how to select by attribute when it's only a few items (picture of how I've always done it), but the CSV has like 500+ HUC codes that I need to select and this method doesn't seem like it will work for this task. I'd have to add the ' symbol to each one. Any suggestions? I

[2021-12-04 22:13] shelbysawyer commented on #514
Commenting with my workflow for reference, even though I'm sure there are much better ways:
1) Formatted column to put each HUC code in single quotes (select column, format cells, custom: `'\#\'`)
2) Used an [online converter](https://convert.town/column-to-comma-separated-list) to convert list into comma separated list
3) Copied this and input it into the ArcMap "select by attribute" query box

[2021-12-04 22:13] #514 closed

[2021-12-06 17:28] MattReimer opened #516 "Riverscapes-Tools HOTFIX release"
- [x] Cybercastor testing
- [x] increment version numbers
- [x] Draft a release

[2021-12-06 20:04] #508 closed

[2021-12-06 20:05] #505 closed

[2021-12-09 00:39] shelbysawyer commented on #514
One last question for you @philipbaileynar

For the HUC 2s with area outside the border of the US, will VBET be run only for areas within the border?

[2021-12-09 02:06] philipbaileynar commented on #514
I believe it has VBET polygons just in the portion that is inside the US

[2021-12-09 18:33] #511 closed

[2021-12-11 00:34] KellyMWhitehead commented on #453
fixed in 9d885ce03a121b55767b00abdd64747c1e1d4384

[2021-12-11 00:34] #453 closed

[2021-12-13 17:39] MattReimer commented on #480
@KellyMWhitehead can you close this if it's not an issue anymore

[2021-12-13 18:34] #480 closed

[2021-12-14 16:12] shelbysawyer opened #523 "Filter and revisit existing ~3000 VBET calibration records and make any changes in postGIS db"

[2021-12-14 16:13] joewheaton opened #524 "Think about whether you want different categories to better align with what VBET is doing and if so work with to edit form."
Original issues convoluted degree of confidence and boundaries.
![image](https://user-images.githubusercontent.com/9723905/146036250-8cb1199a-2039-4e6a-b93e-190af811c5c4.png)
In #477 parent @joewheaton suggested:

[2021-12-14 16:36] shelbysawyer opened #525 "FEMA maps as a line of evidence"
Think about how FEMA maps can be used as a line of evidence, particularly in urban areas / big rivers that may cause our existing lines of evidence to not produce the result we're looking for. It can be useful for differentiating between inactive floodplain, terrace, etc in heavily modified landscapes where topography alone is not quite enough.

[2021-12-14 16:44] #525 closed

[2021-12-14 16:44] shelbysawyer commented on #525
This thought is detailed [here](https://github.com/Riverscapes/riverscapes-tools/issues/524).

[2021-12-14 16:46] joewheaton commented on #524
@lauren-herbine and I on big rivers could use the FEMA maps to differentiate between `Inactive Floodplain`, `Terrace`, and `Probably Not Valley Bottom` categories.

![image](https://user-images.githubusercontent.com/9723905/146040853-abebb477-230e-4764-b312-6b848a0b271a.png)

Specifically we can take things where we may be tempted to put it in `Terrace` or `Probably not` and definitely map it as `

[2021-12-14 16:51] shelbysawyer commented on #524
@shelbysawyer Just a reminder for myself here on our conversation:
- FEMA mapping is definitely in the VB.. so it's good for checking to see if we're underpredicting
- We also need another line of evidence to inform the other "bound"
- 1:24k soil map quad will be good for informing the other "bound"  - to see how much overpredicting

[2021-12-14 19:55] shelbysawyer opened #527 "ArcRAVE VBET Shape Integrity Issue"
Hi @philipbaileynar and/or @MattReimer,

While exploring a VBET project in ArcRAVE, I noticed issues with a few layers not drawing. Specifically, the Estimated Valley Bottom Geomorphic Units are not drawing properly.

Here's a video of the issue:
[![Not showing https://youtu.be/IpKcofUv3G8](http://img.youtube.com/vi/IpKcofUv3G8/0.jpg)](http://www.youtube.com/watch?v=IpKcofUv3G8"")

[2021-12-14 20:59] MattReimer commented on #527
Oh wow. That's a new one for me. Usually Arc renders anything we throw at it.

 Could be the VBET process is creating impossible shapes?

@shelbysawyer does this probem exist in QRave or WebRAVE?

Can you drop a warehouse or webRAVE link so we can follow up?

[2021-12-14 21:02] joewheaton commented on #514
@shelbysawyer I know this is closed, but I am dumping the map you made for [your poster](https://eventpilotadmin.com//web/page.php?page=Session&project=AGU21&id=p982905-94120) here for reference:
![image](https://user-images.githubusercontent.com/9723905/146078829-37400490-92d1-4984-b342-5e9682b87d3e.png)

[2021-12-14 21:09] shelbysawyer commented on #527
[Here](https://data.riverscapes.xyz/#/BLM/871f96ef-ec4f-4eaf-91bb-7f702e0cca36) is the project that I'm seeing the issue in. QRAVE and WebRAVE are working fine, it looks like it's only an issue in ArcRAVE.

[2021-12-14 21:12] joewheaton commented on #511
Thanks @KellyMWhitehead this is helpful. Can you confirm whether or not fixes have been made in the impacted Mississippi HUCs so that we have the DEMs now, or do you still need @lauren-herbine and I to flag those for you?

[2021-12-14 21:14] philipbaileynar commented on #527
Could also be a GeoPackage allows geometries that Esri doesn't allow.

@shelbysawyer can you export the effected layer to ShapeFile from QGIS. Then try loading it in ArcGIS.

[2021-12-14 21:20] shelbysawyer commented on #527
@philipbaileynar When I exported the 3 layers from QGIS and added them in ArcGIS, there were no drawing problems.

[2021-12-15 17:50] shelbysawyer commented on #523
@joewheaton Can you remind me how to access this database? I looked around in Q but didn't see it. Thanks

[2021-12-15 18:02] jtgilbert opened #528 "vwReaches layer missing from RVD output gpkg"
When viewing the contents of the RVD output gpkg in Q, the vwReaches layer is missing:
![2021-12-15_105230](https://user-images.githubusercontent.com/21687931/146240256-93a384b4-c48c-4281-aadb-e0da986bcb00.png)

In Arc, the table exists, but not the layer. It seems to manage to bring in the table and associate it with the reachGeometry layer so that it can still display (there's no way to get it t

[2021-12-15 19:57] philipbaileynar commented on #528
Geospatial views are a squishy part of the GeoPackage specification. See [requirement 150](https://docs.ogc.org/is/12-128r17/12-128r17.html#_table_definition_3).

@jtgilbert can you check if the view meets the requirement. The first column of the view is a unique integer and that there's also a geometry column?

[2021-12-15 20:35] jtgilbert commented on #528
@philipbaileynar When I open it in Arc, the table has both required fields.

[2021-12-15 21:51] shelbysawyer commented on #524
@joewheaton Should I work with @philipbaileynar to edit the form? I agree with these new categories and definitions:

`Active Channel Area` (where its mapped by NHD, not what it shows on aerial photo)
`Active Floodplain` (middle of 10 m pixels that are at least 1 to 2 pixels wide appear low-enough to flood regularly and are supporting riparian vegetation
`Inactive Floodplain` (middle of 10 m pixel

[2021-12-15 23:49] joewheaton commented on #524
Yes @philipbaileynar can you

Well you can go back to the transform functions and we can see exactly what we want them to do...  We also have some old threads you can dig up with @KellyMWhitehead where we forced some of the "approximate geomorphic units"

Recall that >=  0.995 is `active channel`,  0.995 > `active floodplain` >= 0.9 (currently), and 0.9 > `inactive floodplain` >= 0.68.

After that

[2021-12-16 00:08] joewheaton commented on #524
These have been updated by @philipbaileynar thanks. Step 1 - Edit all existing (e.g. move, delete and assign appropriate new category). Step 2 - Notify @philipbaileynar when all the old categories are no longer used and he will delete them, and Step 3 - Collect new points.

[2021-12-16 15:30] #524 closed

[2021-12-16 18:51] joewheaton opened #529 "Add Land Use Intensity Raster output to BRAT"
From: https://github.com/Riverscapes/RiverscapesXML/issues/418 @philipbaileynar  had suggested:

This ticket is to request that enhancement. @philipbaileynar add any notes as needed.

[2021-12-16 19:47] KellyMWhitehead commented on #455
Implemented in rscontext version 1.2.2

[2021-12-16 19:47] #455 closed

[2021-12-22 18:44] KellyMWhitehead commented on #452
Solution is to rerun with more cpu/memory.

[2021-12-22 18:44] #452 closed

[2022-01-04 22:30] jtgilbert opened #532 "BRAT Limited Opportunity Output categories"
In ArcRAVE and QRAVE there is a `Stream Size Limited` category, but in WebRAVE there isn't. However, it does not appear that this category gets applied at all anyway. If we don't want this output category, then this is just an xml issue. I think it makes sense to use this category to maintain transparency in the process (i.e., show that a drainage area threshold is being applied because we're assu

[2022-01-04 22:30] jtgilbert commented on #532
@joewheaton @philipbaileynar thoughts on this? I've left it unassigned, but if you agree with the above you can assign.

[2022-01-04 22:40] jtgilbert opened #533 "Run BRAT off of channel area projects instead of drainage network lines"

[2022-01-04 22:43] jtgilbert opened #534 "Anthropogenic layer and hydrologic calculation projects"
Create new project types for anthropogenic input layers and their derivatives, and for hydrologic (Q and SP) calculations. These projects would then be consumed by BRAT, instead of being part of BRAT, and could be consumed by other tools.

[2022-01-04 22:45] jtgilbert opened #535 "BRAT FIS doesn't lower capacity category in some cases where hydrology causes breaches/blowouts"
It looks like capacity is generally overestimated in medium sized streams where Q2 stream power causes blowouts. The current rule table has frequent and pervasive remaining the same even when hydrology causes blowouts.

[2022-01-04 22:49] jtgilbert opened #536 "BRAT open water default suitability"
Open water default suitability is 4. This is necessary in some areas where capacity of small streams in stage 0 settings is underestimated without including water as vegetation (e.g., some small streams in NV per @wally-mac), but causes significant overestimation of capacity in streams that are large enough to have a continuous line of water pixels but no actual streamside vegetation (e.g., Malad

[2022-01-04 23:21] philipbaileynar commented on #532
I do not have strong opinions about this and defer to model users.

[2022-01-04 23:27] philipbaileynar commented on #533
What problem are you trying to solve here Jordan? Who requested this?

Some issues for you to think about:

- I don't think the channel area polygons are segmented to 300m.
- The top, bottom and midpoint of the reach polylines for several geophysical attributes (slope, elevation, length etc) that are harder with polygons.
- I don't think the channel area polygons do not have NHD attributes needed

[2022-01-04 23:33] philipbaileynar commented on #534
My $0.02 is that this just creates a data management headache as every step in our tools gets exploded into multiple projects that all need tracking and management. Nightmare. Nothing stopping those other tools from consuming the data from sqlBRAT projects.

[2022-01-04 23:51] jtgilbert commented on #533
@philipbaileynar yeah, this is kind of a place holder to think about how to make this change (an improvement @joewheaton wants). The model will still have to be based off of the network because of the segmentation, attributes, all of that. the main reason for adding channel area is to:
- use it as a mask so you can ignore raster cells within the channel, like open water in LANDFIRE
- summarize som

[2022-01-04 23:52] jtgilbert commented on #534
@philipbaileynar this was a suggestion from @joewheaton , your point here makes sense too, I'm sure he'll want to discuss.

[2022-01-10 17:25] MattReimer commented on #516
I forgot to reference the exact release this was but I think it was this one:
https://github.com/Riverscapes/riverscapes-tools/releases/tag/Dec2021_release
 and I think we did it so I'm closing this,

[2022-01-10 17:25] #516 closed

[2022-01-12 23:28] philipbaileynar commented on #477
| categoryid | displaylabel | count |
| :--- | :--- | :--- |
| 1 | Estimated Active Channel | 791 |
| 2 | Highly Likely Active Floodplain | 442 |
| 3 | Likely Active Floodplain | 228 |
| 4 | Possible Active Floodplain | 137 |
| 5 | Possible Inactive Floodplain | 305 |
| 6 | Plausible Valley Bottom Extent | 310 |
| 8 | Very Unlikely Valley Bottom Extent | 66 |
| 9 | Likely Terrace \(non-valley bott

[2022-01-12 23:32] philipbaileynar commented on #477
After updating to new categories:

| categoryid | displaylabel | count |
| :--- | :--- | :--- |
| 11 | Active Channel Area | 791 |
| 12 | Active Floodplain | 807 |
| 13 | Inactive Floodplain | 615 |
| 14 | Terrace | 18 |
| 15 | Probably not Valley Bottom | 66 |
| 16 | Definitely not Valley Bottom | 493 |

[code]

[2022-01-14 19:36] shelbysawyer commented on #523
1/12/12: Points belonging to the [existing categories](https://github.com/Riverscapes/riverscapes-tools/issues/477#issuecomment-1011545728) were reassigned to [new categories](https://github.com/Riverscapes/riverscapes-tools/issues/477#issuecomment-1011548183) that better fit what VBET does using these conversions:

[code]

Next step is reviewing these points across some diverse and making changes

[2022-01-18 21:11] jtgilbert commented on #532
FYI, @wally-mac here's an issue I created a while ago to document the issue with the `Stream Size Limited` category in the `Limited Opportunities` output. There's a few tickets for other potential improvements we've discussed as well.

[2022-01-19 16:03] wally-mac commented on #532
@jtgilbert I think this is worth adding as it provides more accurate and nuanced outputs for the user.

[2022-01-21 17:29] MattReimer opened #539 "BUG in Metadata"
We've got a problem with the propagation of metadata in our tools. When a layer passes down through two tools it shouldn't collect metadata. It should retain only the metadata of the project it came from. So if there already is a `_rs_wh_id` it should just import that directly and ignore the secondary metadata completely.

It's hard to describe so here's an example:

Take a look at this channel ar

[2022-02-04 01:26] joewheaton opened #544 "Where is the code for those cool new BRAT HTML report features?"
In this video, @philipbaileynar shows how he incorporated a bunch of requests from @AldenShallcross on plots he included in the attached EA into the sqlBRAT HTML report.

[![Video Link](http://img.youtube.com/vi/LV0W8ZBKZiA/0.jpg)](http://www.youtube.com/watch?v=LV0W8ZBKZiA "")

@philipbaileynar can you please point @jtgilbert to what branch you put those changes on?  @Jdgilby you should watch thi

[2022-02-04 01:35] joewheaton opened #545 "Get Alden's Plots for HTML report into a dev BRAT branch and make some changes and additions"
In #544 there a bunch of new features for the BRAT reports. @jtgilbert I want you to learn from @philipbaileynar how to make edits to the python code (largely using MatplotLib) to start curating and improving the HTML reports across all our [Production-Grade, Network-Scale Tools](https://tools.riverscapes.xyz/).  We will start here with BRAT.

One of the things I tasked @Jdgilby with in our conver

[2022-02-04 01:36] joewheaton commented on #545
FYI @nick4rivers, this will come into play for HTML reports shortly in QRiS

[2022-02-04 02:31] joewheaton opened #546 "Start Editing Google Docs for what you want in HTML Reports"
FYI - @wally-mac, @Riverscapes/riverscape-project-curators, @Jdgilby and @jtgilbert, and @philipbaileynar. See also #545 and #544

We are finally going to start getting the HTML reports to look like we want for our standard [Production-Grade Network Scale Tools](). This will require @jtgilbert initially getting some training from @philipbaileynar and @MattReimer, but then he can show @Jdgilby and

[2022-02-04 02:32] joewheaton opened #547 "BRAT Google Doc"

[2022-02-04 04:50] philipbaileynar commented on #545
@jtgilbert here is our existing [riverscapes plotting code](https://github.com/Riverscapes/riverscapes-tools/blob/9bfe728cfeddaac815b0aaa30d1b432d51842560/lib/commons/rscommons/plotting.py). Because we tend to reuse the same plot types again and again, we have abstracted them to this single place in the code.

You can reuse whatever charts you need or add more to this centralized code for charting

[2022-02-04 04:54] philipbaileynar commented on #545
Also here's [my video](https://youtu.be/LV0W8ZBKZiA) from 25 Sep 2021 where I experimented with some of Alden's ideas.

[2022-02-04 04:57] philipbaileynar commented on #544
On the [brat_report](https://github.com/Riverscapes/riverscapes-tools/commits/brat_report) branch in this repo.

[2022-02-05 21:30] joewheaton commented on #546
Also, @jtgilbert take a look at https://github.com/Riverscapes/RiverscapesData/issues/163. This is a ridiculously common query we want to be able to run. I have spoken numerous times with @philipbaileynar about getting a PostGIS database going that makes it easy to ask these questions: https://github.com/Riverscapes/RiverscapesData/issues/11.  It does strike me that some of these can at least be a

[2022-02-05 23:52] joewheaton commented on #534
Yep, that's the overwhelmed @philipbaileynar speaking above....  Lets regroup and think more carefully about this now that we have a viable dataspec strategy that includes a much better plan for project references. I'd also value @MattReimer opinion on this one.

[2022-02-07 19:47] MattReimer commented on #534
I expect the discussions around when a riverscapes dataset or group of datasets needs to become its own project type to be pretty much eternally fought. It's kind of part of the process and there's never going to be one answer for everyone.

We could very easily spend a lot of effort moving deck chairs around and arguing about logical groupings of layers. That's a totally valid thing to do but it

[2022-02-08 15:37] joewheaton commented on #534
Helpful insights @MattReimer - thanks. @jtgilbert FYI.
Re:

I completely agree on waiting until refactor. We do not entirely know what project referencing is going to be like until we have that refactor in place and some of this will work itself out. A few things for both your and @philipbaileynar consideration:

1. While not discounting that "There is some effort required to create and maintain a

[2022-02-08 15:52] joewheaton commented on #533
@jtgilbert is right on some of the reasons. Additionally,

- the channel area projects are what we plan to invite users to invest time in making a better input into any model. If we invite them to do this on a segment by segment basis, they will not necessarily do it for all segments, but they will want to see it having benefit to the segments they curate.
- the "logic" of the vegetation model mak

[2022-02-08 17:31] philipbaileynar commented on #533
There are four tasks here:

1. Coming up with the idea to use channel area instead of buffering lines.
2. Figuring out how this will work in the context of BRAT.
3. Writing the code.
4. Testing and QC.

Task 1,  3 and 4 are easy. Who is doing task 2?

Task 2 is multiple weeks, probably a month or two of work.

[2022-02-08 20:47] wally-mac commented on #546
@jtgilbert, @Jdgilby (is this you Josh?) and @Cashe93 I think it would be useful if we meet and discussed this as a group and then started divvying out tasks.  How about a zoom meeting on this Thursdays 1PM?

[2022-02-08 20:49] Cashe93 commented on #546
@wally-mac, could we do Wednesday? I will be on the road Thursday and will likely be out of service.

[2022-02-08 20:52] wally-mac commented on #546
Yes, how about tomorrow (Wednesday) at 1PM?

[2022-02-08 20:53] Cashe93 commented on #546
That works for me.

[2022-02-08 20:53] Jdgilby commented on #546
@wally-mac It is me. That works for me as well.

[2022-02-08 21:14] jtgilbert commented on #546
I'm good with that also.

[2022-02-08 23:27] wally-mac commented on #546
Right on, I'll setup a Zoom and send it out.

[2022-02-09 06:16] joewheaton commented on #533
Well put.

@jtgilbert and @joewheaton.  Lets be very clear what we're talking about here. The proposal _could_ change everything so that BRAT information is all stored on channel area polygons instead of segmented networks. I'm not thinking that's what we want to do to start. What I was proposing is substituting the step that runs buffers to buffer off of channel areas instead of off of polylines.

[2022-02-09 21:51] Cashe93 commented on #547
@Jdgilby, @jtgilbert and @wally-mac

I've added a list of tasks that we talked about in our meeting. It's a brain dump from what I could recall so please feel free to edit as needed.

[2022-02-09 22:59] jtgilbert commented on #547
@Cashe93 @Jdgilby, while I work on updating scripts for figures, do you guys want to take a crack at overall reorganization, i.e. come up with a new table of contents, and some basic explanatory text for each of the sections?

[2022-02-11 22:06] Jdgilby opened #551 "Canal drainage area being passed to streams below intersection of canal"
Canals have an associated drainage area that is based off the reach of river they branch from. Everywhere canals intersect a stream that drainage area gets transferred to the stream reach below, potentially excluding small streams from having any dam capacity. Heres a good example of how big the difference can be.
![BRAT_Issue](https://user-images.githubusercontent.com/97305413/153676825-6cee3598-

[2022-02-15 16:24] wally-mac commented on #291
@philipbaileynar I think this issue can be closed.

[2022-02-15 19:13] joewheaton commented on #291
@wally-mac, @philipbaileynar and @jtgilbert, what issue/commit pull request actually fixed this? It looks like it might have been tied to #469?  I appreciate the desire to clear _old_ stuff off one's list, but can we confirm that this change was rolled forward into all sqlBRAT runs in the warehouse?

I did a spot check for Monatna with [BRAT for HUC 17010202](https://webrave.riverscapes.xyz/#/BLM/

[2022-02-15 19:36] philipbaileynar commented on #291
We do not re-run everything when something changes with a model.

We can review project scope and assess which clients have ongoing funding to support re-runs.

I would prefer @jtgilbert you come through me before triggering re-runs that affect NAR financially (which is to say all CC runs until we have credit card payments hooked up.)

[2022-02-17 22:34] wally-mac commented on #547
@Cashe93 Can you please help out with this task as Jordan requested. I can help with any questions you might have. Thanks

[2022-02-18 01:08] Cashe93 commented on #547
Sure thing. I'll be out of service for a few days but I'll give this more attention when I get back.

[2022-02-22 16:37] lauren-herbine opened #555 "Rasters not curated in ArcRave for VBET"
**I am using Rave version 3.0.3.0 and ArcMap 10.8.1
I am using [this project](https://data.riverscapes.xyz/#/NRCS_CEAP/4811ec77-78e0-4449-a36b-b03428b7be85).**
@shelbysawyer see this video for the issue:
https://youtu.be/vhhBUL8-2-w

When I open it using ArcRave, the likelihood of being a valley bottom raster is symbolized on a grayscale, and the geomorphic units come in with default symbology:
![

[2022-02-22 16:39] lauren-herbine commented on #555
Just watched the video and it looks like there is no sound :( Let me know if the messages aren't coming across and I can re-do

[2022-02-22 16:44] shelbysawyer commented on #555
@lauren-herbine I have not encountered this and I've been in ArcRAVE VBET quite a bit over the past few weeks. Let me explore it a bit and get back to you! Thanks Lauren!

[2022-02-22 17:25] shelbysawyer commented on #555
I've made a quick 2 min video with my thoughts on what's happening:

[![Not showing https://youtu.be/UzCmRVYofMQ](http://img.youtube.com/vi/UzCmRVYofMQ/0.jpg)](http://www.youtube.com/watch?v=UzCmRVYofMQ"")

**These are the key points:**
1. I've been working in RAVE 3.1.0 because it's the most recent update that I saw, but now I [see](https://github.com/Riverscapes/RaveAddIn/releases) that it's bee

[2022-02-22 17:38] lauren-herbine commented on #555
@shelbysawyer Thanks! It looks like I've been working in "latest" instead of "pre-release", and that is where the bulk of my issues lie. Like you said, the drawing issue is still a thing, but this solves most of my problems.

Thanks! Closing

[2022-02-22 17:58] shelbysawyer commented on #555
@lauren-herbine raised an important point when we chatted about this: the RAVE website [page](https://rave.riverscapes.xyz/Download/install_arcrave.html) for installing / upgrading ArcRAVE has the 3.0.3 version of RAVE provided in the "download" [link](https://github.com/Riverscapes/RaveAddIn/releases/tag/3.0.3). The other releases aren't visible at this link. Maybe we can update this link to drop

[2022-02-22 21:05] joewheaton commented on #555
@lauren-herbine did you by chance forget to hit "Update Resources"?  Great suggestions @shelbysawyer on your video (i.e. update to latest").

@MattReimer is there a reason that 3.1.0 is a Pre-Release? I think that we still want the link to go to "Latest" in @shelbysawyer last video, but why are we not promoting 3.1?

[2022-02-22 21:11] lauren-herbine commented on #555
@joewheaton no, I tried updating my resources before downloading the pre-release. It didn't make any difference- the only thing that worked was switching from "latest" to "pre-release"!

[2022-02-25 18:11] Cashe93 commented on #547
@jtgilbert, are you able to give me access to the google doc?

[2022-03-03 19:48] shelbysawyer opened #556 "Pull Slope, HAND, TWI Values for Updated VBET Observation Points"
Using [this guide](https://gist.github.com/shelbysawyer/07ffa065aa0c0c772342384fb8869d1a), team members will be collecting additional VBET observation points to create a more robust dataset.

Once additional points are collected, the corresponding slope, HAND, and TWI values will be pulled for each point to inform updates to the VBET transform functions.

[2022-03-03 20:23] shelbysawyer commented on #556
@KellyMWhitehead Just putting this on your radar for now. I know the last pull (and creation of the CSV) took a decent amount of time. Do you think the processing time for creating the next CSV will be similar or will an increase in points lengthen that significantly? I believe the last run was with 2,800 points. Ideally this next run will be for 8,000-10,000 points.

[2022-03-03 21:42] wally-mac commented on #556
@shelbysawyer thanks for the update. I'm really excited to see how your observations help to inform and calibrate VBET outputs.  Please let me know if my staff and I can be of any assistance. @Cashe93 and @leallysmith this is something that I wanted to make you both aware of.

[2022-03-14 16:30] shelbysawyer commented on #523
Closing. The new pull for the updated points (edited old points and new observations) is tracked [here](https://github.com/Riverscapes/riverscapes-tools/issues/556).

[2022-03-14 16:30] #523 closed

[2022-03-14 17:09] shelbysawyer commented on #556
@wally-mac Just wanted to draw your attention to [this guide](https://gist.github.com/shelbysawyer/07ffa065aa0c0c772342384fb8869d1a) that I made for collecting points. I still need to add in a video that is specific to on-fan observations, but this is otherwise all set.

It looks like everyone has been added as a user except for @leallysmith. @philipbaileynar Can you please add her as a user on th

[2022-03-14 19:00] wally-mac commented on #556
@shelbysawyer Thanks for sharing the guide. I looked it over and found it very useful. Please let me know where, when and how many observations you would like me and my team to collect.

Thanks

[2022-03-14 21:57] shelbysawyer commented on #556
@philipbaileynar To answer the 'where' part of Wally's question above-- if folks don't already have the VBET Validation PostGIS database available to them through QGIS, how do they get it?

[2022-03-14 22:28] shelbysawyer opened #557 "Additional Observations for VBET Validation Database"
Hi @lauren-herbine, @jtgilbert, @wally-mac, @sshahverdian, and @nick4rivers, @Cashe93, @leallysmith, and @joewheaton,

I need your help collecting a few more VBET Validation database points. Currently, we have 3,000 points. The goal is to reach around 10,000 points by **COB on Friday, March 18**. If you can spare some time (2 hours max) to grab some points, I'd really appreciate it. I've made a gu

[2022-03-14 23:18] philipbaileynar commented on #556
@shelbysawyer probably worth scheduling a web meeting where we get all the relevant people connected in one session. Can you organize please?

[2022-03-14 23:22] shelbysawyer commented on #556
@philipbaileynar Yes. I'll send out an email now. Thanks Philip.

[2022-03-15 16:10] joewheaton commented on #556
@shelbysawyer I updated instructions slightly here: https://gist.github.com/joewheaton/09c851c59cd583414c9be305e57399f0 if you want to review and consider merging back into yours.

@shelbysawyer I would take whomever can get together as soon as they can get together, but schedule individual meetings if people can't get to it. We want to have everyone's observations by COB on Friday 3/18.  @philipb

[2022-03-17 19:58] lauren-herbine commented on #557
Hi @shelbysawyer - I may have missed this somewhere- but what are the Host, Port, and Database entries supposed to be?

Thanks!

[2022-03-17 21:07] shelbysawyer commented on #557
Hi Lauren! They are in the email I sent. You can access them through the link with the password provided. Let me know if you're still having problems accessing that!

[2022-03-18 20:35] MattReimer opened #558 "[Warehouse 3.0] Better Project names"
## Problem:

Currently the automated names we come up for

- HUC code is in the metadata anyway. People are going to be able to search it so we don't need it in the title
- For RSContext and descendants we should use the common watershed name in the title.

### Relevant discussions

- https://github.com/Riverscapes/rs-web-monorepo/discussions/204

[2022-03-18 21:13] MattReimer opened #559 "[Warehouse 3.0] Updating project references"
The function of the tool XML augmenter scripts that run after every tool run is going to change

One of the big changes between the old and the new version of the warehouse is that upstream datasets can be referenced.

Practically this means:
1. The scripts like `vbet_rs.py` no longer need to be responsible for moving metadata in from the old project. That will now happen at the API level and
2. T

[2022-03-31 14:21] shelbysawyer commented on #556
Hi @KellyMWhitehead have you had time to get to this?

[2022-04-05 20:50] #545 closed

[2022-04-05 20:51] #544 closed

[2022-04-05 23:15] KellyMWhitehead commented on #556
@shelbysawyer Here are the the vbet evidence results:
[vbet_evidence.csv](https://github.com/Riverscapes/riverscapes-tools/files/8422386/vbet_evidence.csv)

Let me know if you have any questions.

[2022-04-05 23:45] shelbysawyer commented on #556
Great, thanks @KellyMWhitehead . I'll check this out tomorrow morning!

[2022-04-11 20:40] lauren-herbine opened #561 "Active Floodplain not drawing"
Hey @shelbysawyer any ideas on [this](https://youtu.be/_hIVg4ZlxxQ) (video link)?

![image](https://user-images.githubusercontent.com/73319684/162828061-8653b6cd-f9fd-43d9-80ad-b1cd2f716fc4.png)

I was using HUC [11020001](https://data.riverscapes.xyz/#/NRCS_CEAP/4811ec77-78e0-4449-a36b-b03428b7be85). In some areas (not all), the active floodplain seems to not draw. Have you seen this before? Is t

[2022-04-11 21:00] shelbysawyer commented on #561
Hey @lauren-herbine,

Thanks for the video! This is [known issue](https://github.com/Riverscapes/riverscapes-tools/issues/527) that's been documented a few times, but it looks like it hasn't been resolved.

In ArcMap, the error warning pops up like this:
<img width="292" alt="error" src="https://user-images.githubusercontent.com/73311751/162830505-468a634a-deda-4ffe-a01b-f0101142832b.PNG">

When I

[2022-04-21 19:11] shelbysawyer commented on #556
The results of this pull have been summarized [here](https://gist.github.com/shelbysawyer/ca25780a523b592374c58a0f5758c7e9).

[2022-04-21 19:11] #556 closed

[2022-04-21 19:12] shelbysawyer commented on #557
These observations were [pulled](https://github.com/Riverscapes/riverscapes-tools/issues/556) and the results were summarized [here](https://gist.github.com/shelbysawyer/ca25780a523b592374c58a0f5758c7e9).

[2022-04-21 19:12] #557 closed

[2022-05-14 17:08] joewheaton opened #569 "Add Political Boundaries to RS Context"
@philipbaileynar  and @jtgilbert it is becoming increasingly clear for purposes of zonal statistics and HTML reports we need some additional polygon context that are political boundaries (different than administrative or ownership boundaries). These are not currently in RS Context. Please get them into the national project (or find an API that we can access). Much like HUCs and Ownership, we'll ne

[2022-05-14 17:09] joewheaton commented on #558
@MattReimer will we also be able to search by HUC name? The HUC code is great, but the HUC name may be more familiar to some.

[2022-05-14 17:28] #500 closed

[2022-05-14 17:29] joewheaton commented on #394
@philipbaileynar and @MattReimer... should we update this at all based on our recent meeting in Vancouver and discussion? Any notes?

[2022-05-14 17:30] joewheaton commented on #392
@philipbaileynar once we finish up the QRiS scoping estimate, I'd like to update this thread here.

[2022-05-14 17:37] joewheaton opened #570 "Update Riverscapes Context new layer requests"
In #118 there is a dumping ground of lots of useful potential inputs to GNAT. Some of these are based on needing NEW layers to be uploaded in National Project and curated through Riverscapes Context. @jtgilbert please go through the list and explode into individual feature requests (enhancements for pkg::RS-Context) for each new data source. Separately, you, @philipbaileynar and I can prioritize w

[2022-05-14 19:57] philipbaileynar commented on #558
It's essential that the HUC name - at the very least - is written to the RSC project metadata and then used in the warehouse search!

[2022-05-14 19:59] philipbaileynar commented on #394
Yes, but why is this ticket in the RST repo? Let's get a proper MorPhoto repo where we can all contribute and host these ideas.

[2022-05-14 20:01] philipbaileynar commented on #392
Yes, but this needs to get moved to QRiS repo where the UI will reside.

[2022-05-14 20:05] philipbaileynar commented on #570
The concept of a "national project" has overstayed its welcome!

@jtgilbert and @MattReimer let's discuss how we might enhance riverscapes context such that there's a core tool that creates the basic RSC project with some essential layers. Then subsequent tools that can retrieve an existing RSC project, add one additional layer, then put the updated RSC project back in the warehouse. This is a mor

[2022-05-27 20:43] philipbaileynar opened #573 "Remove HAND from Riverscapes Context"
We originally included HAND in Riverscapes Context before we had the capability of running it ourselves. We now have a tauDEM riverscapes tool and no longer need the legacy runs (that are based on 1:100K NHD rather than 1:24k). Removing HAND from Riverscapes Context will speed up the tool, reduce the cost and increase the reliability!

Please remove the HAND rasters from the Riverscapes Context To

[2022-05-27 21:19] philipbaileynar opened #574 "Riverscapes Context Metrics"
Each riverscapes tool is going to start producing "metrics", starting with Riverscapes Context. The goal is to produce a simple dataset that summarizes the contents of the project that can then be scraped by other systems:

- the metrics can appear in the HTML report for each tool run.
- the metrics can be summarized on the data warehouse welcome screen (e.g. "Warehouse contains X million miles of

[2022-05-28 21:20] joewheaton opened #575 "BRAT Report Feedback"
Thanks @jtgilbert for the latest version of the BRAT report. This is a big improvement.

Many of my comments and suggestions are going to be consistent with changes I will expect and request across all the production grade project reports. I've listed them below as tasks so you can turn them into their own issues if warranted.

- [ ] Rearrange the Table of Contents to more closely match the busine

[2022-05-30 22:48] joewheaton commented on #574
I like this @philipbaileynar. For floating point rasters, a question: is it possible to provide summary statistics for rasters based on the legends specified in the QML for that raster tied to the business logic? The basic stats (max, min, range, average, etc.) are nice, but what you really tend to care about are the proportions in the categories specified by our QML (e.g. slope analysis categorie

[2022-05-30 22:52] joewheaton commented on #394
Well ... Because I don't have access to the MorPhoto repo... By all means we should have a public facing repo for MorPhoto, but it is locked somewhere in [NorthArrowResearch](https://github.com/northarrowresearch) instead of [Riverscapes](https://github.com/Riverscapes) and I don't have access to it. I think this is because @MattReimer doesn't like to show his dirty laundry and old version was dem

[2022-05-31 15:26] MattReimer commented on #394
Nope, that's not it.... but now I need to prove it so.......

![PXL_20220531_152251638](https://user-images.githubusercontent.com/1063391/171210448-36d76df9-dda3-4873-a424-3c08d348fe36.jpg)

Real reason is that we don't have enough licenses on our NAR account and I have to keep trading them around so people can have access. It wasn't clear when we started that this repo should live in Riverscapes.

[2022-05-31 15:42] MattReimer commented on #574
@philipbaileynar and I talked a bit about this yesterday. None if it seems like a problem but I want to make sure we do it in a way that is extensible and doesn't need a complete re-run when we add a metric or fix a bug with them.

We had talked about pre-calculating some of the easy stats during RSContext creation. things like area, min, max avg etc; stats that are generic, useful and uncontrover

[2022-06-01 18:09] #573 closed

[2022-06-10 17:49] MattReimer opened #577 "BRAT Possible duplicated report tag"
@tyler1218hatch found this in the process of migrating riverscapes projects

This was noticed in a single project so I just want to make sure this isn't a bigger problem.

For project:
https://data.riverscapes.xyz/#/BLM/8ceed370-47bc-444e-b4da-a90138aceb06

We have the following in the `project.rs.xml` file.

[code]

Notice the identical `<HTMLFile>` nodes.

The only task here is verify that the l

[2022-06-23 17:17] #244 closed

[2022-06-23 17:24] lauren-herbine opened #578 "Attributes and Metrics Desired for GNAT/RS database"
I am putting this in one new ticket, but can move this/close this if it is not where @philipbaileynar wants it (starting as an issue so we can later break out the metrics into a checklist/build issues off of this, but can move to a discussion if that's more appropriate). I will keep updating it, but just wanted to put it on git early for any feedback/collaboration.

**Links to relevant issues and

[2022-06-23 19:06] jtgilbert commented on #575
The code pulls the values from the attribute table, so I can only update this when the model produces this label instead of `NA`

[2022-06-27 15:06] shelbysawyer commented on #527
@philipbaileynar @MattReimer I'm going to keep this open because it's still happening, even though I know it's not a priority right now.

[2022-06-27 15:11] #561 closed

[2022-06-27 17:43] philipbaileynar commented on #575
@jtgilbert if the `NA` is being caused by a NULL value, then in the spatial view the does the table joins you could use an [IFNULL()](https://www.sqlitetutorial.net/sqlite-functions/sqlite-ifnull/) function to fall back on a specific value from the `Opportunities` database table. i.e. Fall back to value 99 and then the Opportunities table contain the desired string with value 99. Make sense?

[2022-06-27 18:34] jtgilbert commented on #575
@philipbaileynar It's not that they're NULL, all those that does happen in some cases. Segments are being assigned values of NA, so need to update BRAT so it gives those segments the actual suggested name.

[2022-06-27 19:16] philipbaileynar commented on #575
In that case, can't you just edit the [master lookup table](https://github.com/Riverscapes/riverscapes-tools/blob/master/packages/brat/database/data/DamOpportunities.csv) and replace the word NA with the desired string?

sqlBRAT stores the IDs in the main feature class attribute table. It's only in the spatial **VIEW** that the strings are looked up.

[2022-06-27 20:38] shelbysawyer opened #579 "VBET Metrics: Master Issue"
### Background

A new segmentation method has been put forward that will allow us to calculate metrics in moving windows, at scales of 100m for small sections, 250 m for medium sections, and 1 km for large sections. The information stored in these segments will be used in conjunction with other geometries in VBET projects to create a set of metrics for the end-user. The scales and building block c

[2022-06-28 20:45] lauren-herbine commented on #578
### Some gists laying out a little bit of the new direction we're taking:
[Answering Real Questions with Fake Figures](https://gist.github.com/lauren-herbine/6ec0533202de5ce08b155782e8e3ccfc)
[Answering Real Questions with Fake Figures Take II](https://gist.github.com/lauren-herbine/9036fb3d9768d60ee69f83dbe0e94d5b)

[2022-07-27 17:13] philipbaileynar commented on #237
... and are t_c and n constant for all reaches in all watersheds? If not how do we plan on parameterizing these values?

[2022-07-27 18:44] lauren-herbine commented on #237
Unfortunately, definitely not. Would like to chat with @joewheaton about this

[2022-08-02 18:28] MattReimer opened #580 "rstools metric JSON changes"
1. All dates should be iso8601 compliant timetamps. `dateTime` becomes `metricToolRunTime`. `modelVersion` gets removed (it's in the meta)
2. Dump project metadata to json file.
3. Make the script fail on projects with multiple realizations (for now)

[code]

4. Not enough information in binning

[code]

5. Not enough information in vector summaries

[code]

[2022-08-02 18:41] philipbaileynar opened #581 "HUC12 GeoJSON"
The watershed attribute tool (#570 and #574) will rely on HUC12 polygons, the finest resolution national waterbody dataset that possesses topology. We have some outstanding questions about how to work with the HUC12 layer that has approximately 70,000 polygons for CONUS.

In the following questions, note that we only need the geometries plus the HUC12 identifier attribute. We don't need any other

[2022-08-03 15:42] MattReimer commented on #581
hey @jtgilbert I needed this last night so I'll take it on.

The total geometry size of huc12 data is about 4Gb

Simplifying is likely a waste of time if we can use boundingboxes to get us 99% of the way to the answer

[2022-08-03 16:59] #581 closed

[2022-08-10 20:56] jtgilbert opened #582 "Duplicate reaches in BRAT projects"
@Jdgilby noticed that reaches that are coded as artificial paths within river polygons seem to be copied into BRAT projects twice, resulting in exact copies. @philipbaileynar this obviously affects metric calculations because you're double counting all of these segments.

[2022-08-11 01:04] philipbaileynar commented on #582
1. Do you have link to a warehouse project that exhibits this problem? I just downloaded a BRAT run (I'm unsure of its provenance) and can't seem to see the problem.
2. Which feature class contains the duplicates? inputs.gpkg or brat.gpkg?

If the problem is in the `vwReaches` perhaps the problem is in a join?

[2022-08-11 17:12] jtgilbert commented on #582
Josh initially spotted it here:
https://data.riverscapes.xyz/#/BRAT_CRB/223a86ce-d123-4f88-970e-9faeee6ee1bb

I saw it replicated here:
https://data.riverscapes.xyz/#/BEAR/c01e2bd1-d077-4161-99c2-bdb4727c4d53

It is in `ReachGeometry` in the outputs.gpkg and gets copied into the `vwReaches`

[2022-08-17 17:36] joewheaton commented on #237
Wow, this is rather circular logic. I must confess I didn't realize this was the case.  You can't do reasonable estimates of critical Shields stress or n without knowing roughly D. I'm guessing that Braden just used constants and ran the thing. I suspect it works roughly okay in smaller, fairly uniform catchments and is really just reflecting differences in local slope and drainage area. The examp

[2022-08-30 23:42] nbouwes commented on #484
Funny, I just emailed Kelly and Philip if there was paragraph I could use to describe this.  I then did a google search and found this thread

[2022-08-31 03:56] joewheaton commented on #484
Here is a start: https://tools.riverscapes.xyz/taudem/

[2022-08-31 08:07] nbouwes commented on #484
Yeah, I have used that for a talk previously.  I was looking for a way to describe how we delineated all the channels for kern meadows with the LiDAR. Made a huge difference for hand and other stuff

_______
Nick Bouwes
From my phone

[2022-09-09 13:36] shelbysawyer commented on #527
@philipbaileynar I've been exploring the latest VBET runs and noticed that this issue still hasn't gone away in ArcRAVE but is not an issue in QRAVE. For example, here is roughly the same area in a project, opened in both:

ArcRAVE:
<img width="607" alt="arc" src="https://user-images.githubusercontent.com/73311751/189362565-7d2b09ce-1f2f-4f36-beb2-a78ca37026eb.PNG">

QRAVE:
<img width="421" alt="q

[2022-09-09 14:12] shelbysawyer opened #584 "Reviewing The Latest Version of VBET"
The newest VBET projects, which 1) use the updated transform functions, 2) use the updated level path approach, and 3) have points for moving window analysis, are being run now on the [staging server](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch). I have some questions about this newest run, which will live here for now and can be discussed at our next meeting.

**1. Pr

[2022-09-09 14:33] shelbysawyer opened #585 "VBET Evidence / Likelihood of Valley Bottom Evidence Raster not displaying properly in ArcRAVE"
When exploring the latest VBET runs in the staging server, I noticed that the VBET Evidence (Likelihood of Valley Bottom Raster) is displaying in an odd way. I don't know exactly how to describe it, other than to say that there are only a few scattered "clumps" of cells with data in them. I'll provide some pictures below to show what I mean. I will build this issue out more if our meeting reveals

[2022-09-09 19:19] philipbaileynar commented on #527
@KellyMWhitehead any thoughts? Are we using a spatial view for this layer?

[2022-09-12 18:10] lauren-herbine opened #586 "Not all flowlines with points"
There aren't nodes/points on every flowline within this project, and it is especially problematic on the mainstem.
[08040305](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/00580775-c4d2-415b-820d-26754c310e68)

This is an example, but almost every project is like this.

![image](https://user-images.githubusercontent.com/73319684/189725916-d9e31d81-e708-4496-ac6e-cd921980

[2022-09-12 18:19] lauren-herbine opened #587 "GNAT project with only txt files"
In [11110207](https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/240fb79e-ad3f-41ef-a211-cc8d0b2a21a6), the project won't open and there is only a text document labeled "gnat". The project _does_ open in WebRAVE (though, obviously the symbology is not ready)

I will update if there any more projects I find like this.

[2022-09-12 18:25] lauren-herbine opened #588 "Significant figures request for GNAT attributes"
Hi @KellyMWhitehead, I have an attribute table request.

Could you only include a maximum of four significant figures in our attribute tables? For example, change stream_gradient 0.201893447940... to 0.2019.
![image](https://user-images.githubusercontent.com/73319684/189728687-7a462d96-38a2-4e3e-9a1b-d30453702477.png)

Thanks!

[2022-09-12 18:50] KellyMWhitehead commented on #587
Strange - looks like this might be a warehosue issue since the data seems to exist in webrave. @MattReimer might need to take a peak and see why the project isn't downloading correctly...

[2022-09-12 21:23] philipbaileynar commented on #588
We intentionally ignore significant figures when writing data. This provides maximum flexibility to whatever software is  presenting the data. i.e. it could be a report document, pie chart label or in your case another piece of software.

I recommend exploring ways in QGIS to limit the significant figures.

[2022-09-12 22:24] lauren-herbine commented on #588
Thanks @philipbaileynar ! Tagging @joewheaton

[2022-09-13 18:07] MattReimer commented on #587
@lauren-herbine can you be a little more specific about where it won't open?

I was able to open it in webRave, the warehouse and download it and open it in QRave. I want to make absolutely sure we're talking about the same thing here.

[2022-09-13 18:46] lauren-herbine commented on #587
Hi @MattReimer - whenever I try to open it using a Rave (Q, Arc), it doesn't work, and when I go into the folder structure, it just has a text file labeled "gnat". It does open in WebRave for me, though!

[2022-09-13 21:34] MattReimer commented on #587
Hmmm. I'm not having any issues in QRave. Can you make sure you have the lastest plugin version and update the resources from the help menu?

<img width="667" alt="Screen Shot 2022-09-13 at 2 33 20 PM" src="https://user-images.githubusercontent.com/1063391/190013284-d916019e-e6e1-4eed-92fb-40678063c68a.png">

[2022-09-17 08:58] joewheaton commented on #588
Sorry, I DON'T like this.

This is fair... but

This is really vague and not clear. What are those "ways"? We need help. Is it a UI setting thing we can control with QRAVE or QRiS? We don't know what those are and it is not good enough to say go figure it out. We don't have to solve this now, but lets not close issues that are NOT actually resolved. Another reasonable thing might be we control it

[2022-09-17 12:15] joewheaton commented on #585
@KellyMWhitehead and @philipbaileynar? Ideas? I've had a play with this too and it seems like this isn't just a display problem. This seems like a write problem. This is the most fundamental output of VBET so lets make this a **top priority**.

I'm guessing this has to do with reassembling the pieces properly (i.e. likelihoods for each of the levelpaths). From what I am seeing across projects, the

[2022-09-17 12:17] joewheaton commented on #584
These are helpful comments and questions @shelbysawyer... if you don't mention or assign anyone, I don't think it will get much attention. @philipbaileynar and @KellyMWhitehead lets schedule a time next week and get these sorted out.

[2022-09-17 12:24] joewheaton commented on #584
Did they get discussed in a meeting @shelbysawyer? If so, please report here.

This is a problem, and one we'll need to get to the bottom of, but it is not the highest priority in my view.

Have you done this?

Do you mean these:
![image](https://user-images.githubusercontent.com/9723905/190856495-0fc4a149-81d9-4f8c-b141-9f97969431f0.png)

If so, they are not actually rasters... have you opened on

[2022-09-18 10:23] joewheaton commented on #586
Yes, @KellyMWhitehead this is a recurring problem across every VBET project I have looked at. It seems like for some reason, when you are building or saving to disk the centerline points, you are leaving out or erasing the biggest (earlier level paths). This is clear from the fact that you have centerlines derived (so you're doing those steps correctly), but for some reason it is only later (small

[2022-09-18 18:13] joewheaton commented on #539
@MattReimer just curious about status on this one?

[2022-09-19 15:35] shelbysawyer commented on #584
**Did they [initial questions posed] get discussed in a meeting @shelbysawyer? If so, please report here.**

**A: Yes, briefly discussed and was told that this is not a priority right now.**

**A: Not addressed in meeting, tracking in issue.**

**A: I ran into issues trying to do this (things weren't adding up, proportions didn't add up to 1, etc.), which spurred the conversation of points giving

[2022-09-19 17:14] MattReimer commented on #539
This is an issue with the old way we propagate Metadata. There are no plans to fix it in the older version of the warehouse.

The real fix is to do metadata better in the new version of the warehouse. I keep this issue open as a reminder and will close it when I'm comfortable the new Warehouse can handle it.

[2022-09-20 00:04] KellyMWhitehead commented on #585
@joewheaton @philipbaileynar @shelbysawyer

Yes, this was a write problem (windowing rasters with different extents). Today I was able to find a another method that fixes this bug.

For completeness, let me answer your questions:
1. The intermediate rasters are saved to a temp folder and wiped with each level path loop. I keep them around when debugging.
2. The intermediate rasters are working pro

[2022-09-20 11:03] joewheaton opened #592 "Add Global Surface Water Explorer to Riverscapes Context OR Its own project"
@jtgilbert I'd like you to work with @MattReimer or @philipbaileynar to figure out how to do this. We'll talk about when and priorities later. @lauren-herbine you will like this.

Hervé and Barbara turned me on to this [Global Surface Water Explorer](https://global-surface-water.appspot.com/). This could be our first, low hanging fruit, global functionality.  It is basically a 30 m LANDSAT derivat

[2022-09-20 11:04] joewheaton commented on #592
@lauren-herbine this should give you some ideas (at least for the big rivers) for nice easy GNAT moving window metrics.

[2022-09-20 15:33] MattReimer commented on #587
@lauren-herbine what's the status here? Are you still blocked by this?

[2022-09-20 15:39] MattReimer commented on #482
This is going to be fixed by Dataset sourcing in the new Warehouse. I'm closing this as it does not directly relate to anything actrionable in the new warehouse.

[2022-09-20 15:39] #482 closed

[2022-09-20 16:08] MattReimer commented on #410
Closing this. Stale issue.

[2022-09-20 16:08] #410 closed

[2022-09-20 16:13] MattReimer commented on #145
This task is complete I think. Closing the issue.

[2022-09-20 16:16] MattReimer commented on #197
I'm closing this as it is a stale issue and we have different strategies for the newer version of the warehouse.

[2022-09-20 16:16] #197 closed

[2022-09-20 16:16] MattReimer commented on #451
Stale issue. Closing. Re-open or file a new issue if it persists.

[2022-09-20 16:16] #451 closed

[2022-09-20 17:18] KellyMWhitehead commented on #588
My quick search of displaying fields in Q didn't look promising...

Compromise - apply rounding to attributes in spatial views? Underlying data retains floating point values, and the display layers can be formatted as we like.

Easy to apply to our existing spatial views, but would require new ones for tables/feature classes we are accessing directly, potentially cluttering up our geopackages.

an

[2022-09-20 18:51] philipbaileynar commented on #588
I'm unsurprised that QGIS doesn't allow for rounding in the attribute viewer. I merely suggested we look and had no knowledge of how to do it or whether it would work. The attribute table viewer is for looking at raw data. It is not a a true "presentation" layer whereby the data should carefully formatted. In terms of QGIS, that would be a map layout!

I don't hate the spatial views rounding, but

[2022-09-22 15:15] #580 closed

[2022-09-25 13:42] joewheaton commented on #588
Okay, thanks @philipbaileynar and @KellyMWhitehead for exploring. I am a little confused, when we write floating point or double precision numbers to an attribute field, can we not control how we write it (i.e. how many significant figures)? It sounds like what you're saying is no, and even if we do exercise this, it will still have trailing digits here and there (I can live with that).

If we tak

[2022-09-25 14:53] joewheaton opened #593 "Project Referencing 2 - Feature request - Change the hyperlink from the warehouse link in new tab to a webrave link in new tab (ideally that goes to that project with that specific layer turned on)."

[2022-09-25 14:53] joewheaton opened #594 "Project Referencing 3 - Leave the necessary reference breadcrumbs for this to work in all new runs of models (i.e. release new version of each model with metadata being correctly recorded in project.rs.xml)"

[2022-09-25 14:53] joewheaton opened #595 "Project Referencing 4 - Fix all legacy warehouse projects"
### Project Referencing 4 - Fix all existing CyberCastor runs in warehouse to include these correctly (I'd prefer this is not just a re-run brute force  (i.e. 3) but whatever works).

I'm pretty sure that @MattReimer has this covered for all the CyberCastor runs, and despite the stated preference in title, it probably will just be a re-run. That is fine. We will know when project referencing is wo

[2022-09-25 14:53] joewheaton opened #596 "Internal Layer Referencing 1 - Outputs referencing inputs"
### Internal Layer Referencing 1 - Every intermediate and output within a project should refer to the input(s) or intermediate(s) within that project that it was derived from.

I am not convinced that anyone heard or saw this ... @MattReimer says in #482 that this will be covered with the new project references. My understanding of project-referencing is that it is referencing of layers or dataset

[2022-09-25 14:56] joewheaton commented on #482
@MattReimer okay. I am going to take the five specific asks (those are real features) and assign them to myself to check and see that the Beta or Alpha releases you send me of WebRAVE are dong this. I get you wanting to close things out off your list, but I want to make sure that things I go to the effort of requesting (for good reasons) are tracked somewhere. So I'll make this one my problem for

[2022-09-26 15:49] jtgilbert commented on #588
From a Python perspective, it's pretty easy to format numbers to present with appropriate significant digits (e.g. how numbers are now being presented in tables in the updated BRAT report), so it makes sense to me to keep the raw data how it is and tackle formatting at the next level.

[2022-09-26 17:31] philipbaileynar commented on #588
There is a probably a better link out there somewhere, but this explains [why you can never accurately store non-integers accurately on a computer](https://www.baeldung.com/cs/floating-point-numbers-inaccuracy). You can round or truncate them for display, but there will always be imprecision when storing them.

We don't control the display in the attribute table form in QGIS. So our only avenues a

[2022-09-27 15:30] MattReimer opened #597 "Branch Cleanup Work"
Here's what's going to happen, probably today. Please review and back anything up that you want to keep.

## Leave alone

- `dev`
- `docs`
- `master`
- `gh-pages`

### Delete

- `vbet_transform_update`
- `3dep`
- `gnat_tools`
- `vbet_centerlines`
- `vbet_website`
- `brat_report_updates` - @jtgilbert  please investigate and confirm
- `Vegetation_Suitability`
- `brat_summary_stats`
- `brat_reachcode