[2022-09-27 17:23] jtgilbert commented on #597
confirming, `brat_report_updates` can be deleted

[2022-09-27 22:46] MattReimer commented on #597
OK, all deletable branches are gone

`dev` now contains: `watershed_warehouse_scripts`, `rscontext_hotfix`, `rs_project_bounds`

@KellyMWhitehead please test rscontext as thoroughly as you need to in order to make sure these fixes don't cause trouble. When you're done I'll merge them into `master`

The active branches have been merged on top of dev.

[2022-09-29 14:51] shelbysawyer opened #600 "How Should I Symbolize VBET Segments?"
The primary problem I'm facing is that I can't symbolize segments (DGOs) or points by indicator metrics (ex. proportion of inactive floodplain) because the proportions do not add up to 1 and therefore not really tell us much.

For example, in the case of this DGO, here are the proportions that I see:

`active_channel_prop:` 0.997
`active_floodplain_prop:` 0.238
`inactive_floodplain_prop:` 0.765

<

[2022-09-29 16:20] joewheaton commented on #600
Great question @shelbysawyer! I am so glad you're thinking and struggling with this one. We are going to need (minimally) to have a way of knowing, how many upstream and downstream DGOs were used (i.e. the window size). Symoblizing, it may not be that easy! But calculating metrics we have to know what we're doing. Lets discuss with @KellyMWhitehead and @philipbaileynar .

[2022-10-03 18:24] shelbysawyer commented on #600
Hi @philipbaileynar and @KellyMWhitehead, I know this came up during our Thursday meeting, but I'm not sure we came to a resolution about how to move forward. @wally-mac has a new tech that will take the symbology I come up with for the new layers (points, valley bottom segments, etc) in QRAVE and handle curating those over in ArcRAVE & WebRAVE. Before she can do that, I need to get the symbology

[2022-10-04 17:47] KellyMWhitehead commented on #600
Hi @shelbysawyer

I have made some updates to vbet and attached a project below. This project contains the full temp folder with rasters for each level path. I also added a few specific comments and responses to your google spreadsheet.

* I discovered a bug in one of the transform csv files and fixed it. I think this will fix some of the missing areas on larger streams you have been observing.
*

[2022-10-05 14:09] shelbysawyer commented on #600
Awesome @KellyMWhitehead! I don't think this project attached properly. Could you try again please? Thanks!

[2022-10-07 15:44] #597 closed

[2022-10-07 16:08] MattReimer commented on #135
I don't think there's any remaining work here so I'm closing this issue. Re-open if you disagree.

[2022-10-07 16:08] #135 closed

[2022-10-07 16:09] MattReimer commented on #226
This 2-year old issue can be re-opened if it still exists.

[2022-10-07 16:09] #226 closed

[2022-10-07 16:10] MattReimer commented on #587
@lauren-herbine can you please upgrade to the latest version of QRave (0.8.0 as of writing this) and let me know if this still exists? If it does let me know and I'll follow up. Otherwise close it.

[2022-10-07 17:17] MattReimer commented on #596
This conversation is important I think and part of a much larger one about how opinionated we want/need to be about our project XMLs.

The chief problem here is that we don't really control the shape of metadata in the system. The solution you're proposing above is only a suggestion that all tool developers will have to choose to follow and we have no real way of checking that they've done it the

[2022-10-07 17:35] MattReimer commented on #595
We've actually come up with a migration strategy for old warehouse projects but the migration does not include projects referencing each other because in the old warehouse we've lost that information in a way that's not easy to recreate.

There are some nuances about project dataset sharing I'm not sure anyone but me really gets so I think maybe we need a meeting beetween @philipbaileynar, @joewhe

[2022-10-07 19:59] shelbysawyer commented on #600
Dropping a link to this project [here](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/b8b1adc6-e498-4e1c-83c1-a12d0e1c8ec4).

[2022-10-07 20:09] shelbysawyer commented on #585
Thanks @KellyMWhitehead!

Keeping this open until we regroup on Wednesday, Oct 12.

[2022-10-10 07:26] joewheaton commented on #595
Sounds good @MattReimer to discuss. Let us know when it rises towards top.

[2022-10-10 07:32] joewheaton commented on #596
I am with you 100% on this being a _voluntary_ feature that developers can optionally implement. I am saying:

1. I want every tool that we (NAR/USU) develop to follow this optional feature standard.
2. I want you to define the standard for how we do it.
3. I fully accept that the functionality and features will only work if the developer bothered to do it.

We can and do lead by example, but this

[2022-10-11 20:57] philipbaileynar commented on #600
@shelbysawyer please close this issue if there are no outstanding actions to be taken.

[2022-10-12 16:30] #600 closed

[2022-10-12 16:36] jtgilbert opened #602 "Update BRAT to reflect new VBET names and structure"

[2022-10-13 15:50] shelbysawyer opened #603 "Run VBET for 2 Local Watersheds with "Full" Likelihood Raster"
I'm preparing for field work in the Northeast Mississippi River Basin 11/7 - 11/21 with @lauren-herbine and need to run through some of my field methods.

I will be collecting on-the-ground point observations of valley bottoms. These observations will be collected using the same classification system in the original Postgres database that currently contains ~5,000 desktop-based observations. This

[2022-10-13 16:03] KellyMWhitehead commented on #602
Hi @jtgilbert

Here is a new vbet project you can use for testing. Please let me know if you have any questions.

[16010202](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/b9383c9e-edab-4725-a953-eb9e4cd5ecf1)

[2022-10-13 16:18] KellyMWhitehead commented on #603
@shelbysawyer

I just so happened to have run [16010202](https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/b9383c9e-edab-4725-a953-eb9e4cd5ecf1) for jordan yesterday. Feel free to take a look!

[2022-10-13 16:25] MattReimer commented on #574
I think this issue is done and superseded by more specific and granular tickets like

* #599

And all this folds nicely into the new https://github.com/Riverscapes/watershed-attribute-api

re-open if you disagree

[2022-10-13 16:25] #574 closed

[2022-10-13 16:26] KellyMWhitehead commented on #311
Old method of vbet centerline. No longer relevant.

[2022-10-13 16:26] #311 closed

[2022-10-13 16:29] KellyMWhitehead commented on #588
GNAT is now rounding significant digits as originally requested in this ticket.

[2022-10-13 16:29] #588 closed

[2022-10-13 17:15] MattReimer commented on #327
Due to it being a massive source of failure in RSContext projects and of limited value now that we can do it ourselves in TauDEM we made the choice to remove this in RSContext.

[2022-10-13 17:26] philipbaileynar opened #604 "Update sqlBRAT to work with VBET 0.5.2"
VBET has undergone significant changes; layers have changed names, attributes have come and gone.

This task is to update sqlBRT to work with the latest version of VBET (0.5.2). Essentially this means using the latest correct VBET polygons in the conservation module of VBET to calculate roads, rails and crossings in the valley bottom.

I believe @KellyMWhitehead  has provided @jtgilbert with one o

[2022-10-13 17:27] MattReimer commented on #604
Related to #602 ?

[2022-10-13 17:29] philipbaileynar commented on #327
I don't see any commits associated with this issue. @jtgilbert can you confirm that Riverscapes Context is no longer downloading and including the publicly available HAND rasters?

@jtgilbert please re-close this issue if RSC is no longer including HAND.

[2022-10-13 17:31] MattReimer commented on #327
Here's the commit. THis is now in the latest release

e0d895bdd5cb7a5a0f8dc40c12d73eab82d931d3

[2022-10-13 17:31] #327 closed

[2022-10-13 18:33] philipbaileynar commented on #360
@joewheaton, do you agree that calling the aforementioned USGS API feels more appropriate in QRiS than as a static QRAVE layer?

[2022-10-13 18:36] philipbaileynar commented on #418
This ticket should only be tackled once the latest round of new layers are added to RSC.

Outstanding tasks:

1. Ensure that the JSON file linked above includes all the latest layers.
2. Ensure that the JSON content is getting written to the RSC project.rs.xml correctly.
3. Ensure that the RSC wiki lists all the latest layers.

[2022-10-13 18:54] philipbaileynar commented on #596
TLDR: Data flows are tool specific. Accomplish this with [workflow diagrams](https://docs.google.com/drawings/d/1EMXc4DTrzHDOiNvKj125WDqpB32UiMrNTaK6ThNT76E/edit?usp=sharing) and better documentation, not metadata tags.

This needs careful discussion before anyone tackles this. My interpretation of this request is that: "every intermediate and output layer should reference the layers that were use

[2022-10-13 19:00] jtgilbert commented on #602
closing as #604 is the same.

[2022-10-13 19:00] #602 closed

[2022-10-13 19:12] KellyMWhitehead commented on #287
Bugs are obsolete due to new centerline method.

[2022-10-13 19:12] #287 closed

[2022-10-13 19:31] jtgilbert opened #605 "RSContext flow accumulation process"
I've noticed that the flow accumulation rasters that are produced for RSContext don't continuously produce higher values as they move downstream through the network (there's "reset points" where it drops and then starts increasing again. I've had this issue before with Pygeoprocessing (and other modules) when using the D-infinity algorithm, or when the fill pits algorithm doesn't work well. This r

[2022-10-13 19:52] philipbaileynar commented on #603
@shelbysawyer we do not currently have a full VBET evidence raster. We are actively discussing how to produce one and hope to have this worked out shortly after you are back from the field.

[2022-10-13 19:55] philipbaileynar commented on #605
What do folks think of dropping this raster from RSC and instead generating it within our tauDEM projects? I'll hazard a guess that tauDEM is more reliable. There's also an argument that this collects together all our hydro-topographic data into a single project.

FWIW none of our tools using the flow accumulation from RSC. sqlBRAT uses the NHD flow accumulation attributes.

[2022-10-13 20:18] jtgilbert commented on #605
@philipbaileynar This makes sense to me. Kind of separates RSContext into primary datasets, where other tools down the line contain derivatives of those datasets.

[2022-10-13 21:34] philipbaileynar commented on #605
@MattReimer and @KellyMWhitehead ?

[2022-10-13 21:38] joewheaton commented on #360
Yes, I think so. Good find.

[2022-10-14 21:48] philipbaileynar commented on #605
Actions:

1. Remove Flow Accumulation Raster from Riverscapes Context
2. Add Flow Accumulation to tauDEM project
3. Implement new Euclidean distance in BRAT conflict attributes
4. Remove PyGeoprocessing dependency from Riverscapes tools

[2022-10-14 21:59] philipbaileynar commented on #515
Might be fixed. Do a test run before changing anything.

[2022-10-14 22:06] KellyMWhitehead opened #606 "Add Ecoregion 4 to rscontext"
Add ecoregion level 4 shapefiles to rscontext.

[2022-10-17 15:51] lauren-herbine commented on #587
Hi @MattReimer -

I've been exploring this a bit more (I do have version 0.8.0 btw). It seems as though it is an almost random downloading or unzipping issue. I've tried downloading the original project from this issue ([11110207](https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/240fb79e-ad3f-41ef-a211-cc8d0b2a21a6)) three times now, and 1/3 times it downloaded and unzipped cor

[2022-10-17 16:29] MattReimer commented on #587
Wow. that is really. weird. I tried it 5 times on my mac and I saw a completely consistent issue.

I wonder if it could be an unzipping issue. Do all the zip files you download have the same size? If they come in at 100+ Mb then they should contain more than just a text file and I'd suspect the unzipper. If the zip files have different sizes then it could be a problem downloading.

What browser ar

[2022-10-17 19:46] MattReimer opened #607 "Updating `new_project_xml` branch"
The `new_project_xml` branch was started at a time before a lot of the details of the migration had been set. Since @KellyMWhitehead wrote this we've had some changes:

1. The XSD has been moved to its final place
2. VBET has been almost completely rewritten

The task here is simply the minimum amount of work to get the branch to a good starting place for @jtgilbert to complete the rest of the tic

[2022-10-17 23:20] KellyMWhitehead commented on #607
Changes made:
* added <Logs> node for log files (all projects)
* rscontext: removed reference for adding hand to project file
* taudem: updated xsd path
* vbet: updated create project, updated xsd path
* BRAT: no changes needed.
* GNAT: updated create project, updated xsd path

all changes pushed to `new_project_xml` branch

[2022-10-17 23:20] #607 closed

[2022-10-18 02:55] shelbysawyer commented on #585
Closing, as this issue has been addressed.

[2022-10-18 02:55] #585 closed

[2022-10-18 15:35] MattReimer commented on #607
@jtgilbert this should be a better starting point for your work.

[2022-10-18 16:11] MattReimer opened #609 "PRISM needs to be folded into the National Project"
or it needs to be included into the national dataset. It's a prerequisite of rs_context now.

Probably we just need to make a project type in the new system

1. Create new project type in the new system
2. Create a project XML
3. Upload the project to the NEW warehouse
4. update RSContext cybercastor script to download and use the new project

*Transferred from <https://github.com/Riverscapes/rs-w

[2022-10-18 17:29] jtgilbert opened #610 "copy_feature_class producing empty feature class"
https://github.com/Riverscapes/riverscapes-tools/blob/04cc1de48f140794ab367220c86ff11ede390237/lib/commons/rscommons/shapefile.py#L476

Ran into this experimenting with incorporating L4 ecoregions into RSContext. When the features being copied were Albers and the clip_shape was epsg 4326 (WGS 84) the function produced an empty output. When they're both WGS 84 it works.

[2022-10-18 17:31] jtgilbert commented on #609
@MattReimer is there a reason this is preferable to adding the datasets to national project?

[2022-10-18 17:31] #515 closed

[2022-10-18 17:33] MattReimer commented on #609
Talked about it with @philipbaileynar this morning and we can't remember why we decided this. I think folding them Into the national is entirely appropriate.

[2022-10-18 17:47] jtgilbert commented on #609
If that's the case I can easily fold this in to my to do list.

[2022-10-18 17:52] MattReimer commented on #610
Yikes. This function is used nearly 70 times in the code so it's kind of a fundamental thing.

I suggest that whoever fixes this makes a unit test for it:

https://github.com/Riverscapes/riverscapes-tools/blob/master/lib/commons/test/test_vector_ops.py#L39-L57

[2022-10-18 17:54] MattReimer commented on #609
Yes. Let's do it. We can't consume it from the national project quite yet in the old system but I don't think there's any harm in folding it in for the new Warehouse.

[2022-10-20 21:24] jtgilbert commented on #358
Added EVH and EVC layers to National Project and RSContext
a0b963850358f5407350590a6887c87d802f8e48

[2022-10-20 21:24] jtgilbert commented on #492
removed drainage area from RSContext
e3a92bbeadbe98d5e91b532d4a2a8137a6102579

[2022-10-20 21:25] jtgilbert commented on #569
So far, added state and county boundaries
8d0c5d4d176489923286d02449fd680c598b415d

[2022-10-20 21:25] jtgilbert commented on #592
added all GSWE rasters to RSContext
b14ead643a6fa1407c88f74b81d3f4d314802098

[2022-10-20 21:26] jtgilbert commented on #605
removing flow accumulation and drainage area from RSContext
e3a92bbeadbe98d5e91b532d4a2a8137a6102579

[2022-10-20 21:27] jtgilbert commented on #606
Added level 4 ecoregion. The shapefile includes level 3 and all lower as well, but field names are a bit different so curation will need to be redone
8d0c5d4d176489923286d02449fd680c598b415d

[2022-10-20 21:28] jtgilbert commented on #609
shifted prism over to national project
a0b963850358f5407350590a6887c87d802f8e48

[2022-10-21 06:45] joewheaton commented on #606
Thanks @jtgilbert . Can you work with @wally-mac or @Cashe93 to get the curation going?

[2022-10-21 06:47] joewheaton commented on #605
What we already produce in TauDEM is way better as it uses d-infinity

[2022-10-21 10:51] joewheaton opened #611 "Add Geology to RS_Context or can Watershed Attribute Tool summarize for WMTS?"
A while back we added Geology as a basemap: https://github.com/Riverscapes/riverscapes-website/discussions/29#discussioncomment-1768391

The new Watershed Attribute Tool is going to be super powerful for producing summaries from upstream.

Moreover, @philipbaileynar added to QRiS a new `Geospatial Metrics Summary` tool that does similar zonal statistics for polygon AOIs or Masks the user defines!

[2022-10-21 14:11] jtgilbert commented on #611
@joewheaton I actually started looking into this yesterday. The SGMC geology basemap I brought in is also available on Science Base, so it should be pretty straightforward to bring it in to projects. I think it makes sense to include it into RSContext, as geology is an important part of context, and it makes sense to me to keep "raw" layers in RSContext and have other project types be analyses or

[2022-10-21 19:47] joewheaton commented on #569
I don't think you realize how helpful this is going to be! These political boundaries really matter and will be  This is really, really useful. Once you have some RS_Context projects with these things I might take a stab at playing with how I would like to see some of the ones that don't come with defined symbology (for geology and LANDFIRE they do obviously), and then we can get these lined out f

[2022-10-21 19:54] joewheaton commented on #358
What about the disturbance (FDist, HDist, NFVTDB), fuel (FCCS, FLM,) and fire regime (FRG, MFRI, PLS, PMS, PRS, SCLass) stuff @jtgilbert? Increasingly we're working at intersection of fire and PBR, so I think [these and maybe other layers](https://www.landfire.gov/comparison_table.php) will be really useful.

[2022-10-24 22:16] philipbaileynar opened #613 "Synthesized VBET Likelihood raster"
VBET now operates on a single level path at a time. This means that we have hundreds of individual HAND rasters instead of one for the entire project extent. We can't keep hundreds of individual rasters (because of file size and housekeeping) but it is vital that we can visualize the HAND that drives VBET.

The goal of this ticket is to develop a single HAND raster for the entire project extent th

[2022-10-24 22:24] philipbaileynar opened #614 "Combined Topographic Evidence Raster"
Please make the latest version of VBET produce a "combined topographic evidence" raster similar to the previous version of VBET (see below).

This should be a simple average of the TRANSFORMED slope and TWI evidence rasters. (The previous version also included HAND, but since HAND is no longer produced for the entire project we need to leave it out for the new version).

This is a single raster fo

[2022-10-24 22:32] shelbysawyer commented on #613
Can't wait to check this out. It will be great to have access to this layer and get a better handle on how HAND is driving VBET at the project level, particularly at tributary junctions.

[2022-10-25 21:03] KellyMWhitehead commented on #270
Centerlines are getting generated with the new vbet.

[2022-10-25 21:03] #270 closed

[2022-10-26 15:35] #614 closed

[2022-10-26 15:37] shelbysawyer commented on #614
@KellyMWhitehead I'm just lurking on this issue, but what does 97f7fb787bd02d1950cbe631ec79139f076c575a mean?

[2022-10-26 15:53] KellyMWhitehead commented on #613
Let me write out my thoughts here:

I think we are already doing 1 (raster initialized as the size of the dem) and 2 (writing values to raster that are inside the vbet polygon for that level path, moving from small level paths (longer streams) to large level paths (smallest tributaries).

For 3, we would move in reverse, from small streams to the largest (largest to smallest wouldn't make sense, a

[2022-10-26 16:10] KellyMWhitehead commented on #614
@shelbysawyer a reference to the git commit with the code changes. I did this out of order (forgot to push first) so the link didn't auto-generate:

https://github.com/Riverscapes/riverscapes-tools/commit/97f7fb787bd02d1950cbe631ec79139f076c575a

[2022-10-27 12:40] joewheaton commented on #613
Thanks @philipbaileynar for laying this out...  Thanks @KellyMWhitehead for laying out your thoughts.  This will be the first of a handful of comments and clarifications.

Starting with the **goal**:

After reading what @philipbaileynar spelt out and what @KellyMWhitehead wrote out, it strikes me that what @philipbaileynar proposes WILL work for a synthesized "HAND" raster. This HAND raster would

[2022-10-27 12:42] joewheaton commented on #613
Oops... I see now that @KellyMWhitehead was saying and assuming same as me:

[2022-10-27 12:44] joewheaton commented on #613
I really like @philipbaileynar cartoon and explanation. Of course this work outside the valley bottom is less critical, but will essentially be done by drainage wings associated with the level path. I presume we are able to do that @KellyMWhitehead?

[2022-10-27 15:18] philipbaileynar commented on #613
Yes @KellyMWhitehead came up with a similar but better way of doing the area outside the valley bottom.

[2022-10-27 15:55] KellyMWhitehead commented on #559
@MattReimer Is this ticket still valid?

[2022-10-27 17:24] MattReimer commented on #559
Yes. Still valid. I saw this happening after @jtgilbert finishes with his V2 XML work on the RSContext milestone

[2022-10-27 20:32] jtgilbert opened #617 "Riverscapes Context NHD Data Duplication"
As it is structured right now, RSContext downloads shapefiles of all NHD layers and places them in the project. It then copies the flowlines into a geopackage and subsequently segments the network. It also buffers the HUC8 shapefile to create a processing extent and stores that in the geopackage. The VAA table is itself stored in a separate sqlite db. This results in kind of a messy setup with dat

[2022-10-27 20:33] jtgilbert commented on #617
The best solution would probably be to copy all layers into the geopackage and then get rid of the original shapefiles and move the VAA table to the geopackage as well - that way all the data exists and is in one place. We'd just have to make sure anything downstream references the gpkg layers and not the shapefiles.

[2022-10-27 23:27] MattReimer commented on #617
Agreed. this is all a known issue and we've been waiting to do it because we didn't want to rock the boat.

Well... the boat is rocking so.....

Like you said, it means changing every tool that depends on RSContext (and big changes tot he project.rs.xml and the ensuing businesslogic too)

I vote for doing this work but @philipbaileynar and @joewheaton back me up?

[2022-10-27 23:40] KellyMWhitehead commented on #617
This is a good time to do this. A few tools use the vaa table and it would be nice if they were in the same gpkg with the flowlines.

[2022-10-28 00:59] philipbaileynar opened #618 "RSC raster compression check"
Quick check to please verify that all RSC rasters have compression turned on!

[2022-10-28 07:16] joewheaton commented on #617
Fully on board... Time to run the rapid. Nice scouting...

[2022-10-28 07:26] joewheaton commented on #613
Awesome @KellyMWhitehead I look forward to learning what you came up with and seeing how it looks. This is the 🗝️ to unlocking interpreting and verifying results. Excited

[2022-10-28 17:26] joewheaton commented on #614
@KellyMWhitehead let us know when you have a project (e.g. those North Eastern Montana runs) to play with. Excited to see this in action.

[2022-10-28 17:30] MattReimer opened #619 "Update National Project XML to 2.0"
2 tasks

- [x] Convert the project XML to the 2.0 formal
- [x] Add new layers from #93 to the XML
- [x] Upload the project to S3

[2022-10-28 19:37] philipbaileynar commented on #617
Please proceed and clean up hydrology data in RSC as part of this phase of work:

1. All hydrology will be in a single GeoPackage:
    - Flow lines
    - Flow areas
    - HUC boundaries (2-12)
    - stream catchments
    - VAA
2. Legacy hydrology ShapeFiles will be removed.
3. Business Logic will be updated to remove references to legacy ShapeFiles.
4. Symbology checked to ensure compatible with n

[2022-10-28 19:43] philipbaileynar opened #620 "RSC Catchment Wings Feature Class"
NHD data are downloaded from Science Base at the scale of a Vector Processing Unit (VPU) which is a HUC4. We when select the appropriate flow lines and catchment wings for inclusion in our HUC8 projects.

The selection of stream catchment wings is currently performed using a spatial selection using the HUC8 boundary. This selects polygons in neighbouring HUC8s because the catchment wings are raste

[2022-10-28 19:45] philipbaileynar opened #621 "RSC Canada Check"
Please run at least one RSC project that straddles the border with Canada to ensure that each dataset is handled appropriately. At the very least:

1. DEMs (and derivatives) should be generated for the portion of the HUC in the US.
2. NHD should include features that ultimately flow into the US.

[2022-11-01 17:30] jtgilbert commented on #620
The selection uses the OGR SetSpatialFilter method, which automatically uses "intersects" as the spatial relationship; there isn't a way to change it to "contains" or anything else.

[2022-11-01 17:46] philipbaileynar commented on #620
I know. That's why I suggested the table join approach and leveraging the `ReachCode` filter using HUC code match.

[2022-11-01 17:49] jtgilbert commented on #620
Sounds good, I'll look into it, but that probably won't be done by this afternoon, rebuilding the project xml after fixing nhd has given me some headaches

[2022-11-01 18:18] MattReimer opened #622 "ModuleNotFoundError: No module named 'minifier'"
We have an issue with a small but crucial pip install that is currently out of date:

The [HTML5print](https://pypi.org/project/html5print/) module (last released in 2016) requires the [slimit](https://pypi.org/project/slimit/) module (last released in 2013) and this `slimit` module is broken

- `html5print` has an open issue for this [here](https://github.com/berniey/html5print/issues/13)
- `slim

[2022-11-01 18:27] MattReimer opened #623 "Proj Error: DATABASE.LAYOUT.VERSION.MINOR = 0 whereas a number >= 2 is expected. It comes from another PROJ installation."
Note: I'm opening and closing this issue just so we can search for this error message and create a history

You may see an error like this:

[code]

So far I've only seen it on OSX

The reason is that `brew install postgresql` is installing a different version of `proj` than GDAL uses.

I solved this problem by removing any mention of `PROJ_LIB` from my `.zshrc` file. In the past we needed to expl

[2022-11-01 18:27] #623 closed

[2022-11-01 21:42] philipbaileynar opened #624 "Selective Retention of VBET Intermediates"
@KellyMWhitehead what would it take to add a new command line argument to VBET that is a comma separated list of level path identifiers. The max number of level paths would be capped at 10. VBET would retain the intermediates (HAND, transformed HAND etc) for just the specified level paths (and delete intermediates as usual for all other level paths).

Rationale: @joewheaton and @shelbysawyer want

[2022-11-02 01:08] philipbaileynar commented on #622
If we skip beautifying our HTML, can we just use Visual Studio Code "Format Document" within the team when we need to make sense of the HTML?

I vote to remove these libraries immediately and take our time finding a replacement.

[2022-11-02 01:12] philipbaileynar commented on #620
Presumably the `SetSpatialFilter` approach to selecting polygons was also affected by the multi-part features? In other words, this is just a messy data issue that has always existed.

Its hard to tell if this issue is a one off, or affects lots of HUCs. If it's the latter then we could insert call `MultiPartToSinglePart` before we select features...

My vote is proceed with the table join selecti

[2022-11-02 05:53] MattReimer commented on #622
Agreed. I originally thought this was used for XML prettifying (which we actually need) but it's not. @jtgilbert , this is only used in the rs_report and that's your next stop right? Can you pull it out please?

[2022-11-02 16:55] jtgilbert commented on #622
@MattReimer is this only in the commons setup, or is there other places it might also be?

[2022-11-02 17:29] jtgilbert commented on #620
@philipbaileynar using that approach results in some missing catchment wings where there is no network segment. Thoughts?

![catchment_wing_join](https://user-images.githubusercontent.com/21687931/199560017-2f8d70c0-0953-4d14-84c7-6cb387cffdef.png)

[2022-11-02 17:31] MattReimer commented on #620
* Buffer the HUC8 outward 10m and intersect to get rid of weird outliers?
* buffer the HUC8 inward 10m and intersect to get everything else?

[2022-11-02 17:32] jtgilbert commented on #620
I think a Multipart to Singlepart and then intersect with inward buffer will probably give best results.

[2022-11-02 18:07] philipbaileynar commented on #620
I do not like the buffer approach because it is scale dependent. Weird shapes will cause unforeseen problems. Should the buffer be 1, 5, 10m? Depends on the geometries.

How about:

1. Use the `SetSpatialFilter` that we were using before. It's fast and this will get all the catchment polygons that we want. It will include the unassigned polygons identified above, plus those annoying catchments tha

[2022-11-02 18:35] philipbaileynar commented on #620
After further reflection I don't think the polyline thing is needed.

1. Use `SetSpatialFilter` using the HUC polygon to copy all catchments, including the ones from adjacent HUCs that touch the HUC boundary.
2. Run the following SQL to delete the catchments that are associated with adjacent HUCs:

[code]

This assumes that the catchment polygons are in a feature class (table) called `catchments`

[2022-11-02 18:36] jtgilbert commented on #620
thanks, @philipbaileynar I was actually just thinking this

[2022-11-02 18:44] KellyMWhitehead commented on #624
This capability is already set up. We can filter vbet to run on specified level paths, and set the debug flag to True to retain temporary files (rasters).

[2022-11-02 20:05] joewheaton commented on #624
Cool @KellyMWhitehead. Can you just give me the first 4 levelpaths on a project?

[2022-11-03 16:04] MattReimer commented on #569
This work is done. CLosing

[2022-11-03 16:04] #569 closed

[2022-11-03 16:06] MattReimer commented on #606
The work "Add Ecoregion 4 to rscontext" is done. @joewheaton can I close this? Is curation a separate task that has work we can track here?

[2022-11-03 16:08] MattReimer commented on #358
@joewheaton The work for this ticket seems done. Can we close it or is there still something outstanding?

[2022-11-03 16:09] MattReimer commented on #570
I'm closing this ticket as it is vague and nebulous in scope. Let's open another one if there are defined tasks that need doing.

[2022-11-03 16:09] #570 closed

[2022-11-03 16:10] MattReimer commented on #621
This work is done. thanks to @jtgilbert . Closing

[2022-11-03 16:10] #621 closed

[2022-11-03 16:10] MattReimer commented on #620
THis work is completed by @jtgilbert. Closing

[2022-11-03 16:10] #620 closed

[2022-11-03 16:11] MattReimer commented on #618
This work is done. Closing

[2022-11-03 16:11] #618 closed

[2022-11-03 16:11] MattReimer commented on #492
Work is done and verified. Closing

[2022-11-03 16:11] #492 closed

[2022-11-03 16:12] MattReimer commented on #617
Work is done. Closing.

[2022-11-03 16:12] #617 closed

[2022-11-03 16:18] MattReimer commented on #609
Nice. Closing this in anticipation of S3 upload (tracked in #619 )

[2022-11-03 16:18] #609 closed

[2022-11-03 16:19] MattReimer commented on #605
This work is done. Closing

[2022-11-03 16:19] #605 closed

[2022-11-03 16:21] MattReimer commented on #611
Assuming by the 🚀 icons that this work is done. Closing.

[2022-11-03 16:21] #611 closed

[2022-11-03 17:28] joewheaton commented on #358
Waiting on @jtgilbert to confirm @MattReimer. I asked:

I never got a response, but I do see a few commits. I don't know if they are like the original (just some arbitrary small subset of LANDFIRE). I asked for a bunch of layers. @jtgilbert?

[2022-11-03 17:29] joewheaton commented on #606
If Level 4 Ecoregions are there, yes.

[2022-11-03 17:29] #606 closed

[2022-11-03 17:30] joewheaton commented on #606
Once I can see the new stuff, I will take a pass through and look at everything. We will want a coordinated effort on queueing up ALL the curation. It is a lot!

[2022-11-03 18:17] jtgilbert commented on #358
@joewheaton I included a handful more. V 2.2.0 changed a lot of the [layers](https://landfire.gov/comparison_table.php) so if there's others that you think we should have that aren't in that sample project, lmk.

[2022-11-04 06:55] #358 closed

[2022-11-08 18:34] MattReimer opened #625 "Channel Area Improvements"
Quick checklist of things to check on this tool.

### Channel Area

- [x] Riverscapes XML `project.rs.xml` file validates against <https://xml.riverscapes.net/Projects/XSD/V2/RiverscapesProject.xsd>
- [x] All layers are correctly represented in the `project.rs.xml` file
- [x] Every layer in the XML represents a real dataset on disk.
- [x] Project and layer Metadata review
- [x] Project loads corre

[2022-11-08 18:43] MattReimer commented on #437
A year-old RSContext bug. I'm calling this stale. Re-open if you disagree.

[2022-11-08 18:43] #437 closed

[2022-11-08 18:46] MattReimer commented on #546
I'm punting this forward to the Channel Area milestone. Last activity was 9 months ago. @jtgilbert and @joewheaton what are the actions here? How can we move this forward?

[2022-11-08 18:54] joewheaton commented on #546
Let's take a look at BRAT report and see what of these aspirations it achieved and what it fell short on. Then turn to actionable next steps and set priorities.

[2022-11-08 19:00] MattReimer opened #626 "Drainage area and HAND Rasters"
Run these two rasters that were removed from RSContext

[2022-11-08 19:01] MattReimer commented on #418
@jtgilbert is this done? Do we need to do any work on it for ChannelArea too?

[2022-11-08 19:22] MattReimer commented on #146
We ran out of time to get this done in the "RSContext Work 2022" milestone so we're going to need to bump this to the next time we add layers to RSContext.  FYI: @jtgilbert @joewheaton

[2022-11-08 21:11] philipbaileynar commented on #252
I was experiencing the same overly dark hillshade raster for a BRAT run in British Columbia. I was playing with some raster processing in QGIS when one of the tools reported a warning that `horizontal and vertical cell sizes are different`. This seemed relevant to hillshade trigonometry and so I reprojected the raster (something we normally try to avoid, but I wanted to resample the raster and for

[2022-11-08 21:44] joewheaton commented on #252
That's interesting... Hmmm.

[2022-11-08 21:45] MattReimer commented on #252
This is the tool we use (QGis AND `riverscapes-tools`).
https://gdal.org/programs/gdaldem.html

[2022-11-08 21:58] jtgilbert commented on #418
Yeah, this was finished with the other RSContext tasks

[2022-11-08 21:58] #418 closed

[2022-11-08 23:09] philipbaileynar commented on #146
EPA location for downloading the data.

https://www.epa.gov/waterdata/get-nhdplus-national-hydrography-dataset-plus-data#Download

[2022-11-09 17:46] jtgilbert opened #627 "d-inf area raster values are nodata in most channel locations"
Additionally, the values seem mostly wonky and incorrect.

I have yet to have a d-inf workflow produce a drainage area raster that makes sense. I propose that we stick with the d-8 algorithms to produce a drainage area raster.

[2022-11-09 17:56] jtgilbert commented on #627
from taudocs:

`D-Infinity Contributing Area: Calculates a grid of specific catchment area which is the contributing area per unit contour length using the multiple flow direction D-infinity approach.`

Not sure if this is useful for anything? Seems like a raster of simple contributing area would be more useful...

[2022-11-09 18:20] MattReimer opened #628 "Shapely dying for no reason on OSX"
Shapely sometimes segfaults silently on mac OSX (May be related to: https://github.com/shapely/shapely/issues/1598)

I was able to get around this for testing with:

[code]

You will get errors on OSX

[code]

And this is not ideal but I was able to push through.

[2022-11-09 18:20] #628 closed

[2022-11-09 18:23] MattReimer commented on #628
Note: I have updated `requirements.txt` and all the `setup.py` files with `>=` on shapely so these errors should be mitigated once the branch makes its way to  `master` or `dev`

[2022-11-09 18:49] jtgilbert commented on #627
I think we should pare back TauDEM to producing VBET inputs, and the basic grid analyses that people use most (D8 flow-dir, flow_acc, and da). That'll lean up the projects a bit too.

[2022-11-09 18:54] philipbaileynar opened #629 "Possible Bug in RSCommons rs_project"
I spotted this potential bug while using this method in QRiS:

https://github.com/Riverscapes/riverscapes-tools/blob/dcae1ab0b5356da398dff4d8909c1dfbb703e647/lib/commons/rscommons/classes/rs_project.py#L339

[2022-11-09 19:07] jtgilbert commented on #627
Looks like that layer is actually an input for TWI, shoud be in intermediates if exposed at all.

[2022-11-09 19:09] jtgilbert commented on #627
closing as this is mostly just changes to business logic that I'll make with updates.

[2022-11-09 19:09] #627 closed

[2022-11-09 20:30] MattReimer commented on #629
Good catch!

[2022-11-10 13:54] joewheaton commented on #627
@jtgilbert we should still keep this as an intermediate in TauDEM, but maybe we don't use their label of Drainage Area. This quantity is the D-infinity version of what is needed in the classic Montgomery & Dietrich c. 88 "Where do Channels Begin". There might actually be another variable, which is what you are thinking, that is actually drainage area. From TauDEM, many of the variable names are a

[2022-11-10 16:42] jtgilbert commented on #627
@joewheaton after poking around I actually think I'm getting good results from the d-inf algorithms too. There's a flag you have to turn on and now there's no longer nodata values along the channels. Since the D-inf stuff is used to generate hand and TWI (and now seems to be producing good catchment area results) do you think we just keep that, or should we add any D-8. Not adding keeps project si

[2022-11-10 22:21] philipbaileynar opened #631 "Index Riverscapes Context Hydrology GeoPackages"
The following indexes will speed up any queries that use the following columns in WHERE clauses! The indexes will take up some space on disk, slightly bloating the database files. But I think it is worth the performance boost when running queries.

The two commented out lines below are the only two existing indexes that I could find. So maybe find the place in the code where these existing indexes

[2022-11-10 22:28] philipbaileynar opened #632 "Intersect Flow Areas with Catchment Wings in Channel Area Tool"
This is an experiment that might allow us to simplify VBET. Make sure the resultant feature class has the NHDPlusID attributed and that it is indexed (see #631 ).

Note that this task should only affect the `NHDArea` feature class and not change `NHDFlowline` (because the latter is already split by `NHDPlusID`).

This is somewhat experimental... This is going to create some very complex geometries

[2022-11-10 23:05] jtgilbert commented on #631
Re: the lines commented out, that is strange, I can only find one spot creating indexes right now and that's on the VAA when its exported from the gdb to the gpkg....

[2022-11-10 23:17] jtgilbert commented on #631
@philipbaileynar I can't find anywhere in the code that is creating those two existing indexes. Even the copying of the NHDPlusID from the VAA table to the flowlines (the two affected layers there) happens before the layers are copied into the gpkg...

[2022-11-11 01:04] philipbaileynar commented on #631
@jtgilbert this is the statement. It looks to be part of the `export_table` routine. Perhaps you can simply add the columns above as arguments to this method?

https://github.com/Riverscapes/riverscapes-tools/blob/dcae1ab0b5356da398dff4d8909c1dfbb703e647/lib/commons/rscommons/filegdb.py#L155

[2022-11-11 08:18] joewheaton commented on #627
Oh, that is huge that you figured out that flag. I think it must control the inevitable divide by zero problem. We notice that a lot when the entire drainage area is not contained by the DEM. I think there is also a perimeter handoff on drainage area.

Anyhow, D infinity is a far better algorithm for flow accumulation and slope, so let's use it. Having D8 also is fine to keep for comparison.

[2022-11-11 08:20] joewheaton commented on #627
We may choose to not produce D8 for custom high resolution and LiDaR runs. Please try running one (e.g Asotin) to see how it works.

[2022-11-11 16:43] jtgilbert commented on #631
@philipbaileynar I thought that's what it was too, but the only place that function is used it doesn't specify the optional fields that have it index columns...

[2022-11-11 16:55] philipbaileynar commented on #631
Ok but can you leverage this existing code for the current request? Are you using the export_table routine?

[2022-11-11 16:58] jtgilbert commented on #631
Only to retrieve the VAA from the NHD gdb. I could add the code here straight to rscontext.py or add it into the export feature class function that copies the actual nhd layers from the gdb to the gpkg.

[2022-11-15 17:11] MattReimer opened #634 "VBET NODATA problems"
Seems like in the pursuit of performance we've accidentally let our masking slip and allowed some math to occur on `nodata` values. We need to work backwards from the outputs and remove these

Likely culrprit is Numpy not masking properly.

See <https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/e165848e-8c67-49f3-9ad0-bffa435d753a>

[2022-11-15 17:13] MattReimer opened #635 "VBET: Level path fail on HUC 10190002"
Looks like we've got a new error with level path calculations:

this is from level path `23001900010467` on HUC `10190002` AND `23001900030195` on  HUC`10190003`

Here's an excerpt from the log file

[code]

[2022-11-15 17:29] MattReimer commented on #416
THis is a year-old issue with no activity. @joewheaton is there anything actionable here? Can we close it?

[2022-11-15 17:51] joewheaton commented on #416
No, it is actually more relevant now than ever for both VBET and QRiS. I suspect though we might think carefully about how we proceed with this one. Lets discus it.

[2022-11-15 18:04] MattReimer commented on #486
Resolved. Closing

[2022-11-15 19:16] MattReimer commented on #416
We decided this a QRIs problem (as per discussion with @joewheaton)

[2022-11-15 22:44] jtgilbert commented on #582
This appears to have been resolved in v4.4.0, it was v4.3.x projects that we noticed the problem in.

[2022-11-16 21:21] MattReimer commented on #635
Both hucs completed from last night's run. I think this is done.

[2022-11-16 21:21] #635 closed

[2022-11-16 23:48] jtgilbert opened #636 "horizontal bars require matplotlib >= 3.4"

[2022-11-17 06:10] MattReimer commented on #634
This one proved WAY more challenging than I thought.... all to correct 2 little pixels.

[2022-11-17 10:56] philipbaileynar commented on #636
@MattReimer are we able to upgrade MatPlotLib for Riverscapes Tools to support horizontal bar charts?

[2022-11-17 16:28] jtgilbert commented on #636
Sounds good. I had it working on Linux fine on my previous brat report branch.

[2022-11-17 21:00] MattReimer opened #638 "VBET Should use an external TEMP folder"
RSContext uses a temp folder outside itself. We should implement a similar pattern for VBET.

When the cleanup fails (which can happen for reasons outside our control) the temp folder will get included in the `rscli upload` step and break the old warehouse. We definitely don't want these files (and if we do want them we already have them zipped up.

[2022-11-18 16:20] MattReimer opened #639 "HUC8 10050015 Failure (on the canadian border)"
Hey Kelly,

Can you look into this failure please? Re: https://github.com/Riverscapes/riverscapes-tools/discussions/637

https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/2bd97f8b-b480-4b44-b93d-9179d66166f9

[2022-11-18 16:23] MattReimer opened #640 "HUC `05140201` failure: Need BIGTIFF=YES on big rasters"
@KellyMWhitehead I think we need BIGTIFF=YES option otherwise large HUC8 will fail. I'm not sure what the criteria are though.

[code]

[2022-11-18 16:24] MattReimer commented on #634
This one seems fixed.... finally

[2022-11-18 16:24] #634 closed

[2022-11-18 17:00] MattReimer commented on #629
THis is merged now. Should appear next time we rebase on top of `dev` branch

[2022-11-18 17:00] #629 closed

[2022-11-18 17:09] MattReimer commented on #477
@shelbysawyer where are we with this? I've kind of lost the plot here. Could you either close it or let me know what's still outstanding?

[2022-11-18 17:11] MattReimer commented on #478
Not sure where we're at with this. @shelbysawyer can you review some of the projects here:

https://github.com/Riverscapes/riverscapes-tools/discussions/637

and either close this issue or let us know what's left to do?

[2022-11-18 17:13] MattReimer commented on #584
@shelbysawyer can you review the VBET projects we've put up here:

https://github.com/Riverscapes/riverscapes-tools/discussions/637

Let's close this ticket or make some actionable checklists to get it closed

[2022-11-18 17:16] MattReimer commented on #624
We've got something way more advanced now. The `--debug` flag will dump a zip file with every intermediate raster we created.

Also the `--debug` flag enables detailed timers that report on the order, time taken of level paths and dumps both a CSV to the root of the project AND a table in the geopackage that you can marry to a shapefile layer in QGIS.

I'm closing this.

[2022-11-18 17:16] #624 closed

[2022-11-18 17:43] MattReimer commented on #579
@shelby could you please review some of the results on

https://github.com/Riverscapes/riverscapes-tools/discussions/637

and close this if it is complete (or let us know what's outstanding or incorrect)

[2022-11-18 17:45] MattReimer commented on #603
We now have a VBET evidence raster.

16010202 is done and 16010203 is on the way.

@shelbysawyer could you please review and close this issue when you are satisfied?

[2022-11-18 17:46] MattReimer commented on #613
This work is done and implemented related to #614

Closing.

[2022-11-18 17:46] #613 closed

[2022-11-18 17:47] MattReimer opened #641 "Bump VBET Version"
do it!

[2022-11-18 18:37] shelbysawyer commented on #477
Hi @MattReimer yes-- I'm on the east coast for 2 weeks of field work but will dive into VBET tasks more fully when I'm back in office on Nov 28th.

[2022-11-19 03:22] MattReimer opened #642 "VBET Error: HUC 10030201: Empty geometries cannot be constructed"
Full Logs
[10030201.log.zip](https://github.com/Riverscapes/riverscapes-tools/files/10045971/10030201.log.zip)

[code]

[2022-11-19 03:23] MattReimer commented on #642
Disregard

[2022-11-19 03:23] #642 closed

[2022-11-22 07:39] #638 closed

[2022-11-22 15:48] MattReimer opened #643 "composite_hand raster not compressed (even though it is)"
`hand_composite` is uncompressed and 315Mb even though the DEFLATE tag seems to be set correctly and the DEM is only 16Mb.

https://northarrowresearchlabs.github.io/riverscapes-staging/#/Anabranch/b7c607c7-5916-465b-b36f-e162bd936c21

[2022-11-28 16:12] lauren-herbine commented on #587
Closing this for now, as I've played around with it more, and it only happens on my laptop- not any other computer I've tried. So I'm thinking it's a me problem? Will re-open if I ever think it's more than that.

[2022-11-29 12:42] philipbaileynar opened #644 "VBET Evidence Raster Offset"
The creation of VBET evidence rasters is producing some kind of raster offset that produces "ghosting" of features. The image below is a single VBET evidence raster for a single LevelPath. Notice how the lake is "ghosted" twice in the raster!

- HUC: [16010202](https://northarrowresearchlabs.github.io/webrave-staging/#/Anabranch/d8485cc8-db2c-4b59-b410-a92f26a375dc)
- Level Path: 70000400011364

<

[2022-11-29 13:20] philipbaileynar commented on #644
I have tried to find out how this affects other reaches, ones that are smaller than the mainstem and that do not span most of the HUC extent.

In the top image above the offset seems to be east/west so I picked a smaller east/west level path at random (70000600008087). I don't see ghosting, but that might be because the level path analysis extent is clipped so tightly to the flow line. However, th

[2022-11-29 13:52] joewheaton commented on #644
Interesting... I have not noticed this, but it could be obscured by some other things. I still think what we discovered last week is the fundamental problem we see most frequently but this is important too.

[2022-11-29 14:27] philipbaileynar commented on #644
@joewheaton it is the other way round. This offset problem is obscuring other things. This is the main, fundamental problem for partially incomplete mainstem valley bottoms. In my research today I am far less confident that the transform zone issue will solve the mainstem VB protruding up into tribs than I am that the issue described here will make our mainstem VB more coherent.

@joewheaton last

[2022-11-29 20:34] philipbaileynar opened #645 "New Anthropogenic Project"
We need to break anthropogenic data and calculations out of sqlBRAT and into a dedicated projected where they can be used by both sqlBRAT and RCAT. The new project has two goals:

- Collect together data layers relevant to anthropogenic calculations
- Perform the land use intensity calculation used by both sqlBRAT and RCAT

# Project Definition

- Full name: Anthropogenic Context
- Abbreviated nam

[2022-11-29 21:44] philipbaileynar commented on #645
Just attaching this here until we document it for real...

- Digital Geographic Objects (DGOs) are polygons
- Integrated Geographic Objects (IGOs) are points at the center of the DGOs.
- The level paths are the Unified Geographic Objects (UGOs) red and yellow
- Any collection of DGOs that share common attributes are Aggregated Geographic Objects (AGO) (not shown)

Adapted from Alber & Piegay (2011

[2022-11-30 18:07] #619 closed

[2022-11-30 18:11] MattReimer commented on #539
Closing as there is no real fix here until the new warehouse comes out.

[2022-11-30 18:11] #539 closed

[2022-11-30 18:25] jtgilbert commented on #625
Everything is done but report updates. I'm closing this, report updates will be ongoing in the future.

[2022-11-30 18:25] #625 closed

[2022-11-30 18:25] #626 closed

[2022-11-30 18:25] #631 closed

[2022-11-30 18:26] #632 closed

[2022-11-30 20:29] shelbysawyer commented on #355
Circling back to this for documentation purposes.

This is a result of how TWI is calculated. TWI = ln(a / tan(B)). In theory, flat areas within valley bottoms should be the wettest and quickest to saturate. Therefore, we expect the highest TWI values here. However, if B (the slope gradient) is zero, tan(B) is also zero, giving us a division by zero (infinity). I'm guessing that this infinite quan

[2022-11-30 20:29] #355 closed

[2022-11-30 22:33] philipbaileynar commented on #644
et Voila!

Purple is original VB before the fix. Orange is after @KellyMWhitehead fixed a windowing problem in the combination of evidence.

<img width="1087" alt="Screenshot 2022-11-30 at 2 31 59 PM" src="https://user-images.githubusercontent.com/8645379/204922579-94125922-761a-4c4c-9be2-b205917af106.png">

<img width="1087" alt="Screenshot 2022-11-30 at 2 33 15 PM" src="https://user-images.githu

[2022-11-30 22:35] philipbaileynar commented on #644
Here's another area that was previously producing a noisy, swiss cheese VB and now looks much more coherent!
<img width="625" alt="Screenshot 2022-11-30 at 2 34 35 PM" src="https://user-images.githubusercontent.com/8645379/204922786-9a10411e-6a52-4406-b493-bc61bbd9a185.png">

<img width="625" alt="Screenshot 2022-11-30 at 2 34 44 PM" src="https://user-images.githubusercontent.com/8645379/204922818